# Data Preprocessing

Before we start conducting a detailed Exploratory Data Analysis (EDA), we need to build our final DataFrame by merging all the potentially valuable features for predicting fair matchmaking. This will include consolidating data from all the previously cleaned files and creating new features as needed.

---

## Initial Setup

In [1]:
# ---------------- Suppress all future warnings ---------------- #
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

# ---------------- Basic Data Science Libraries ---------------- #
import numpy as np # Linear algebra
import pandas as pd # Data processing
import random
import dask.dataframe as dd # Data processing for large DataFrames

# ---------------- System Libraries ---------------- #
import os # Miscellaneous operating system interfaces
import gc # Garbage collector interface
import ast
import nbimporter # Use functions from other Jupyter Notebooks'
from subprocess import check_output # Saves results written to the current directory as output

# ---------------- Plotting Libraries ---------------- #
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# ---------------- TrueSkill Library ---------------- #
import trueskill
import itertools
import math

# Function obtained from the documentation found in https://trueskill.org/
def win_probability(team1, team2):
    delta_mu = sum(r.mu for r in team1) - sum(r.mu for r in team2)
    sum_sigma = sum(r.sigma ** 2 for r in itertools.chain(team1, team2))
    size = len(team1) + len(team2)
    ts = trueskill.global_env()
    BETA = ts.beta
    denom = math.sqrt(size * (BETA * BETA) + sum_sigma)
    return ts.cdf(delta_mu / denom)

# Function to obtain a conservative skill rating
def conservative_trueskill_rating(mu, sigma):
    return mu - (3 * sigma)

# ---------------- Define Clean and Raw Directories ---------------- #
clean_folder = '../Data/Clean'
raw_folder = '../Data/Raw'

# ---------------- Set new DataFrame limiters ---------------- #
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)

# ---------------- Print files in my clean data folder ---------------- #
print(check_output(['ls', '../Data/Clean']).decode('utf8'))

ability_ids.csv
ability_upgrades.csv
chat.csv
eng_chat.csv
hero_ids.csv
item_ids.csv
matches.csv
mmr.csv
objectives.csv
patch_dates.csv
player_time.csv
players.csv
positions.csv
prev_outcomes.csv
purchase_log.csv
regions.csv
teamfights.csv
teamfights_players.csv
test_players.csv
trueskill.csv

---

## Feature Selection

Let's begin with our most crucial files in the dataset: matches.csv and players.csv. These contain the most information for each player per game.

In [2]:
# Load required files
players = pd.read_csv(clean_folder + '/players.csv', index_col=0)
print(f'players:', '{:,} observations, {:,} features'.format(players.shape[0], players.shape[1]))

matches = pd.read_csv(clean_folder + '/matches.csv', index_col=0)
print(f'matches:', '{:,} observations, {:,} features'.format(matches.shape[0], matches.shape[1]))

players: 500,000 observations, 73 features
matches: 50,000 observations, 13 features

It is challenging to consider adding more features from other files when our players' DataFrame already has 73 features. To simplify the process of creating fair matchmaking, we should reduce the number of features by removing those with a high number of null values, as well as those that have little impact on the match outcome.

In [3]:
# List unwanted features from the players DataFrame
features_to_drop = [
    'unit_order_none', 'unit_order_move_to_position', 'unit_order_move_to_target', 
    'unit_order_attack_move', 'unit_order_attack_target', 'unit_order_cast_position', 
    'unit_order_cast_target', 'unit_order_cast_target_tree', 'unit_order_cast_no_target', 
    'unit_order_cast_toggle', 'unit_order_hold_position', 'unit_order_train_ability', 
    'unit_order_drop_item', 'unit_order_give_item', 'unit_order_pickup_item', 
    'unit_order_pickup_rune', 'unit_order_purchase_item', 'unit_order_sell_item', 
    'unit_order_disassemble_item', 'unit_order_move_item', 'unit_order_cast_toggle_auto', 
    'unit_order_stop', 'unit_order_buyback', 'unit_order_glyph', 
    'unit_order_eject_item_from_stash', 'unit_order_cast_rune', 'unit_order_ping_ability', 
    'unit_order_move_to_direction', 'gold_abandon', 'gold_sell', 
    'gold_destroying_structure', 'gold_killing_couriers', 'match_slot_id'
]

# Drop the features
players = players.drop(columns=features_to_drop)
players.shape

(500000, 40)

Now that we have 40 features in our players' DataFrame, let's group together the features that can provide more insight into the overall team performance.

In [4]:
# Player Performance Features
player_features = ['kills', 'deaths', 'assists', 'denies', 'gold', 'gold_spent']

# Define categorical features
players['cluster'] = players['cluster'].astype('category')
players['hero_id'] = players['hero_id'].astype('category')
players['player_slot'] = players['player_slot'].astype('category')

# Display player features
players[player_features].head()

   kills  deaths  assists  denies  gold  gold_spent
0      9       3       18       1  3261       10960
1     13       3       18       9  2954       17760
2      0       4       15       1   110       12195
3      8       4       19       6  1179       22505
4     20       3       17      13  3307       23825

In [5]:
# Match Features
match_features = ['match_id', 'start_time', 'tower_status_radiant', 
                  'tower_status_dire', 'barracks_status_dire', 
                  'barracks_status_radiant', 'first_blood_time']
matches['start_time'] = pd.to_datetime(matches['start_time'], unit='s')
matches[match_features].head()

,match_id,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time
0,0,2015-11-05 19:01:52,1982,4,3,63,1
1,1,2015-11-05 19:51:18,0,1846,63,0,221
2,2,2015-11-05 23:03:06,256,1972,63,48,190
3,3,2015-11-05 23:22:03,4,1924,51,3,40
4,4,2015-11-06 07:53:05,2047,0,0,63,58

In [6]:
# Merge the match features to the players DataFrame
players = players.merge(matches[match_features], on='match_id', how='left')
display(players.head(20))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time
0,0,1,Double T,0,86,0,3261,10960,347,362,9,3,18,1,30,76.73560,8690,218,143,180,37,73,56,108,0,16,0,8840,5440,0,83,50,-957,0,5145,1087,400,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
1,0,1,Monkey,1,51,1,2954,17760,494,659,13,3,18,9,109,87.41640,23747,0,423,46,63,119,102,24,108,22,0,14331,8440,2683,671,395,-1137,0,6676,4317,937,16,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
2,0,1,Trash!!!,0,83,2,110,12195,350,385,0,4,15,1,58,0.00000,4217,1595,399,48,60,59,108,65,0,17,0,6692,8112,0,453,259,-1436,-1015,2418,3697,400,2,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
3,0,1,2,2,11,3,1179,22505,599,605,8,4,19,6,271,0.00000,14832,2714,6055,63,147,154,164,79,160,21,0,8583,14230,894,293,100,-2156,0,4104,10432,400,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
4,0,1,Kira,3,67,4,3307,23825,613,762,20,3,17,13,245,0.00000,33740,243,1833,114,92,147,0,137,63,24,0,15814,14325,0,62,0,-1437,-1056,7467,9220,400,1,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
5,0,0,4,4,106,128,476,12285,397,524,5,6,8,5,162,0.00000,10725,0,112,145,73,149,48,212,0,19,0,8502,12259,0,1,0,-2394,-2240,5281,6193,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
6,0,0,6k Slayer,0,102,129,317,10355,303,369,4,13,5,2,107,0.00000,15028,764,0,50,11,102,36,185,81,16,0,5201,9417,0,1,0,-3287,0,3396,4356,0,18,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
7,0,0,ｔｏｍｉａ～♥,5,46,130,2390,13395,452,517,4,8,6,31,208,0.00000,10230,0,2438,41,63,36,147,168,21,19,0,6853,13396,0,244,107,-3682,0,4350,8797,0,6,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
8,0,0,-,0,7,131,475,5035,189,223,1,14,8,0,27,67.02770,4774,0,0,36,0,0,46,0,180,12,0,4798,4038,0,27,0,-3286,-39,2127,1089,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
9,0,0,u didnt see who highest here?,6,73,132,60,17550,496,456,1,11,6,0,147,60.97480,6398,292,0,63,9,116,65,229,79,18,0,6659,10471,0,933,5679,-4039,-1063,2685,7011,0,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
10,1,0,-,0,7,0,76,12160,218,206,3,4,9,0,36,37.92430,4075,0,0,0,0,0,0,0,0,12,0,3857,4652,298,94,66,-1046,0,2574,1479,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
11,1,0,Apin's,7,82,1,9,19625,581,756,9,10,8,9,343,0.00000,13888,0,1679,48,0,176,96,1,108,25,0,2820,6588,298,22842,193,-4910,-238,4776,14199,559,4,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
12,1,0,Double T,0,71,2,1240,10220,339,352,5,13,11,3,76,99.99160,7788,0,81,172,181,63,116,9,73,16,0,9305,5868,0,3,0,-4067,-1112,6712,2606,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
13,1,0,stormX---,8,39,3,2400,14395,460,544,12,15,9,8,169,30.22340,19920,0,123,116,127,63,46,100,0,21,0,10970,11419,0,1038,598,-4995,-425,7194,6915,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
14,1,0,Buk lau,4,21,4,1051,12910,365,436,6,11,12,7,131,47.50440,12913,0,537,50,36,41,168,108,21,18,0,8191,9666,298,634,432,-4519,0,4237,5585,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
15,1,1,DA BOSS,9,73,128,1277,20275,600,509,2,12,24,2,220,86.26950,14130,0,1765,178,137,1,24,129,48,20,0,7883,12923,596,522,6428,-4608,-320,2808,8070,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
16,1,1,-,0,22,129,847,21840,487,517,8,5,17,0,193,1.00076,19218,0,988,201,1,190,48,65,235,20,0,6284,15942,0,65,0,-1555,0,3478,9091,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
17,1,1,Titus,0,5,130,389,19165,488,583,14,8,9,0,101,2.20195,11398,0,971,254,102,0,116,108,48,21,0,15399,8827,596,304,120,-2332,-1392,8495,4006,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
18,1,1,5,5,67,131,4055,24165,631,755,16,5,21,11,226,0.00000,28505,0,6149,158,50,147,196,114,46,25,0,17504,14008,596,417,208,-1315,0,9257,8430,510,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
19,1,1,D o r a,0,106,132,2517,22305,585,753,10,7,12,3,250,0.00000,20065,0,1275,48,0,1,141,145,145,25,0,14566,17677,0,176,71,-2333,0,6248,9965,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221

2037

---

## Feature Engineering

### Players DataFrame

#### Dealing with Player Anonymity

To achieve optimal results in our modelling stage, it is crucial to maximize player identification and treat truly anonymous players as individual entities *(i.e., as new players)*. Identifying as many players as possible will enhance the accuracy and effectiveness of our modelling process. We can achieve this by replacing the 0's from `account_id` with the string value from our `account` feature and recreating our `match_slot_id` from the Data Cleanup notebook for the truly anonymous.

In [7]:
# Look at the head from our players DataFrame
players.head()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time
0,0,1,Double T,0,86,0,3261,10960,347,362,9,3,18,1,30,76.7356,8690,218,143,180,37,73,56,108,0,16,0,8840,5440,0,83,50,-957,0,5145,1087,400,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
1,0,1,Monkey,1,51,1,2954,17760,494,659,13,3,18,9,109,87.4164,23747,0,423,46,63,119,102,24,108,22,0,14331,8440,2683,671,395,-1137,0,6676,4317,937,16,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
2,0,1,Trash!!!,0,83,2,110,12195,350,385,0,4,15,1,58,0.0000,4217,1595,399,48,60,59,108,65,0,17,0,6692,8112,0,453,259,-1436,-1015,2418,3697,400,2,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
3,0,1,2,2,11,3,1179,22505,599,605,8,4,19,6,271,0.0000,14832,2714,6055,63,147,154,164,79,160,21,0,8583,14230,894,293,100,-2156,0,4104,10432,400,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
4,0,1,Kira,3,67,4,3307,23825,613,762,20,3,17,13,245,0.0000,33740,243,1833,114,92,147,0,137,63,24,0,15814,14325,0,62,0,-1437,-1056,7467,9220,400,1,2375,155,2015-11-05 19:01:52,1982,4,3,63,1

In [8]:
# Replacing the 0 values from account_id
for idx, row in players.iterrows():
    if row['account_id'] == 0:
        if row['account'] == '-':
            players.loc[idx, 'account_id'] = '0_'+str(row['match_id'])+'_'+str(row['player_slot'])
        else:
            players.loc[idx, 'account_id'] = row['account']
    else:
        players.loc[idx, 'account_id'] = str(row['account_id']) # Might throw some errors when calculating the initial TrueSkill data

print(players['account_id'].dtype)
display(players[players['account'] == '-'].sample(5))

object

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time
198186,19818,0,-,0_19818_129,54,129,2405,13700,484,677,15,15,15,5,70,0.0000,18665,547,87,151,50,127,154,149,0,23,0,21308,6316,0,525,359,-5895,-1434,12100,2821,0,0,2493,132,2015-11-14 19:51:42,1846,0,0,63,138
486403,48640,0,-,0_48640_3,11,3,374,9275,367,424,3,10,5,10,128,0.0000,11113,0,0,212,36,41,170,63,152,16,0,3689,9853,0,261,194,-3350,0,3087,5343,0,0,1949,154,2015-11-18 02:25:17,0,2039,63,0,103
150496,15049,1,-,0_15049_129,84,129,2241,7465,296,321,1,5,13,0,18,35.0247,5671,0,1019,43,36,180,108,46,0,14,0,5954,5019,0,119,50,-1195,0,2244,598,0,0,2066,153,2015-11-14 06:14:36,0,2036,63,0,148
479740,47974,0,-,0_47974_0,7,0,9,7830,201,264,0,5,13,2,45,70.5912,5115,0,0,36,0,178,100,46,214,13,0,3546,5977,0,725,362,-1345,0,1731,1344,0,0,2327,123,2015-11-18 00:25:39,0,1974,63,0,140
449274,44927,0,-,0_44927_4,53,4,4279,26150,644,621,11,12,32,3,410,0.0000,18841,0,1335,98,96,168,108,63,110,25,0,20796,11888,0,13,90,-5298,-140,11094,16334,0,0,3158,121,2015-11-17 17:18:41,0,1926,63,0,20

#### Hero Attributes

In addition to capturing the hero IDs, it is important for us to gather detailed insights into the decision-making process behind each player's hero selections, as well as their capabilities in different roles with these chosen heroes. As a result, it is essential to extract this information from our `hero_id` file and meticulously process it to enrich our DataFrame with valuable insights.

In [9]:
# Load required files
heroes = pd.read_csv(clean_folder + '/hero_ids.csv')
print(f'heroes:', '{:,} observations, {:,} features'.format(heroes.shape[0], heroes.shape[1]))

heroes: 112 observations, 4 features

In [10]:
# Look at the head
heroes.head()

,hero_id,name,primary_attribute,roles
0,1,Anti-Mage,agi,"{'Nuker', 'Escape', 'Carry'}"
1,2,Axe,str,"{'Carry', 'Disabler', 'Durable', 'Initiator'}"
2,3,Bane,all,"{'Support', 'Disabler', 'Durable', 'Nuker'}"
3,4,Bloodseeker,agi,"{'Nuker', 'Initiator', 'Disabler', 'Carry'}"
4,5,Crystal Maiden,int,"{'Support', 'Disabler', 'Nuker'}"

The first thing we can notice is that these roles were saved as a set to avoid any duplicated values. We need to confirm that the file was read correctly and ensure that we can read the feature values as sets. Once we accomplish this, we'll be able to one-hot encode the roles that each hero can fulfill during a match.

In [11]:
# Convert the roles feature from strings to actual sets
heroes['roles'] = heroes['roles'].apply(ast.literal_eval)

# Extract all unique roles
unique_hero_roles = set(role for roles in heroes['roles'] for role in roles) # To ensure we won't have duplicated values
unique_hero_roles = list(unique_hero_roles) # To convert to columns later

# Create a new DataFrame for one-hot encoding the roles
one_hot_encoded_roles = pd.DataFrame(0, index=heroes.index, columns=unique_hero_roles)

# Fill the DataFrame with ones for each role covered by a hero
for idx, roles in enumerate(heroes['roles']):
    for role in roles:
        one_hot_encoded_roles.at[idx, role] = 1

# Concatenate to original DataFrame and dropping original feature
heroes = pd.concat([heroes, one_hot_encoded_roles], axis=1)
heroes.drop(columns='roles', inplace=True)

# Look at the head
heroes.head()

,hero_id,name,primary_attribute,Nuker,Initiator,Durable,Pusher,Support,Carry,Disabler,Escape
0,1,Anti-Mage,agi,1,0,0,0,0,1,0,1
1,2,Axe,str,0,1,1,0,0,1,1,0
2,3,Bane,all,1,0,1,0,1,0,1,0
3,4,Bloodseeker,agi,1,1,0,0,0,1,1,0
4,5,Crystal Maiden,int,1,0,0,0,1,0,1,0

Now that we have our one-hot encoded roles in place, it is time to merge them into the players' DataFrame.

In [12]:
# Rename the columns before merge
heroes.rename(columns={
    'primary_attribute': 'hero_primary_attribute',
    'Carry': 'hero_role_carry',
    'Escape': 'hero_role_escape',
    'Durable': 'hero_role_durable',
    'Pusher': 'hero_role_pusher',
    'Initiator': 'hero_role_initiator',
    'Disabler': 'hero_role_disabler',
    'Nuker': 'hero_role_nuker',
    'Support': 'hero_role_support'
}, inplace=True)

# Merge into the players' DataFrame
players = players.merge(right=heroes.drop(columns='name'), on='hero_id', how='left')

# Sanity check
display(players.head(20))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,hero_primary_attribute,hero_role_nuker,hero_role_initiator,hero_role_durable,hero_role_pusher,hero_role_support,hero_role_carry,hero_role_disabler,hero_role_escape
0,0,1,Double T,Double T,86,0,3261,10960,347,362,9,3,18,1,30,76.73560,8690,218,143,180,37,73,56,108,0,16,0,8840,5440,0,83,50,-957,0,5145,1087,400,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,int,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0,1,Monkey,1,51,1,2954,17760,494,659,13,3,18,9,109,87.41640,23747,0,423,46,63,119,102,24,108,22,0,14331,8440,2683,671,395,-1137,0,6676,4317,937,16,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,all,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0,1,Trash!!!,Trash!!!,83,2,110,12195,350,385,0,4,15,1,58,0.00000,4217,1595,399,48,60,59,108,65,0,17,0,6692,8112,0,453,259,-1436,-1015,2418,3697,400,2,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,str,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,0,1,2,2,11,3,1179,22505,599,605,8,4,19,6,271,0.00000,14832,2714,6055,63,147,154,164,79,160,21,0,8583,14230,894,293,100,-2156,0,4104,10432,400,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,agi,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0,1,Kira,3,67,4,3307,23825,613,762,20,3,17,13,245,0.00000,33740,243,1833,114,92,147,0,137,63,24,0,15814,14325,0,62,0,-1437,-1056,7467,9220,400,1,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,agi,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
5,0,0,4,4,106,128,476,12285,397,524,5,6,8,5,162,0.00000,10725,0,112,145,73,149,48,212,0,19,0,8502,12259,0,1,0,-2394,-2240,5281,6193,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,agi,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
6,0,0,6k Slayer,6k Slayer,102,129,317,10355,303,369,4,13,5,2,107,0.00000,15028,764,0,50,11,102,36,185,81,16,0,5201,9417,0,1,0,-3287,0,3396,4356,0,18,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,all,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
7,0,0,ｔｏｍｉａ～♥,5,46,130,2390,13395,452,517,4,8,6,31,208,0.00000,10230,0,2438,41,63,36,147,168,21,19,0,6853,13396,0,244,107,-3682,0,4350,8797,0,6,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,agi,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
8,0,0,-,0_0_131,7,131,475,5035,189,223,1,14,8,0,27,67.02770,4774,0,0,36,0,0,46,0,180,12,0,4798,4038,0,27,0,-3286,-39,2127,1089,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,str,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
9,0,0,u didnt see who highest here?,6,73,132,60,17550,496,456,1,11,6,0,147,60.97480,6398,292,0,63,9,116,65,229,79,18,0,6659,10471,0,933,5679,-4039,-1063,2685,7011,0,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,str,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
10,1,0,-,0_1_0,7,0,76,12160,218,206,3,4,9,0,36,37.92430,4075,0,0,0,0,0,0,0,0,12,0,3857,4652,298,94,66,-1046,0,2574,1479,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,str,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
11,1,0,Apin's,7,82,1,9,19625,581,756,9,10,8,9,343,0.00000,13888,0,1679,48,0,176,96,1,108,25,0,2820,6588,298,22842,193,-4910,-238,4776,14199,559,4,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,agi,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0
12,1,0,Double T,Double T,71,2,1240,10220,339,352,5,13,11,3,76,99.99160,7788,0,81,172,181,63,116,9,73,16,0,9305,5868,0,3,0,-4067,-1112,6712,2606,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,str,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
13,1,0,stormX---,8,39,3,2400,14395,460,544,12,15,9,8,169,30.22340,19920,0,123,116,127,63,46,100,0,21,0,10970,11419,0,1038,598,-4995,-425,7194,6915,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,int,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
14,1,0,Buk lau,4,21,4,1051,12910,365,436,6,11,12,7,131,47.50440,12913,0,537,50,36,41,168,108,21,18,0,8191,9666,298,634,432,-4519,0,4237,5585,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,all,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
15,1,1,DA BOSS,9,73,128,1277,20275,600,509,2,12,24,2,220,86.26950,14130,0,1765,178,137,1,24,129,48,20,0,7883,12923,596,522,6428,-4608,-320,2808,8070,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,str,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
16,1,1,-,0_1_129,22,129,847,21840,487,517,8,5,17,0,193,1.00076,19218,0,988,201,1,190,48,65,235,20,0,6284,15942,0,65,0,-1555,0,3478,9091,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,int,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17,1,1,Titus,Titus,5,130,389,19165,488,583,14,8,9,0,101,2.20195,11398,0,971,254,102,0,116,108,48,21,0,15399,8827,596,304,120,-2332,-1392,8495,4006,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,int,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
18,1,1,5,5,67,131,4055,24165,631,755,16,5,21,11,226,0.00000,28505,0,6149,158,50,147,196,114,46,25,0,17504,14008,596,417,208,-1315,0,9257,8430,510,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,agi,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
19,1,1,D o r a,D o r a,106,132,2517,22305,585,753,10,7,12,3,250,0.00000,20065,0,1275,48,0,1,141,145,145,25,0,14566,17677,0,176,71,-2333,0,6248,9965,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,agi,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0

1232

#### Team Features

To fully grasp the extent of each player's impact on the team, it is essential to calculate the ratio of each player's individual contribution to the overall team statistics for every match. This involves extracting specific performance metrics and consolidating them for each team to obtain a comprehensive understanding of player involvement.

##### Overall Team Performance

In [13]:
# Aggregate team stats
team_stats = players.groupby(['match_id', 'player_slot'])[player_features].sum().reset_index()
team_stats['radiant_team'] = team_stats['player_slot'].apply(lambda x: 1 if x < 5 else 0)

# Aggregating them by team
team_features = team_stats.groupby(['match_id', 'radiant_team'], observed=False)[player_features].sum().reset_index()

# Rename columns for merge
team_features.rename(columns={'kills': 'team_kills', 
                              'deaths': 'team_deaths', 
                              'assists': 'team_assists', 
                              'denies': 'team_denies', 
                              'gold': 'team_gold', 
                              'gold_spent': 'team_gold_spent'}, inplace=True)

display(team_stats.head(10))
display(team_features.head(10))

,match_id,player_slot,kills,deaths,assists,denies,gold,gold_spent,radiant_team
0,0,0,9,3,18,1,3261,10960,1
1,0,1,13,3,18,9,2954,17760,1
2,0,2,0,4,15,1,110,12195,1
3,0,3,8,4,19,6,1179,22505,1
4,0,4,20,3,17,13,3307,23825,1
5,0,128,5,6,8,5,476,12285,0
6,0,129,4,13,5,2,317,10355,0
7,0,130,4,8,6,31,2390,13395,0
8,0,131,1,14,8,0,475,5035,0
9,0,132,1,11,6,0,60,17550,0

,match_id,radiant_team,team_kills,team_deaths,team_assists,team_denies,team_gold,team_gold_spent
0,0,0,15,52,33,38,3718,58620
1,0,1,50,17,87,30,10811,87245
2,1,0,50,37,83,16,9085,107750
3,1,1,35,53,49,27,4776,69310
4,2,0,48,22,90,16,11177,81620
5,2,1,22,49,31,10,2494,54990
6,3,0,63,65,110,29,5954,94430
7,3,1,64,66,92,32,6455,76685
8,4,0,16,37,30,21,2030,38980
9,4,1,37,16,59,26,14099,78980

##### KDA Scores

KDA Scores can be calculated using the following formula:

$\displaystyle{KDA = \frac{kills + assists}{deaths +1}}$

In [14]:
# Calculate KDA Scores
kda_score = (team_stats['kills'] + team_stats['assists']) / (team_stats['deaths'] + 1)
team_stats.insert(2, column='kda', value=kda_score)
team_stats.drop(columns=['kills', 'deaths', 'assists'], inplace=True)

team_kda_score = (team_features['team_kills'] + team_features['team_assists']) / (team_features['team_deaths'] + 1)
team_features.insert(2, column='team_kda', value=team_kda_score)
team_features.drop(columns=['team_kills', 'team_deaths', 'team_assists'], inplace=True)

display(team_stats.head(10))
display(team_features.head(10))

   match_id player_slot       kda  denies  gold  gold_spent  radiant_team
0         0           0  6.750000       1  3261       10960             1
1         0           1  7.750000       9  2954       17760             1
2         0           2  3.000000       1   110       12195             1
3         0           3  5.400000       6  1179       22505             1
4         0           4  9.250000      13  3307       23825             1
5         0         128  1.857143       5   476       12285             0
6         0         129  0.642857       2   317       10355             0
7         0         130  1.111111      31  2390       13395             0
8         0         131  0.600000       0   475        5035             0
9         0         132  0.583333       0    60       17550             0

   match_id  radiant_team  team_kda  team_denies  team_gold  team_gold_spent
0         0             0  0.905660           38       3718            58620
1         0             1  7.611111           30      10811            87245
2         1             0  3.500000           16       9085           107750
3         1             1  1.555556           27       4776            69310
4         2             0  6.000000           16      11177            81620
5         2             1  1.060000           10       2494            54990
6         3             0  2.621212           29       5954            94430
7         3             1  2.328358           32       6455            76685
8         4             0  1.210526           21       2030            38980
9         4             1  5.647059           26      14099            78980

Now let's calculate the ratios for each player.

In [15]:
# Calculate participation ratios
team_stats = team_stats.merge(team_features, on=['match_id', 'radiant_team'], how='left')
for col in team_stats.columns:
    if col.startswith('team_'):
        player_col = col.split('team_')
        team_stats[col] = team_stats[player_col[1]] / team_stats[col]

display(team_stats.head(10))

,match_id,player_slot,kda,denies,gold,gold_spent,radiant_team,team_kda,team_denies,team_gold,team_gold_spent
0,0,0,6.750000,1,3261,10960,1,0.886861,0.033333,0.301637,0.125623
1,0,1,7.750000,9,2954,17760,1,1.018248,0.300000,0.273240,0.203565
2,0,2,3.000000,1,110,12195,1,0.394161,0.033333,0.010175,0.139779
3,0,3,5.400000,6,1179,22505,1,0.709489,0.200000,0.109056,0.257952
4,0,4,9.250000,13,3307,23825,1,1.215328,0.433333,0.305892,0.273082
5,0,128,1.857143,5,476,12285,0,2.050595,0.131579,0.128026,0.209570
6,0,129,0.642857,2,317,10355,0,0.709821,0.052632,0.085261,0.176646
7,0,130,1.111111,31,2390,13395,0,1.226852,0.815789,0.642819,0.228506
8,0,131,0.600000,0,475,5035,0,0.662500,0.000000,0.127757,0.085892
9,0,132,0.583333,0,60,17550,0,0.644097,0.000000,0.016138,0.299386

Finally, we are able to proceed with merging the team participation ratios into our players' DataFrame.

In [16]:
# Merge to the players DataFrame
players = players.merge(team_stats.drop(columns=['denies', 'gold', 'gold_spent']), 
                        on=['match_id', 'player_slot'], how='left')

# Define radiant_team as categorical
players['radiant_team'] = players['radiant_team'].astype('category')

# Sanity check
display(players.head(20))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,hero_primary_attribute,hero_role_nuker,hero_role_initiator,hero_role_durable,hero_role_pusher,hero_role_support,hero_role_carry,hero_role_disabler,hero_role_escape,kda,radiant_team,team_kda,team_denies,team_gold,team_gold_spent
0,0,1,Double T,Double T,86,0,3261,10960,347,362,9,3,18,1,30,76.73560,8690,218,143,180,37,73,56,108,0,16,0,8840,5440,0,83,50,-957,0,5145,1087,400,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,int,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,6.750000,1,0.886861,0.033333,0.301637,0.125623
1,0,1,Monkey,1,51,1,2954,17760,494,659,13,3,18,9,109,87.41640,23747,0,423,46,63,119,102,24,108,22,0,14331,8440,2683,671,395,-1137,0,6676,4317,937,16,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,all,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,7.750000,1,1.018248,0.300000,0.273240,0.203565
2,0,1,Trash!!!,Trash!!!,83,2,110,12195,350,385,0,4,15,1,58,0.00000,4217,1595,399,48,60,59,108,65,0,17,0,6692,8112,0,453,259,-1436,-1015,2418,3697,400,2,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,str,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,3.000000,1,0.394161,0.033333,0.010175,0.139779
3,0,1,2,2,11,3,1179,22505,599,605,8,4,19,6,271,0.00000,14832,2714,6055,63,147,154,164,79,160,21,0,8583,14230,894,293,100,-2156,0,4104,10432,400,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,agi,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.400000,1,0.709489,0.200000,0.109056,0.257952
4,0,1,Kira,3,67,4,3307,23825,613,762,20,3,17,13,245,0.00000,33740,243,1833,114,92,147,0,137,63,24,0,15814,14325,0,62,0,-1437,-1056,7467,9220,400,1,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,agi,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,9.250000,1,1.215328,0.433333,0.305892,0.273082
5,0,0,4,4,106,128,476,12285,397,524,5,6,8,5,162,0.00000,10725,0,112,145,73,149,48,212,0,19,0,8502,12259,0,1,0,-2394,-2240,5281,6193,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,agi,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.857143,0,2.050595,0.131579,0.128026,0.209570
6,0,0,6k Slayer,6k Slayer,102,129,317,10355,303,369,4,13,5,2,107,0.00000,15028,764,0,50,11,102,36,185,81,16,0,5201,9417,0,1,0,-3287,0,3396,4356,0,18,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,all,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.642857,0,0.709821,0.052632,0.085261,0.176646
7,0,0,ｔｏｍｉａ～♥,5,46,130,2390,13395,452,517,4,8,6,31,208,0.00000,10230,0,2438,41,63,36,147,168,21,19,0,6853,13396,0,244,107,-3682,0,4350,8797,0,6,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,agi,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.111111,0,1.226852,0.815789,0.642819,0.228506
8,0,0,-,0_0_131,7,131,475,5035,189,223,1,14,8,0,27,67.02770,4774,0,0,36,0,0,46,0,180,12,0,4798,4038,0,27,0,-3286,-39,2127,1089,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,str,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.600000,0,0.662500,0.000000,0.127757,0.085892
9,0,0,u didnt see who highest here?,6,73,132,60,17550,496,456,1,11,6,0,147,60.97480,6398,292,0,63,9,116,65,229,79,18,0,6659,10471,0,933,5679,-4039,-1063,2685,7011,0,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,str,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.583333,0,0.644097,0.000000,0.016138,0.299386
10,1,0,-,0_1_0,7,0,76,12160,218,206,3,4,9,0,36,37.92430,4075,0,0,0,0,0,0,0,0,12,0,3857,4652,298,94,66,-1046,0,2574,1479,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,str,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,2.400000,1,1.542857,0.000000,0.015913,0.175444
11,1,0,Apin's,7,82,1,9,19625,581,756,9,10,8,9,343,0.00000,13888,0,1679,48,0,176,96,1,108,25,0,2820,6588,298,22842,193,-4910,-238,4776,14199,559,4,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,agi,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.545455,1,0.993506,0.333333,0.001884,0.283148
12,1,0,Double T,Double T,71,2,1240,10220,339,352,5,13,11,3,76,99.99160,7788,0,81,172,181,63,116,9,73,16,0,9305,5868,0,3,0,-4067,-1112,6712,2606,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,str,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.142857,1,0.734694,0.111111,0.259631,0.147453
13,1,0,stormX---,8,39,3,2400,14395,460,544,12,15,9,8,169,30.22340,19920,0,123,116,127,63,46,100,0,21,0,10970,11419,0,1038,598,-4995,-425,7194,6915,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,int,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.312500,1,0.843750,0.296296,0.502513,0.207690
14,1,0,Buk lau,4,21,4,1051,12910,365,436,6,11,12,7,131,47.50440,12913,0,537,50,36,41,168,108,21,18,0,8191,9666,298,634,432,-4519,0,4237,5585,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,all,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.500000,1,0.964286,0.259259,0.220059,0.186265
15,1,1,DA BOSS,9,73,128,1277,20275,600,509,2,12,24,2,220,86.26950,14130,0,1765,178,137,1,24,129,48,20,0,7883,12923,596,522,6428,-4608,-320,2808,8070,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,str,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,2.000000,0,0.571429,0.125000,0.140561,0.188167
16,1,1,-,0_1_129,22,129,847,21840,487,517,8,5,17,0,193,1.00076,19218,0,988,201,1,190,48,65,235,20,0,6284,15942,0,65,0,-1555,0,3478,9091,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,int,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.166667,0,1.190476,0.000000,0.093231,0.202691
17,1,1,Titus,Titus,5,130,389,19165,488,583,14,8,9,0,101,2.20195,11398,0,971,254,102,0,116,108,48,21,0,15399,8827,596,304,120,-2332,-1392,8495,4006,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,int,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.555556,0,0.730159,0.000000,0.042818,0.177865
18,1,1,5,5,67,131,4055,24165,631,755,16,5,21,11,226,0.00000,28505,0,6149,158,50,147,196,114,46,25,0,17504,14008,596,417,208,-1315,0,9257,8430,510,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,agi,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,6.166667,0,1.761905,0.687500,0.446340,0.224269
19,1,1,D o r a,D o r a,106,132,2517,22305,585,753,10,7,12,3,250,0.00000,20065,0,1275,48,0,1,141,145,145,25,0,14566,17677,0,176,71,-2333,0,6248,9965,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,agi,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2.750000,0,0.785714,0.187500,0.277050,0.207007

0

#### Teamfights

Team fights are a great way to assess each team's performance and coordination. Engineering features that help us analyze the dynamics and results of team fights can provide valuable insights into player performance, team synergy, and the influence of team fights on the overall match result.

In [17]:
# Load required files
tf_players = pd.read_csv(clean_folder + '/teamfights_players.csv', index_col=0)
print(f'tf_players:', '{:,} observations, {:,} features'.format(tf_players.shape[0], tf_players.shape[1]))

tf_players: 5,390,470 observations, 9 features

In [18]:
# Teamfight Participation
def count_values_not_zero(series):
    return (series > 0).sum()

player_teamfights = tf_players.groupby(['match_id', 'player_slot'])['damage'].agg(count_values_not_zero).reset_index(name='teamfights')

# Teamfight Performance
tf_player_damage = tf_players.groupby(['match_id', 'player_slot'])['damage'].sum().reset_index(name='tf_damage_dealt')
tf_player_buybacks = tf_players.groupby(['match_id', 'player_slot'])['buybacks'].sum().reset_index(name='tf_buybacks')
tf_player_deaths = tf_players.groupby(['match_id', 'player_slot'])['deaths'].sum().reset_index(name='tf_deaths')

# Teamfight Impact
tf_player_gold_delta = tf_players.groupby(['match_id', 'player_slot'])['gold_delta'].mean().reset_index(name='tf_avg_gold_delta')
tf_player_xp_delta = tf_players.groupby(['match_id', 'player_slot']).apply(lambda x: (x['xp_end'] - x['xp_start']).mean()).reset_index(name='tf_avg_xp_delta')

# Merge all features in a single DataFrame
player_teamfights = player_teamfights.merge(tf_player_damage, on=['match_id', 'player_slot'], how='left')
player_teamfights = player_teamfights.merge(tf_player_buybacks, on=['match_id', 'player_slot'], how='left')
player_teamfights = player_teamfights.merge(tf_player_deaths, on=['match_id', 'player_slot'], how='left')
player_teamfights = player_teamfights.merge(tf_player_gold_delta, on=['match_id', 'player_slot'], how='left')
player_teamfights = player_teamfights.merge(tf_player_xp_delta, on=['match_id', 'player_slot'], how='left')


# Display the head and shape of player_teamfights
display(player_teamfights.head(20))
print(f'player_teamfights:', '{:,} observations, {:,} features'.format(player_teamfights.shape[0], player_teamfights.shape[1]))

,match_id,player_slot,teamfights,tf_damage_dealt,tf_buybacks,tf_deaths,tf_avg_gold_delta,tf_avg_xp_delta
0,0,0,10,6099,0,2,329.166667,538.333333
1,0,1,10,13663,0,4,409.833333,1112.250000
2,0,2,7,1155,1,3,123.666667,495.166667
3,0,3,9,15201,0,4,317.333333,795.750000
4,0,4,12,30774,1,2,460.583333,1189.416667
5,0,128,10,23616,2,5,86.750000,731.666667
6,0,129,9,12807,0,4,211.583333,516.750000
7,0,130,8,15988,0,5,193.000000,610.250000
8,0,131,10,5718,1,9,-29.833333,401.750000
9,0,132,10,9786,1,9,-65.750000,639.500000
10,1,0,10,6264,0,4,145.266667,296.800000
11,1,1,15,64805,0,43,148.266667,696.933333
12,1,2,12,9215,1,8,135.066667,626.600000
13,1,3,11,21740,0,8,277.466667,693.133333
14,1,4,12,9786,0,5,181.133333,567.933333
15,1,128,12,17147,1,8,125.600000,519.800000
16,1,129,10,14173,0,3,296.466667,543.466667
17,1,130,11,8165,1,5,328.266667,864.800000
18,1,131,14,37046,0,3,602.666667,1103.266667
19,1,132,9,25600,0,4,404.533333,972.333333

player_teamfights: 499,310 observations, 8 features

It's odd that we are missing 690 observations in this new DataFrame. It's possible that these players did not engage in any teamfights, either by avoiding them entirely or due to thrown matches.

In [19]:
# Look for original match_ids
print('Total matches in original:', tf_players['match_id'].nunique())

Total matches in original: 49931

After verifying that there are no random missing values, instead of disregarding specific matches, let's merge these new features into our players' DataFrame and then examine the observations with null values. We will investigate the teamfight missing values after exploring the matches DataFrame.

In [20]:
# Merging to the players' DataFrame
players = players.drop(columns=['kills', 'deaths', 'assists'])\
                .merge(player_teamfights, on=['match_id', 'player_slot'], how='left')
display(players[players['teamfights'].isna()].sample(50))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,hero_primary_attribute,hero_role_nuker,hero_role_initiator,hero_role_durable,hero_role_pusher,hero_role_support,hero_role_carry,hero_role_disabler,hero_role_escape,kda,radiant_team,team_kda,team_denies,team_gold,team_gold_spent,teamfights,tf_damage_dealt,tf_buybacks,tf_deaths,tf_avg_gold_delta,tf_avg_xp_delta
261141,26114,1,Rock_melon,97821,84,1,1039,1045,245,225,0,3,3.065920,1155,0,17,0,29,0,0,0,0,4,0,520,688,0,130,112,0,0,680,72,0,10,356,171,2015-11-15 12:04:55,2047,2047,63,63,138,str,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,2.000000,1,0.250000,0.000000,0.366879,0.111526,NaN,NaN,NaN,NaN,NaN,NaN
309846,30984,1,Drak0n,10243,62,129,861,5425,335,190,0,8,0.300000,5834,16,44,0,180,181,81,0,0,7,0,1413,1351,0,8,0,-29,0,2608,306,0,1,873,132,2015-11-15 21:20:54,2036,2047,63,63,2,agi,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6.000000,0,0.585366,0.000000,0.257862,0.198827,NaN,NaN,NaN,NaN,NaN,NaN
402777,40277,0,136179,136179,11,130,1553,3885,421,410,3,52,0.000000,1419,0,0,212,25,41,29,16,0,9,1,522,4333,0,203,170,-926,0,478,2014,0,0,738,122,2015-11-17 01:44:11,2047,2047,63,63,100,agi,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.200000,0,0.275000,0.375000,0.994875,0.284095,NaN,NaN,NaN,NaN,NaN,NaN
409590,40959,1,137625,137625,41,0,932,3400,426,351,3,44,0.000000,480,0,366,11,71,0,65,0,0,7,0,76,2459,0,112,100,0,0,191,2003,0,0,451,132,2015-11-17 03:38:10,2047,1983,63,63,49,agi,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.000000,1,0.200000,0.375000,0.176917,0.304523,NaN,NaN,NaN,NaN,NaN,NaN
449080,44908,1,-,0_44908_0,18,0,331,2050,340,278,3,20,5.931880,1094,0,0,29,0,25,13,20,11,4,0,100,1073,0,102,100,0,0,373,625,0,0,274,133,2015-11-17 17:15:47,2047,2047,63,63,101,str,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.000000,1,0.166667,0.150000,0.235923,0.236175,NaN,NaN,NaN,NaN,NaN,NaN
409123,40912,0,119415,119415,67,3,901,4825,269,293,6,60,0.000000,1692,0,0,125,22,29,19,0,11,10,0,560,4982,0,100,100,-388,0,424,2405,0,0,1154,123,2015-11-17 03:29:51,304,2039,63,60,7,agi,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.000000,1,0.000000,0.214286,0.176217,0.249547,NaN,NaN,NaN,NaN,NaN,NaN
488792,48879,1,21304,21304,59,2,436,7205,501,328,20,67,0.000000,3249,0,3169,151,12,164,162,29,13,9,0,277,4268,0,54,0,0,0,491,2731,0,0,838,133,2015-11-18 03:04:44,2047,390,51,63,88,str,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.000000,1,0.206897,0.540541,0.159707,0.212757,NaN,NaN,NaN,NaN,NaN,NaN
155104,15510,1,Youngest,32491,12,4,3222,8590,506,352,0,90,0.000000,3003,0,2907,11,185,63,174,46,212,11,0,1009,6116,447,227,201,0,0,1122,3585,200,2,1326,121,2015-11-14 07:41:06,2046,4,3,63,147,agi,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,6.000000,1,0.666667,0.000000,0.183266,0.236216,NaN,NaN,NaN,NaN,NaN,NaN
402770,40277,1,♥ hotline bling ♥,136178,112,0,363,1780,137,195,2,5,8.064700,1973,0,46,34,178,42,39,0,0,6,0,383,2026,0,0,0,-178,0,263,201,0,1,738,122,2015-11-17 01:44:11,2047,2047,63,63,100,all,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.666667,1,0.175439,0.066667,0.081117,0.101280,NaN,NaN,NaN,NaN,NaN,NaN
386734,38673,0,-,0_38673_4,21,4,1,1950,240,200,1,13,6.098510,1721,0,0,50,0,39,16,16,0,7,1,145,2491,0,0,0,-298,0,127,565,0,0,789,133,2015-11-16 21:38:23,1974,2047,63,63,246,all,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.333333,1,0.777778,0.052632,0.000299,0.173565,NaN,NaN,NaN,NaN,NaN,NaN
243010,24301,1,Eagle,836,85,0,879,7965,464,220,0,30,0.000000,3428,151,1246,214,182,36,92,108,181,8,0,977,2617,0,238,100,0,0,1436,1162,0,7,1042,121,2015-11-15 06:36:03,2047,6,3,63,88,str,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,8.000000,1,1.290323,0.000000,0.109683,0.187854,NaN,NaN,NaN,NaN,NaN,NaN
35870,3587,1,Kumalicious,18057,5,0,755,770,145,146,1,1,0.133295,389,0,0,0,44,38,0,0,0,3,0,32,673,0,0,0,0,0,36,21,0,10,289,204,2015-11-12 18:33:19,2047,2039,63,63,0,int,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.000000,1,0.166667,0.062500,0.161566,0.123299,NaN,NaN,NaN,NaN,NaN,NaN
368322,36832,0,11597,11597,50,2,0,1070,247,65,0,1,0.000000,795,0,0,44,38,29,0,0,16,2,1,94,205,0,0,0,-88,0,295,43,0,0,275,138,2015-11-16 16:55:18,2047,2047,63,63,129,all,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.333333,1,0.833333,0.000000,0.000000,0.269182,NaN,NaN,NaN,NaN,NaN,NaN
16324,1632,0,TNT,TNT,57,4,2636,1515,349,150,1,4,0.000000,471,661,0,29,0,38,0,0,0,5,1,86,1291,0,140,116,0,0,81,91,0,3,605,138,2015-11-12 13:09:28,2047,2047,63,63,145,str,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.000000,1,0.000000,0.125000,1.000000,0.147733,NaN,NaN,NaN,NaN,NaN,NaN
488297,48829,0,SNSKRT,123918,39,130,728,11220,317,299,14,78,0.000000,4933,0,42,216,216,216,216,216,216,10,0,274,5090,0,468,252,-1016,-335,603,3383,0,7,1168,132,2015-11-18 02:56:11,2047,256,48,63,1,int,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.400000,0,0.727273,0.636364,0.115263,0.512095,NaN,NaN,NaN,NaN,NaN,NaN
258888,25888,0,-,0_25888_131,74,131,1,1590,173,147,4,16,6.198610,825,0,0,50,13,13,0,0,0,6,1,0,2187,0,6,0,-119,0,37,656,0,0,892,133,2015-11-15 11:25:16,1983,4,3,63,60,all,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.000000,0,0.000000,0.666667,0.000410,0.121051,NaN,NaN,NaN,NaN,NaN,NaN
326147,32614,0,116940,116940,29,130,1,485,107,43,0,1,0.000000,0,0,0,0,44,38,39,0,0,2,2,0,250,0,0,0,0,0,0,44,0,0,346,121,2015-11-16 00:53:52,2047,2047,63,63,161,str,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.000000,0,NaN,0.000000,0.000352,0.091856,NaN,NaN,NaN,NaN,NaN,NaN
242205,24220,1,16078,16078,93,128,276,2335,449,469,3,18,0.000000,2870,0,0,0,34,88,16,16,71,6,0,280,1692,0,100,100,0,0,705,739,0,0,264,121,2015-11-15 06:22:23,2047,2047,63,63,57,agi,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.000000,0,0.333333,0.230769,0.125000,0.296696,NaN,NaN,NaN,NaN,NaN,NaN
309848,30984,1,peppa,peppa,8,131,61,8150,514,519,10,88,0.000000,5450,0,1263,145,36,212,50,46,0,11,0,1613,5905,0,45,0,0,0,1499,3641,0,2,873,132,2015-11-15 21:20:54,2036,2047,63,63,2,agi,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,8.000000,0,0.780488,0.714286,0.018269,0.298699,NaN,NaN,NaN,NaN,NaN,NaN
291877,29187,0,107558,107558,62,130,0,935,105,32,0,0,0.000000,178,0,0,44,216,39,42,29,0,2,2,0,272,0,60,54,-29,0,0,0,0,0,620,133,2015-11-15 18:18:13,2047,2047,63,63,8,agi,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0,0.000000,0.000000,0.000000,0.123107,NaN,NaN,NaN,NaN,NaN,NaN
488791,48879,1,BbaabBbboUhSSkaaaa,43945,46,1,1219,8660,609,429,6,88,0.000000,4300,0,2060,36,41,46,50,154,212,11,0,664,5020,0,322,220,-209,0,830,3059,0,1,838,133,2015-11-18 03:04:44,2047,390,51,63,88,agi,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.500000,1,0.155172,0.162162,0.446520,0.255721,NaN,NaN,NaN,NaN,NaN,NaN
405304,40530,1,KnotDota #Tryharder,29876,46,4,343,10260,533,274,2,62,0.000000,5570,0,3001,41,51,46,50,149,168,9,0,1639,3159,0,475,2548,-239,0,1495,1954,0,11,1145,204,2015-11-17 02:25:05,2047,452,51,63,0,agi,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,5.500000,1,0.196429,0.153846,0.069659,0.234407,NaN,NaN,NaN,NaN,NaN,NaN
67067,6706,0,32133,32133,41,130,2,3150,223,183,0,36,1.333080,432,0,0,11,29,16,16,65,46,7,1,0,3101,0,0,0,-388,0,0,1682,0,0,1015,121,2015-11-13 02:08:30,2047,900,51,63,257,agi,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.000000,0,0.000000,0.000000,0.000503,0.236931,NaN,NaN,NaN,NaN,NaN,NaN
291871,29187,1,100790,100790,9,1,1633,3670,398,324,3,48,7.798100,5197,0,332,212,50,0,0,34,46,8,0,812,2541,0,0,0,0,0,1105,1979,0,0,620,133,2015-11-15 18:18:13,2047,2047,63,63,8,all,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,6.000000,1,0.800000,0.069767,0.365733,0.248141,NaN,NaN,NaN,NaN,NaN,NaN
314385,31438,1,63251,63251,104,128,179,625,180,187,0,2,0.000000,0,0,0,44,182,12,16,16,0,1,0,0,186,0,0,0,0,0,0,79,0,0,59,123,2015-11-15 22:10:50,2047,2047,63,63,0,str,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.000000,0,0.000000,0.000000,0.091842,0.182749,NaN,NaN,NaN,NaN,NaN,NaN
92732,9273,0,Clip,41096,90,2,3203,4605,474,250,1,20,0.000000,5063,0,0,36,44,214,79,0,0,8,1,1542,2567,0,0,0,-597,0,1291,854,0,1,983,123,2015-11-13 13:57:36,1974,2039,63,63,49,int,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.500000,1,1.400000,0.250000,0.998753,0.210226,NaN,NaN,NaN,NaN,NaN,NaN
12213,1221,0,6344,6344,14,3,1,775,233,193,1,3,0.000000,287,0,0,29,46,38,0,0,0,3,1,0,879,0,0,0,0,0,0,121,0,0,272,171,2015-11-12 11:23:25,2047,2047,63,63,8,str,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.000000,1,0.000000,0.250000,0.000469,0.163502,NaN,NaN,NaN,NaN,NaN,NaN
409128,40912,1,believe,80491,104,131,2129,5305,377,353,8,50,0.000000,3481,0,1102,182,11,41,63,46,2,11,0,1177,5423,0,203,116,-448,0,667,2013,0,5,1154,123,2015-11-17 03:29:51,304,2039,63,60,7,str,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.666667,0,0.238095,0.320000,0.367259,0.131231,NaN,NaN,NaN,NaN,NaN,NaN
314388,31438,1,36382,36382,46,131,515,585,479,487,1,6,0.000000,304,0,0,241,241,16,75,16,0,2,0,32,351,0,100,100,0,0,28,247,0,0,59,123,2015-11-15 22:10:50,2047,2047,63,63,0,agi,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0,0.142857,0.333333,0.264238,0.171053,NaN,NaN,NaN,NaN,NaN,NaN
366478,36647,1,Medical FaDe Bold,126902,85,131,1088,5140,504,278,0,29,0.000000,2742,0,855,50,181,216,71,45,0,7,0,320,2688,0,154,100,-119,0,753,1167,0,2,681,204,2015-11-16 16:21:14,1920,2047,63,48,84,str,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.000000,0,2.000000,0.000000,0.182153,0.211959,NaN,NaN,NaN,NaN,NaN,NaN
48963,4896,1,.,24519,110,3,270,4785,304,237,0,25,0.000000,3120,55,806,214,25,23,17,16,0,8,0,153,3279,0,151,100,-447,0,95,1063,0,5,904,112,2015-11-12 21:24:44,2046,391,51,63,0,all,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.250000,1,0.102941,0.000000,0.030861,0.200335,NaN,NaN,NaN,NaN,NaN,NaN
108789,10878,1,Sperling,Sperling,42,132,483,1460,176,202,0,3,2.032840,543,454,106,44,36,182,29,38,0,5,0,61,1436,0,12,0,0,0,176,77,0,3,446,132,2015-11-13 19:19:49,2038,2047,63,63,0,str,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.000000,0,0.400000,0.000000,0.090112,0.169079,NaN,NaN,NaN,NaN,NaN,NaN
32041,3204,1,-,0_3204_1,49,1,2655,6175,438,266,3,67,5.798580,2424,0,1965,152,36,63,11,212,0,9,0,1254,3560,0,174,100,0,0,994,2667,0,0,1122,133,2015-11-12 17:36:29,2047,260,51,63,175,str,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,5.000000,1,0.441176,0.100000,0.326488,0.174312,NaN,NaN,NaN,NaN,NaN,NaN
185100,18510,1,-,0_18510_0,28,0,409,1525,195,150,1,10,0.000000,24,0,67,44,0,38,0,180,0,4,0,0,1059,0,0,0,-59,0,0,346,0,0,420,154,2015-11-14 16:59:01,2047,2038,63,63,51,str,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.000000,1,0.000000,0.030303,0.149325,0.116457,NaN,NaN,NaN,NaN,NaN,NaN
12218,1221,1,Tazerenix,6349,106,131,240,2220,437,464,6,24,0.000000,1171,0,0,29,41,241,0,0,71,6,0,232,1702,0,172,158,-149,0,373,999,0,3,272,171,2015-11-12 11:23:25,2047,2047,63,63,8,agi,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.500000,0,0.100000,0.428571,0.061681,0.316465,NaN,NaN,NaN,NaN,NaN,NaN
32043,3204,1,Mm'Kay,Mm'Kay,27,3,1958,7140,461,279,3,38,26.060300,5369,0,2283,36,0,180,73,108,0,9,0,2025,3121,0,79,0,-239,0,2237,1411,0,10,1122,133,2015-11-12 17:36:29,2047,260,51,63,175,int,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,5.500000,1,0.485294,0.100000,0.240777,0.201553,NaN,NaN,NaN,NaN,NaN,NaN
409933,40993,1,137673,137673,40,3,128,1490,197,146,0,2,0.000000,1055,0,0,43,29,16,16,20,0,3,0,97,414,0,22,0,-89,0,306,48,0,0,217,171,2015-11-17 03:44:40,2047,2047,63,63,5,all,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.500000,1,0.300000,0.000000,0.054912,0.210452,NaN,NaN,NaN,NaN,NaN,NaN
185104,18510,1,74643,74643,90,4,229,2065,223,168,0,4,0.000000,661,0,179,27,0,0,0,29,43,4,0,65,1120,0,0,0,0,0,376,171,0,0,420,154,2015-11-14 16:59:01,2047,2038,63,63,51,int,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.000000,1,1.000000,0.000000,0.083607,0.157694,NaN,NaN,NaN,NaN,NaN,NaN
242206,24220,1,92157,92157,62,129,551,1210,234,259,0,1,0.000000,1581,0,7,46,44,39,216,29,181,4,0,205,709,0,232,212,0,0,382,0,0,0,264,121,2015-11-15 06:22:23,2047,2047,63,63,57,agi,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.000000,0,0.333333,0.000000,0.249547,0.153748,NaN,NaN,NaN,NaN,NaN,NaN
368326,36832,1,Excentrico,127417,55,129,375,985,174,165,0,8,0.000000,517,0,0,44,39,182,38,28,0,3,0,0,763,0,0,0,-59,0,0,342,0,13,275,138,2015-11-16 16:55:18,2047,2047,63,63,129,all,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.000000,0,0.000000,0.000000,0.373134,0.104343,NaN,NaN,NaN,NaN,NaN,NaN
282093,28209,0,104609,104609,73,3,4031,550,667,15,0,0,0.000000,57,0,0,182,11,44,0,0,0,1,1,27,62,0,0,0,0,0,79,0,0,0,355,133,2015-11-15 16:25:32,1974,2047,63,63,3,str,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.000000,1,0.400000,0.000000,1.000000,0.182421,NaN,NaN,NaN,NaN,NaN,NaN
35487,3548,1,Joker,17853,28,130,2071,985,401,356,4,40,1.932840,618,0,0,182,44,29,16,16,241,6,0,136,1955,0,63,63,0,0,69,1519,0,3,362,182,2015-11-12 18:27:22,2047,2047,63,63,132,str,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.000000,0,0.250000,0.235294,0.457174,0.140916,NaN,NaN,NaN,NaN,NaN,NaN
446910,44691,1,Adish,123371,19,0,1367,3805,518,430,4,47,8.264650,5478,0,44,182,46,29,1,36,0,8,0,910,2559,0,174,0,0,0,1385,1976,0,4,507,133,2015-11-17 16:39:46,2047,2047,63,63,89,str,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,8.000000,1,1.142857,0.285714,0.316655,0.279985,NaN,NaN,NaN,NaN,NaN,NaN
476136,47613,1,*-* xxx *-*,*-* xxx *-*,26,129,370,11315,387,292,0,37,19.854800,4230,121,526,79,214,77,60,23,59,11,0,1850,5608,0,501,178,-59,0,1589,1528,200,1,1634,121,2015-11-17 23:28:26,0,2047,63,0,167,int,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,4.000000,0,0.300000,0.000000,0.028616,0.224973,NaN,NaN,NaN,NaN,NaN,NaN
326146,32614,0,116939,116939,64,129,1,1125,149,163,2,2,0.000000,568,0,132,43,34,44,29,0,0,4,1,0,941,0,0,0,0,0,0,18,0,0,346,121,2015-11-16 00:53:52,2047,2047,63,63,161,int,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.000000,0,NaN,0.153846,0.000352,0.213068,NaN,NaN,NaN,NaN,NaN,NaN
62138,6213,0,24603,24603,1,131,1,785,406,182,2,4,0.000000,255,0,0,182,16,39,11,0,0,2,1,0,453,0,0,0,-88,0,25,161,0,0,148,132,2015-11-13 00:41:55,2047,2047,63,63,0,agi,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.000000,0,NaN,0.666667,0.000611,0.248418,NaN,NaN,NaN,NaN,NaN,NaN
291354,29135,1,107389,107389,97,4,552,1925,247,317,3,25,0.000000,1522,0,0,29,41,0,34,182,0,6,0,0,2301,0,72,58,0,0,0,1045,0,0,448,132,2015-11-15 18:11:36,2047,2047,63,63,212,all,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.000000,1,0.000000,0.187500,0.131335,0.193857,NaN,NaN,NaN,NaN,NaN,NaN
16322,1632,0,SpoNg3Bob,SpoNg3Bob,56,2,0,2510,279,310,1,36,0.000000,2584,0,88,29,34,28,212,28,0,7,1,0,3139,0,0,0,-119,0,0,1552,0,3,605,138,2015-11-12 13:09:28,2047,2047,63,63,145,agi,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.000000,1,0.000000,0.125000,0.000000,0.244759,NaN,NaN,NaN,NaN,NaN,NaN
217541,21754,0,Bojвода,Bojвода,31,1,769,1945,169,180,3,13,0.100000,6160,0,0,44,0,214,0,0,0,8,0,443,2590,0,279,0,-1044,0,542,562,0,4,1098,133,2015-11-14 23:45:46,0,2039,63,0,77,int,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.142857,1,1.357143,0.250000,0.281582,0.124799,NaN,NaN,NaN,NaN,NaN,NaN
309842,30984,0,TheHighKing,TheHighKing,107,2,1,1735,113,82,0,2,0.000000,827,0,0,216,34,40,29,0,0,4,1,283,841,0,77,60,-386,0,28,56,0,1,873,132,2015-11-15 21:20:54,2036,2047,63,63,2,str,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.200000,1,0.485714,0.000000,0.000950,0.102360,NaN,NaN,NaN,NaN,NaN,NaN

0

It seems that some of these players have a leaver status, and others have very poor stats overall, suggesting that these matches may have been thrown. However, others seem to have decent stats across the board, indicating that the data could have been corrupted before manipulation. Let's check how many null values we have from our engineered features so far.

#### TrueSkill

We must consistently evaluate each player's skill level as they engage in matches to ensure a fair matchmaking process. Our data cleanup notebook includes a file with TrueSkill ratings for each player based on previous match results. However, it's important to note that some players in our current dataset may not be included in the TrueSkill file, which is a potential factor that needs to be addressed.

In [21]:
# Load required files
trueskill_df = pd.read_csv(clean_folder + '/trueskill.csv')
print(f'trueskill:', '{:,} observations, {:,} features'.format(trueskill_df.shape[0], trueskill_df.shape[1]))

trueskill: 834,226 observations, 6 features

In [22]:
trueskill_df.head()

,account_id,total_wins,total_matches,trueskill_mu,trueskill_sigma,conservative_skill_estimate
0,236579,14,24,27.868035,5.212361,12.230953
1,-343,1,1,26.544163,8.065475,2.347736
2,-1217,1,1,26.521103,8.114989,2.176136
3,-1227,1,1,27.248025,8.092217,2.971375
4,-1284,0,1,22.931016,8.092224,-1.345657

We need to extract the values from the `trueskill.csv` file and add them to our players' DataFrame. Additionally, we should assign an initial ranking to players who are not listed in the original file. To establish suitable parameters, we should set our environment using the average TrueSkill $\mu$ and $\sigma$. We can assume that the unrated players have a similar ranking to the ones in the file.

In [23]:
# Set up the global parameters
trueskill.setup(mu=trueskill_df['trueskill_mu'].mean(), 
                sigma=trueskill_df['trueskill_sigma'].mean(),
                draw_probability=0)

# Instantiate the ratings dictionary
ts_init_ratings = {}

# Get the list of unique account IDs from the players DataFrame
account_ids = players['account_id'].unique().tolist()

# Read the mu and sigma from the file and append them to ts_ratings
for account in account_ids:
    try:
        account_row = trueskill_df[trueskill_df['account_id'] == int(account)]
    
        if not account_row.empty:
            ts_mu = account_row['trueskill_mu'].values[0]
            ts_sigma = account_row['trueskill_sigma'].values[0]
            ts_init_ratings[account] = trueskill.Rating(mu=ts_mu, sigma=ts_sigma)
        else:
            ts_init_ratings[account] = trueskill.Rating()
            
    except ValueError:
        ts_init_ratings[account] = trueskill.Rating()

print('Total account IDs in players DF: {:,}'.format(len(account_ids)))
print('Total keys in initial ratings dictionary: {:,}'.format(len(ts_init_ratings)))

Total account IDs in players DF: 311,717
Total keys in initial ratings dictionary: 311,717

In [24]:
# Check a random player's initial TrueSkill
rand_player_ts = '80491'
display(f'{rand_player_ts} TrueSkill:', ts_init_ratings[rand_player_ts])

# Sanity check from our dictionary
trueskill_df[trueskill_df['account_id'] == int(rand_player_ts)][['account_id', 'trueskill_mu', 'trueskill_sigma']]

'80491 TrueSkill:'

trueskill.Rating(mu=24.638, sigma=6.284)

        account_id  trueskill_mu  trueskill_sigma
119612       80491     24.637552         6.284008

Our dictionary now holds the TrueSkill ratings for all our players. Let's test the `win_probability` function from the TrueSkill library to assess its potential usefulness in the future.

In [25]:
# Test the win_probability function with one match's results
rand_match_id = random.choice(players['match_id'].unique().tolist())
print('Match ID picked:', rand_match_id)

team_radiant = []
team_dire = []

for i in range(5):
    team_radiant.append(ts_init_ratings[players[(players['match_id']==rand_match_id) &\
                        (players['player_slot']==i)]['account_id'].values[0]])

for i in range(128,133):
    team_dire.append(ts_init_ratings[players[(players['match_id']==rand_match_id) &\
                     (players['player_slot']==i)]['account_id'].values[0]])

print('Match quality:', trueskill.quality([team_radiant, team_dire]))
print('Win probability:', win_probability(team_radiant, team_dire))
print('True outcome:', matches[matches['match_id']==rand_match_id]['radiant_win'])

Match ID picked: 15065
Match quality: 0.506955587873534
Win probability: 0.5755827229084816
True outcome: 15065    0
Name: radiant_win, dtype: int64

After establishing our initial ratings for each player, we can proceed by creating a function that will update the ratings after each match. This function should also incorporate a mechanism to penalize players who intentionally disconnect from a match, thus putting their team at a disadvantage.

After receiving the latest rankings, we can leverage them to evaluate the expected quality of a match, allowing us to ascertain whether it was fair and well-balanced or unfair.

In [26]:
# Function to determine leaver status weights
def get_leaver_weight(leaver_status):
    leaver_weights = {
        0: 1.0, # NONE - finished match, no abandon.
        1: 0.5, # DISCONNECTED - player DC, no abandon.
        2: 0.3, # DISCONNECTED_TOO_LONG - player DC > 5min, abandoned.
        3: 0.1, # ABANDONED - player DC, clicked leave, abandoned.
        4: 0.01, # AFK - player AFK, abandoned.
        5: 0.0, # NEVER_CONNECTED - player never connected, no abandon.
        6: 0.0, # NEVER_CONNECTED_TOO_LONG - player took too long to connect, no abandon.
    }
    return leaver_weights.get(leaver_status, 1.0)

# Sort the players DataFrame in chronological order
ts_players = players.sort_values(by=['start_time', 'match_id', 'player_slot'])

# Instantiate updated ratings' dictionary
ts_updated_ratings = ts_init_ratings.copy()

# Function to update the ratings based on a single match
def update_ratings(match_):
    global ts_updated_ratings

    # Extract player data from the match
    match_account_ids = match_['account_id'].tolist()
    match_leaver_status = match_['leaver_status'].tolist()
    match_outcome = match_['match_outcome'].tolist()
    
    # Get the current ratings and leaver weights
    ratings = [ts_updated_ratings[acc_id] for acc_id in match_account_ids]
    weights = [get_leaver_weight(ls) for ls in match_leaver_status]

    player_weights = {}
    for idx, weight in enumerate(weights):
        if idx < 5:
            key = (0, match_account_ids[idx])
        else:
            key = (1, match_account_ids[idx])
        player_weights[key] = weight    
    
    # Split players into teams
    radiant = {}
    dire = {}
    for idx, player in enumerate(ratings):
        if idx < 5:
            radiant[match_account_ids[idx]] = ratings[idx]
        else:
            dire[match_account_ids[idx]] = ratings[idx]

    # Lists to store TrueSkill values before each match
    trueskill_mu_list = []
    trueskill_sigma_list = []
    cons_trueskill_list = []
    
    # Add the current TrueSkill rating prior the match
    for rating in ratings:
        trueskill_mu_list.append(rating.mu)
        trueskill_sigma_list.append(rating.sigma)
        cons_trueskill_list.append(conservative_trueskill_rating(rating.mu, rating.sigma))
        
    match_['trueskill_mu'] = trueskill_mu_list
    match_['trueskill_sigma'] = trueskill_sigma_list
    match_['trueskill'] = cons_trueskill_list
    
    # Determine the outcome
    if match_outcome[0] == 0:
        ranks = [0, 1] # Radiant wins
    else:
        ranks = [1, 0] # Dire wins
    
    # Update ratings
    new_radiant, new_dire = trueskill.rate([radiant, dire], weights=player_weights, ranks=ranks)
    
    for i in range(5):
        ts_updated_ratings[match_account_ids[i]] = new_radiant[match_account_ids[i]]
        ts_updated_ratings[match_account_ids[i+5]] = new_dire[match_account_ids[i+5]]

    # Calculate match quality
    match_quality = trueskill.quality([new_radiant, new_dire])
    match_['match_quality'] = match_quality

    return match_

In [27]:
# Calculate the Conservative Skill Estimate for each player before a match
processed_matches = []

# Iterate through each match and update ratings
for m_id, match_group in ts_players.groupby('match_id'):
    processed_match = update_ratings(match_group)
    processed_matches.append(processed_match)

# Concatenate all processed match groups back into one DataFrame
players_with_ts = pd.concat(processed_matches)
players_with_ts[['match_id', 'start_time', 'account_id', 'player_slot', 'leaver_status', 'kda', 
                 'trueskill_mu', 'trueskill_sigma', 'trueskill', 'match_quality', 'match_outcome']].head(20)

,match_id,start_time,account_id,player_slot,leaver_status,kda,trueskill_mu,trueskill_sigma,trueskill,match_quality,match_outcome
0,0,2015-11-05 19:01:52,Double T,0,0,6.750000,25.112577,7.270275,3.301753,0.333641,1
1,0,2015-11-05 19:01:52,1,1,0,7.750000,26.232905,4.854238,11.670192,0.333641,1
2,0,2015-11-05 19:01:52,Trash!!!,2,0,3.000000,25.112577,7.270275,3.301753,0.333641,1
3,0,2015-11-05 19:01:52,2,3,0,5.400000,27.614505,6.550771,7.962190,0.333641,1
4,0,2015-11-05 19:01:52,3,4,0,9.250000,20.221006,5.961434,2.336703,0.333641,1
5,0,2015-11-05 19:01:52,4,128,0,1.857143,26.773302,5.322094,10.807019,0.333641,0
6,0,2015-11-05 19:01:52,6k Slayer,129,0,0.642857,25.112577,7.270275,3.301753,0.333641,0
7,0,2015-11-05 19:01:52,5,130,0,1.111111,32.190551,2.937140,23.379132,0.333641,0
8,0,2015-11-05 19:01:52,0_0_131,131,0,0.600000,23.139500,6.807861,2.715916,0.333641,0
9,0,2015-11-05 19:01:52,6,132,0,0.583333,34.774520,5.783084,17.425268,0.333641,0
10,1,2015-11-05 19:51:18,0_1_0,0,0,2.400000,25.112577,7.270275,3.301753,0.580920,0
11,1,2015-11-05 19:51:18,7,1,0,1.545455,29.496604,4.165835,16.999098,0.580920,0
12,1,2015-11-05 19:51:18,Double T,2,0,1.142857,24.239564,7.114735,2.895360,0.580920,0
13,1,2015-11-05 19:51:18,8,3,0,1.312500,18.071280,5.140566,2.649581,0.580920,0
14,1,2015-11-05 19:51:18,4,4,0,1.500000,27.241181,5.261842,11.455655,0.580920,0
15,1,2015-11-05 19:51:18,9,128,0,2.000000,27.247864,7.484124,4.795492,0.580920,1
16,1,2015-11-05 19:51:18,0_1_129,129,0,4.166667,31.356129,2.762250,23.069381,0.580920,1
17,1,2015-11-05 19:51:18,Titus,130,0,2.555556,25.112577,7.270275,3.301753,0.580920,1
18,1,2015-11-05 19:51:18,5,131,0,6.166667,32.333132,2.928117,23.548781,0.580920,1
19,1,2015-11-05 19:51:18,D o r a,132,0,2.750000,25.112577,7.270275,3.301753,0.580920,1

In [28]:
# Sanity Check
display(players_with_ts.shape)
display(players.shape)

(500000, 68)

(500000, 64)

In [29]:
# Update the players' DataFrame
players = players_with_ts
display(players.sample(50))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,hero_primary_attribute,hero_role_nuker,hero_role_initiator,hero_role_durable,hero_role_pusher,hero_role_support,hero_role_carry,hero_role_disabler,hero_role_escape,kda,radiant_team,team_kda,team_denies,team_gold,team_gold_spent,teamfights,tf_damage_dealt,tf_buybacks,tf_deaths,tf_avg_gold_delta,tf_avg_xp_delta,trueskill_mu,trueskill_sigma,trueskill,match_quality
188572,18857,0,-,0_18857_2,14,2,2,3615,181,138,1,24,15.529700,4891,0,66,0,0,0,0,0,0,8,2,861,2826,0,50,50,-1582,0,906,1010,0,0,1621,122,2015-11-14 17:47:59,0,2038,63,0,98,str,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.555556,1,0.629630,0.041667,0.000637,0.125325,3.0,3269.0,0.0,3.0,-151.250000,66.000000,25.112577,7.270275,3.301753,0.386048
490020,49002,1,[R] Yeiii :'),[R] Yeiii :'),11,0,419,20960,487,536,3,194,0.000000,20425,0,2820,110,152,116,63,154,164,21,0,9351,13285,357,1104,610,-2184,0,4876,7537,200,1,2695,121,2015-11-18 03:24:56,2038,4,3,63,288,agi,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.714286,1,0.854614,0.130435,0.027236,0.243282,8.0,19844.0,0.0,4.0,314.875000,769.125000,23.406184,7.030539,2.314568,0.437520
440149,44014,1,-,0_44014_132,84,132,4487,8695,400,432,5,62,23.744500,7089,0,880,34,100,0,214,178,102,16,0,7651,6195,0,117,0,-1046,0,3272,2530,0,0,1936,155,2015-11-17 14:50:26,0,2047,63,0,168,str,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,3.400000,0,0.726496,0.384615,0.340002,0.121992,9.0,4835.0,0.0,3.0,240.333333,599.083333,25.112577,7.270275,3.301753,0.448726
432997,43299,0,lkgjhdsijofhgdiug,4079,21,130,783,6660,255,255,14,95,22.035200,4798,0,23,50,77,108,0,0,46,12,0,2188,6325,0,1,0,-1853,0,937,3934,0,2,1999,171,2015-11-17 12:44:04,1982,4,3,63,192,all,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.250000,0,0.295455,0.378378,0.143092,0.166105,6.0,3072.0,0.0,3.0,-81.166667,252.833333,24.243263,2.265210,17.447631,0.426660
168555,16855,1,46511,46511,72,128,2827,21095,479,485,16,259,59.535700,22957,0,2264,116,7,154,48,51,164,21,0,5948,16304,1043,38,0,-2753,0,2889,11125,400,0,2880,138,2015-11-14 12:58:00,4,1956,63,3,38,agi,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.500000,0,0.651408,0.551724,0.193431,0.240440,11.0,19276.0,0.0,4.0,495.538462,555.846154,23.427750,6.443439,4.097434,0.380483
297062,29706,0,ProNoob,ProNoob,42,2,1556,20770,522,651,1,190,90.385100,25081,2640,3567,151,116,249,168,63,143,25,0,19125,11357,1789,277,120,-4071,-1696,11257,7115,475,1,2997,156,2015-11-15 19:15:34,0,1796,55,0,202,str,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,3.700000,1,1.330935,0.038462,0.362619,0.255317,15.0,39788.0,1.0,13.0,369.533333,1143.400000,25.112577,7.270275,3.301753,0.419115
309917,30991,1,112863,112863,102,130,351,14335,330,386,5,61,0.000000,9559,5169,1522,231,108,81,46,0,0,19,0,10001,8864,447,70,0,-3500,-1393,4840,2286,200,0,3010,138,2015-11-15 21:21:37,0,1828,63,0,121,all,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2.363636,0,0.630303,0.151515,0.019394,0.185123,9.0,13261.0,0.0,6.0,163.090909,518.636364,28.702521,7.455513,6.335983,0.435300
157147,15714,0,64803,64803,58,130,498,14730,357,438,1,123,4.032350,17468,4142,194,50,98,21,0,108,65,20,0,10386,11251,0,146,78,-4880,-1365,5197,6604,400,0,2977,151,2015-11-14 08:21:49,1974,256,48,63,94,int,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.909091,0,1.053977,0.030303,0.127138,0.203509,13.0,20930.0,1.0,8.0,-72.071429,672.428571,23.292358,6.640696,3.370270,0.450150
25171,2517,1,^[PWP]^almirant bulterrie^,^[PWP]^almirant bulterrie^,9,1,4554,15005,464,504,4,137,22.358100,7963,0,4621,63,141,154,212,164,16,19,0,8148,10737,596,529,204,-389,0,3297,5605,400,1,2380,204,2015-11-12 15:43:17,2046,0,0,63,103,all,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,5.500000,1,1.168750,0.153846,0.430557,0.187340,2.0,6040.0,0.0,1.0,503.000000,1045.200000,25.112577,7.270275,3.301753,0.476611
146445,14644,1,-,0_14644_128,8,128,359,16585,581,486,4,158,0.000000,11602,0,4320,1,196,170,48,145,181,16,0,5078,8315,0,339,500,-449,0,3150,5809,200,0,1691,122,2015-11-14 05:01:47,384,2047,63,48,222,agi,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,8.000000,0,1.368421,0.166667,0.048917,0.285309,3.0,1258.0,0.0,0.0,424.250000,658.750000,25.112577,7.270275,3.301753,0.584108
124999,12499,1,[drp] rorschach,[drp] rorschach,8,132,2432,16740,634,562,4,148,0.000000,16943,0,3292,50,145,71,108,168,0,18,0,8131,9128,0,147,0,-1107,0,4903,5896,0,1,1857,122,2015-11-13 23:11:09,0,1980,63,0,52,agi,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,6.250000,0,0.984252,0.153846,0.139378,0.257084,10.0,13819.0,0.0,3.0,466.846154,747.461538,25.112577,7.270275,3.301753,0.476366
388223,38822,0,kingslayer_,69157,42,3,314,7325,310,317,8,95,39.279100,8385,385,0,182,127,63,1,36,11,13,0,3631,6225,0,103,100,-2511,-57,2429,3624,0,4,1882,132,2015-11-16 21:56:22,0,2022,63,0,80,str,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.100000,1,0.660000,0.666667,0.198358,0.164551,9.0,9562.0,1.0,11.0,-9.100000,278.900000,30.251140,5.857632,12.678244,0.381194
204586,20458,1,72416,72416,13,129,3444,24090,562,689,6,244,46.341800,15388,0,2446,204,1,63,30,235,108,25,0,13184,16183,1251,1938,1080,-388,0,6327,9136,896,0,2834,132,2015-11-14 21:12:09,0,1982,63,0,2,int,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,11.333333,0,1.968064,0.222222,0.244620,0.246294,8.0,12362.0,0.0,2.0,671.700000,1386.700000,21.456730,4.144726,9.022553,0.674200
468172,46817,1,Zedd,78205,62,2,3216,8420,430,301,1,8,1.000000,6735,25,678,180,229,46,181,81,0,11,0,3738,3048,596,374,186,0,0,4643,301,200,2,1536,121,2015-11-17 21:38:33,1980,4,3,63,94,agi,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,13.000000,1,1.151899,0.050000,0.312445,0.141418,2.0,1413.0,0.0,0.0,771.333333,430.333333,33.526865,3.501629,23.021978,0.536161
473941,47394,1,141918,141918,39,1,2167,20155,500,643,8,215,0.000000,12834,0,2939,98,30,63,96,41,108,24,0,14657,14044,357,1023,581,-2843,0,5586,8465,200,0,2804,133,2015-11-17 22:59:18,1924,0,0,63,299,int,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.625000,1,0.906818,0.533333,0.162724,0.220069,8.0,7675.0,0.0,6.0,348.909091,1106.090909,22.547191,5.045515,7.410645,0.413802
269961,26996,1,-,0_26996_1,74,1,2908,18630,479,497,5,155,62.456600,12111,629,2093,50,102,168,203,46,65,21,0,8617,14727,0,376,126,-2991,0,4928,8382,0,0,2858,151,2015-11-15 14:03:08,1830,0,0,63,116,all,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,2.400000,1,0.605217,0.294118,0.187010,0.193850,10.0,11933.0,0.0,5.0,277.818182,514.545455,27.803458,8.029003,3.716448,0.450133
174761,17476,1,zak,69969,49,1,4607,14865,574,587,1,166,35.801200,10293,0,5239,154,185,46,135,11,63,19,0,7836,10353,0,984,514,-837,0,3003,6520,0,2,1955,132,2015-11-14 14:27:00,2039,0,0,63,0,str,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,5.500000,1,0.883212,0.043478,0.405439,0.198108,7.0,10647.0,0.0,2.0,408.777778,874.444444,25.425248,2.916321,16.676284,0.500399
30764,3076,0,™Supreme™®,™Supreme™®,46,4,943,11885,396,464,17,136,0.000000,7229,0,650,63,41,1,168,8,21,17,0,5478,9963,0,285,164,-2813,0,3598,5680,0,6,2032,191,2015-11-12 17:17:09,0,1974,63,0,266,agi,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.750000,1,1.000000,0.404762,0.265111,0.298056,6.0,8052.0,0.0,4.0,267.500000,686.700000,25.112577,7.270275,3.301753,0.319180
300074,30007,0,JaMaL,110101,55,4,143,11050,315,317,0,133,10.380600,12553,1678,42,242,79,180,0,178,0,16,0,5079,9035,0,12,0,-4429,0,3072,5469,0,6,2666,192,2015-11-15 19:43:28,0,1956,63,0,196,all,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.000000,1,0.920000,0.000000,0.049073,0.177027,8.0,5519.0,0.0,7.0,-83.400000,302.000000,17.535786,7.515938,-5.012027,0.489878
38727,3872,0,17622,17622,104,130,1353,14405,456,524,9,125,0.000000,14499,0,1242,1,151,166,46,116,63,19,0,12528,6345,0,45,0,-3142,0,6987,4845,0,0,2163,132,2015-11-12 19:15:07,1972,6,3,63,153,str,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.111111,0,1.357143,0.500000,0.302414,0.289141,10.0,17005.0,0.0,6.0,273.916667,730.666667,22.546572,7.507245,0.024836,0.460417
447127,44712,1,ROAD TO 4K,146542,21,130,1233,11290,427,404,1,55,62.034400,11944,0,1047,50,1,36,108,8,88,15,0,5745,6689,0,222,94,-2152,0,3326,2573,400,8,1877,121,2015-11-17 16:42:44,0,2038,63,0,0,all,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.555556,0,0.554033,0.066667,0.136636,0.145508,7.0,5260.0,0.0,2.0,424.400000,450.700000,22.625231,7.241544,0.900598,0.295563
22600,2260,0,RANDOM OR RIOT,10408,26,0,60,12205,286,336,4,62,63.650100,9575,0,120,102,214,1,60,43,46,18,0,9831,7762,0,260,194,-3919,-1214,5814,2340,0,7,3186,192,2015-11-12 15:05:41,0,1792,63,0,108,int,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.500000,1,0.800000,0.105263,0.016181,0.150884,10.0,6573.0,0.0,7.0,85.384615,476.923077,26.463740,2.647376,18.521612,0.248879
466357,46635,1,151524,151524,93,130,9045,17860,790,752,19,199,0.000000,25736,0,7447,182,63,154,160,139,0,22,0,14359,11094,0,124,0,-658,0,8270,7795,0,0,2039,191,2015-11-17 21:17:36,0,2047,63,0,136,agi,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,11.333333,0,2.250591,0.487179,0.417629,0.257664,14.0,28457.0,0.0,2.0,836.428571,1000.142857,25.112577,7.270275,3.301753,0.489309
248148,24814,1,swords_dance,93789,11,131,4019,14300,628,536,21,188,0.000000,12077,0,5650,41,147,112,63,0,212,17,0,4700,10742,596,477,256,-1705,0,3058,7190,400,1,1847,171,2015-11-15 08:11:17,0,2046,63,0,73,agi,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.833333,0,0.665217,0.677419,0.266371,0.214072,8.0,15822.0,0.0,3.0,280.818182,587.545455,26.184645,6.275999,7.356648,0.430100
68313,6831,1,Rato Borrachudo,32618,34,3,650,14845,455,559,5,192,0.000000,13964,0,683,203,178,1,220,41,0,20,0,5794,15161,0,305,162,-1527,-1181,2449,7781,0,6,2278,204,2015-11-13 02:31:41,1982,0,0,63,147,int,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,4.500000,1,0.583333,0.357143,0.106001,0.202565,5.0,6076.0,1.0,2.0,126.666667,882.833333,23.468938,7.352594,1.411156,0.463861
146823,14682,0,DON `,61621,46,3,342,10600,483,454,12,97,0.000000,16705,0,47,1,41,21,212,63,168,15,0,6099,6125,0,338,427,-1824,-924,6216,3728,0,1,1649,153,2015-11-14 05:07:43,0,1983,63,0,0,agi,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.571429,1,1.411150,0.857143,0.106675,0.277960,9.0,6669.0,1.0,3.0,214.600000,420.200000,28.575263,7.780512,5.233728,0.494293
102929,10292,1,-,0_10292_132,36,132,3384,14925,525,616,6,196,16.923800,15862,2162,835,41,48,90,127,114,0,22,0,11598,14601,0,871,449,-3381,-1465,6553,7704,0,0,2635,121,2015-11-13 17:42:13,0,1974,63,0,1,int,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,3.200000,0,0.964706,0.375000,0.156233,0.200699,11.0,19690.0,1.0,5.0,205.416667,935.666667,25.112577,7.270275,3.301753,0.516468
106392,10639,0,-,0_10639_2,50,2,430,3485,157,149,3,10,0.000000,2692,1940,6,180,92,42,36,0,0,8,0,988,3381,0,0,0,-2121,0,938,411,0,0,1748,133,2015-11-13 18:41:47,0,2038,63,0,131,all,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.500000,1,0.596774,0.136364,0.140799,0.118437,3.0,574.0,0.0,4.0,-156.000000,104.250000,25.112577,7.270275,3.301753,0.294591
207292,20729,1,?? TAb560-lk [FR],22582,41,2,1544,17830,476,562,13,119,11.423900,6624,0,1566,65,116,63,141,11,166,20,0,9425,11391,596,405,283,-1495,0,3745,6696,200,2,2325,133,2015-11-14 21:40:51,1974,4,3,63,73,agi,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2.833333,1,0.459957,0.500000,0.105558,0.216581,7.0,5026.0,0.0,2.0,478.333333,893.666667,29.511756,6.376758,10.381482,0.190745
131814,13181,1,56815,56815,98,4,356,13985,443,361,12,97,0.000000,11378,722,140,48,121,36,0,108,0,14,0,5008,6272,0,48,0,-1138,0,2444,4069,400,0,1880,123,2015-11-14 00:56:13,2047,0,0,63,93,all,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.600000,1,0.866667,0.222222,0.035053,0.209717,5.0,7131.0,0.0,1.0,423.166667,483.333333,30.132381,7.634035,7.230277,0.574039
44502,4450,0,-,0_4450_2,21,2,2301,11190,342,394,1,158,72.862400,17665,0,386,41,108,166,50,0,8,17,0,4616,10522,0,778,443,-1286,0,3102,5335,0,0,2405,132,2015-11-12 20:28:27,0,1972,63,0,43,all,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,3.000000,1,1.090909,0.050000,0.510086,0.176735,9.0,10669.0,0.0,1.0,242.222222,517.555556,26.298859,4.665832,12.301364,0.516428
129877,12987,1,Δn6elie√Λ6le,55267,100,130,3555,6375,395,291,3,59,28.926300,5275,0,703,41,187,50,185,36,46,11,0,3095,4267,0,214,132,-1343,0,2644,2523,200,3,1557,185,2015-11-14 00:24:35,388,1958,63,51,85,str,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.125000,0,0.513158,0.083333,0.286601,0.114023,8.0,3542.0,0.0,6.0,148.454545,271.272727,20.843922,7.766016,-2.454125,0.016234
265026,26502,0,PlayLikeRon,PlayLikeRon,1,129,4133,8825,347,335,1,133,0.333203,5431,0,161,0,0,0,0,0,0,13,0,1091,8427,0,126,100,-1555,0,1025,5668,0,5,1725,152,2015-11-15 12:57:16,1982,6,3,63,94,agi,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.000000,0,0.600000,0.071429,0.551067,0.241417,4.0,1934.0,0.0,3.0,79.777778,329.000000,25.112577,7.270275,3.301753,0.490325
199494,19949,1,79624,79624,3,4,3069,7140,329,325,6,18,94.487100,7700,0,701,34,178,46,180,30,254,14,0,5864,4619,0,258,86,-1375,0,2854,626,0,0,1979,133,2015-11-14 20:06:47,1983,0,0,63,108,all,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.000000,1,0.428571,0.428571,0.371235,0.096807,6.0,3898.0,0.0,3.0,182.000000,427.500000,15.603198,6.879179,-5.034340,0.234071
241459,24145,1,-,0_24145_132,26,132,1510,12065,351,479,3,29,30.758800,7454,0,730,1,21,100,73,214,0,18,0,11075,6554,804,248,174,-1106,0,4975,1138,400,0,2338,156,2015-11-15 06:10:51,4,1926,63,3,8,int,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,4.200000,0,0.982258,0.120000,0.281979,0.133692,7.0,6604.0,0.0,1.0,500.000000,1160.111111,25.112577,7.270275,3.301753,0.477445
291675,29167,0,Caliber,107495,112,128,1836,6895,307,353,3,47,96.578600,5340,0,34,214,42,102,0,46,36,15,0,6220,5774,0,256,232,-2422,-826,4323,1690,200,14,2081,138,2015-11-15 18:16:00,1958,0,0,63,74,all,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.333333,0,0.666667,0.142857,0.369045,0.132890,7.0,4341.0,1.0,6.0,115.750000,562.125000,25.112577,7.270275,3.301753,0.556040
107302,10730,0,AGR,AGR,60,2,304,15795,346,404,1,211,10.730700,8928,64,1625,208,151,50,116,92,0,21,0,6201,16867,714,169,82,-5327,0,2507,8850,400,2,3548,138,2015-11-13 18:56:52,0,1280,60,0,106,str,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.928571,1,0.519370,0.028571,0.116075,0.198094,11.0,10476.0,0.0,8.0,19.066667,416.133333,25.112577,7.270275,3.301753,0.542921
409827,40982,0,137663,137663,106,130,1261,8190,292,305,1,126,0.000000,5487,0,89,69,185,50,46,36,5,14,0,2164,8766,0,101,100,-1973,0,1591,5024,0,0,2163,121,2015-11-17 03:42:13,1975,256,48,63,93,agi,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.250000,0,0.773810,0.040000,0.330624,0.198185,6.0,3160.0,0.0,3.0,91.833333,388.333333,24.308341,6.617067,4.457140,0.292527
332433,33243,1,Qone,39735,44,3,2355,15835,596,481,10,183,0.000000,8830,0,2240,71,145,63,212,0,164,16,0,4021,10131,357,341,107,-986,0,2892,6841,580,1,1849,133,2015-11-16 02:33:23,2047,0,0,63,114,agi,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.800000,1,0.708861,0.208333,0.131154,0.256624,4.0,7367.0,0.0,2.0,578.250000,755.500000,27.796711,7.292705,5.918596,0.495467
360261,36026,0,-,0_36026_1,104,1,280,15340,390,473,3,205,0.000000,9829,0,1321,50,21,8,127,168,152,20,0,9446,12698,0,54,0,-4846,0,4525,7368,400,0,2810,155,2015-11-16 14:16:15,0,1574,63,0,124,str,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.133333,1,0.796032,0.176471,0.035710,0.198589,14.0,12068.0,0.0,11.0,11.000000,459.562500,25.112577,7.270275,3.301753,0.423868
77353,7735,1,You Boss,36326,75,3,2026,7890,337,374,3,22,0.000000,7098,1067,344,231,218,0,0,0,0,14,0,5759,3816,1043,704,434,-1226,0,3125,771,637,6,1813,122,2015-11-13 06:02:06,1956,262,51,63,9,int,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,3.200000,1,0.941176,0.071429,0.156158,0.139819,5.0,2172.0,0.0,2.0,332.000000,662.833333,26.651400,2.466641,19.251477,0.701345
452288,45228,0,Kpacey,147892,54,131,1345,9595,467,479,19,183,3.565700,6104,99,268,50,151,0,65,11,143,15,0,1999,10678,0,0,0,-1646,-149,968,8424,0,1,1586,133,2015-11-17 18:05:43,1982,7,3,63,229,str,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.000000,0,1.136364,0.475000,0.613315,0.302872,1.0,1383.0,1.0,1.0,-209.500000,371.500000,23.235592,3.987080,11.274352,0.476351
139436,13943,0,aronkai,aronkai,29,129,910,5555,215,235,14,68,40.258100,7066,0,0,180,1,56,46,0,0,12,0,855,7117,0,239,155,-2063,0,574,2808,0,4,2090,152,2015-11-14 03:07:16,1982,0,0,63,142,str,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.375000,0,0.406250,0.500000,0.375567,0.110679,4.0,5114.0,0.0,4.0,-46.000000,247.714286,25.112577,7.270275,3.301753,0.415516
116395,11639,1,What ss?,What ss?,7,128,1433,14260,418,436,6,72,84.129700,12484,0,521,48,46,190,1,119,0,17,0,9588,6615,0,372,220,-1764,0,4907,2671,200,5,2280,181,2015-11-13 21:10:10,0,1974,63,0,132,str,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,3.428571,0,0.571429,0.193548,0.164222,0.162999,14.0,15927.0,0.0,3.0,321.578947,601.157895,25.112577,7.270275,3.301753,0.394080
200619,20061,0,-,0_20061_132,76,132,294,13265,385,374,18,163,44.485100,7418,0,482,65,102,116,63,24,77,16,0,2953,10844,0,108,100,-2065,0,2185,7776,0,0,2225,112,2015-11-14 20:20:50,1846,0,0,63,0,int,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.666667,0,0.974359,0.620690,0.099459,0.259589,7.0,10584.0,0.0,5.0,-37.222222,271.000000,25.112577,7.270275,3.301753,0.372418
95562,9556,0,10459,10459,26,2,115,8930,240,291,0,18,75.288600,7138,0,0,214,46,37,42,34,1,17,0,8994,6346,0,42,0,-4545,-559,5945,657,0,0,3169,132,2015-11-13 15:03:33,0,1956,63,0,50,int,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.312500,1,0.623438,0.000000,0.028242,0.101604,12.0,6480.0,2.0,11.0,-62.388889,256.777778,25.187690,2.867650,16.584741,0.772912
253445,25344,0,consul_nn,95291,75,128,480,12065,284,359,4,87,0.000000,13053,0,126,46,42,180,77,108,0,20,0,9255,11366,447,1037,606,-5237,-1597,5416,3431,728,1,3690,133,2015-11-15 09:48:17,1828,6,3,63,165,int,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.785714,0,0.722164,0.121212,0.102128,0.147107,11.0,7733.0,1.0,10.0,-77.615385,652.846154,30.644023,4.663738,16.652810,0.367137
108754,10875,1,#Lya ツ,#Lya ツ,4,4,2279,20020,659,691,9,220,0.000000,17996,416,1799,249,46,158,212,63,137,21,0,10929,12111,894,172,62,-1646,0,5604,8146,513,9,2091,122,2015-11-13 19:19:33,2047,0,0,63,111,agi,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,5.200000,1,1.155556,0.281250,0.168006,0.226753,7.0,10824.0,0.0,4.0,407.900000,701.000000,24.649045,6.751354,4.394984,0.465275
441423,44142,1,-,0_44142_3,30,3,465,14065,396,432,1,40,67.603000,8999,3669,612,214,215,108,81,254,36,17,0,9531,5202,596,268,146,-1134,0,5682,1530,200,0,2164,151,2015-11-17 15:11:57,1982,4,3,63,0,int,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,4.285714,1,0.924370,0.040000,0.072329,0.178967,13.0,14800.0,0.0,4.0,376.714286,734.571429,25.112577,7.270275,3.301753,0.463909
360618,36061,0,Alice,125261,12,131,946,14175,442,465,6,204,0.000000,9680,0,62,174,147,65,63,61,0,18,0,2917,14299,0,100,100,-3293,0,2317,9659,0,2,2230,156,2015-11-16 14:23:19,1974,0,0,63,70,agi,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.375000,0,1.407738,0.157895,0.215196,0.280055,5.0,5851.0,0.0,3.0,154.428571,426.428571,21.463739,7.430244,-0.826992,0.466351

7588114

#### Win Rate

We can use the `trueskill_df` to calculate each player's previous win rate and update it with the latest match outcomes.

In [30]:
# Get total wins and total matches from trueskill_df
stats = trueskill_df[['account_id', 'total_wins', 'total_matches']].set_index('account_id').to_dict('index')

# Initialize columns for win rate calculation
players['total_wins'] = 0
players['total_matches'] = 0
players['win_rate'] = 0.0

# Iterate through the players DF to update values
for i, row in players.iterrows():
    account_id = row['account_id']

    # If the account_id is not in stats, initialize it
    if account_id not in stats:
        stats[account_id] = {'total_wins': 0, 'total_matches': 0}
        
    # Update the win and match counts
    stats[account_id]['total_matches'] += 1
    stats[account_id]['total_wins'] += row['match_outcome']
    
    # Retrieve the current total wins and matches
    total_wins = stats[account_id]['total_wins']
    total_matches = stats[account_id]['total_matches']
    
    # Record the current wins and matches played
    players.at[i, 'total_wins'] = total_wins
    players.at[i, 'total_matches'] = total_matches
    players.at[i, 'win_rate'] = total_wins / total_matches

# Display the updated DataFrame
display(players[['match_id', 'account_id', 'player_slot', 'start_time', 'match_outcome', 'total_wins', 'total_matches', 'win_rate']].head(20))
del stats
gc.collect()

,match_id,account_id,player_slot,start_time,match_outcome,total_wins,total_matches,win_rate
0,0,Double T,0,2015-11-05 19:01:52,1,1,1,1.0
1,0,1,1,2015-11-05 19:01:52,1,1,1,1.0
2,0,Trash!!!,2,2015-11-05 19:01:52,1,1,1,1.0
3,0,2,3,2015-11-05 19:01:52,1,1,1,1.0
4,0,3,4,2015-11-05 19:01:52,1,1,1,1.0
5,0,4,128,2015-11-05 19:01:52,0,0,1,0.0
6,0,6k Slayer,129,2015-11-05 19:01:52,0,0,1,0.0
7,0,5,130,2015-11-05 19:01:52,0,0,1,0.0
8,0,0_0_131,131,2015-11-05 19:01:52,0,0,1,0.0
9,0,6,132,2015-11-05 19:01:52,0,0,1,0.0
10,1,0_1_0,0,2015-11-05 19:51:18,0,0,1,0.0
11,1,7,1,2015-11-05 19:51:18,0,0,1,0.0
12,1,Double T,2,2015-11-05 19:51:18,0,1,2,0.5
13,1,8,3,2015-11-05 19:51:18,0,0,1,0.0
14,1,4,4,2015-11-05 19:51:18,0,0,2,0.0
15,1,9,128,2015-11-05 19:51:18,1,1,1,1.0
16,1,0_1_129,129,2015-11-05 19:51:18,1,1,1,1.0
17,1,Titus,130,2015-11-05 19:51:18,1,1,1,1.0
18,1,5,131,2015-11-05 19:51:18,1,1,2,0.5
19,1,D o r a,132,2015-11-05 19:51:18,1,1,1,1.0

0

#### Filling Missing Values

In [31]:
# Find features with missing values
display(players.isna().sum().sort_values(ascending=False)\
[players.isna().sum().sort_values(ascending=False) > 0 ])

tf_buybacks               690
tf_avg_xp_delta           690
teamfights                690
tf_damage_dealt           690
tf_deaths                 690
tf_avg_gold_delta         690
team_denies               275
team_kda                  105
hero_primary_attribute     37
hero_role_carry            37
hero_role_nuker            37
hero_role_initiator        37
hero_role_durable          37
hero_role_pusher           37
hero_role_support          37
hero_role_escape           37
hero_role_disabler         37
dtype: int64

We have a large number of missing values in some of our newly created features. Besides the team aggregations, teamfight-related and hero-related features all have the same amount of missing values per category. Let's start by exploring the team aggregations for now.

In [32]:
# Explore team missing values in Team KDA and Team Denies
print('Team KDA:')
display(players[(players['team_kda'].isna()) & (players['kda'] != 0)][['match_id', 'player_slot', 'kda']])
print('\n------------------------------------\nTeam Denies')
display(players[(players['team_denies'].isna()) & (players['denies'] != 0)][['match_id', 'player_slot', 'denies']])

Team KDA:

Empty DataFrame
Columns: [match_id, player_slot, kda]
Index: []

------------------------------------
Team Denies

Empty DataFrame
Columns: [match_id, player_slot, denies]
Index: []

Based on the results, the null values in the team features can be interpreted as representing a 0. This is because these particular observations and the rest of the team's players had a 0 in their original columns. In this context, we should treat the null values as 0.

In [33]:
# Fill missing team_deaths and team_kda values
players['team_kda'].fillna(0, inplace=True)
players['team_denies'].fillna(0, inplace=True)

# Find features with missing values
display(players.isna().sum().sort_values(ascending=False)\
[players.isna().sum().sort_values(ascending=False) > 0])

tf_deaths                 690
tf_damage_dealt           690
tf_avg_xp_delta           690
tf_avg_gold_delta         690
teamfights                690
tf_buybacks               690
hero_role_carry            37
hero_role_support          37
hero_role_pusher           37
hero_role_durable          37
hero_role_initiator        37
hero_role_nuker            37
hero_role_escape           37
hero_role_disabler         37
hero_primary_attribute     37
dtype: int64

Now let's look at the hero-related features:

In [34]:
# Look at the rows with missing hero features' values
players[players[['hero_role_durable', 'hero_primary_attribute', 'hero_role_nuker', 
         'hero_role_carry', 'hero_role_initiator', 'hero_role_disabler', 
         'hero_role_support', 'hero_role_pusher', 'hero_role_escape']].isna().any(axis=1)]

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,hero_primary_attribute,hero_role_nuker,hero_role_initiator,hero_role_durable,hero_role_pusher,hero_role_support,hero_role_carry,hero_role_disabler,hero_role_escape,kda,radiant_team,team_kda,team_denies,team_gold,team_gold_spent,teamfights,tf_damage_dealt,tf_buybacks,tf_deaths,tf_avg_gold_delta,tf_avg_xp_delta,trueskill_mu,trueskill_sigma,trueskill,match_quality,total_wins,total_matches,win_rate
7203,720,0,2956,2956,0,3,0,0,135,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2021,132,2015-11-12 08:49:43,0,1926,59,0,152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,27.411772,2.694663,19.327783,0.509527,2,3,0.666667
10320,1032,0,-,0_1032_0,0,0,0,0,124,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2358,132,2015-11-12 10:24:54,0,1956,63,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,18.363303,7.063993,-2.828676,0.456050,0,1,0.000000
11088,1108,0,4765,4765,0,131,0,0,104,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2193,111,2015-11-12 10:45:17,2039,0,0,63,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,27.979409,2.081422,21.735143,0.431137,1,2,0.500000
21343,2134,0,9442,9442,0,3,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,485,138,2015-11-12 14:43:48,2047,2047,63,63,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,27.599931,4.060508,15.418408,0.011821,0,2,0.000000
21344,2134,0,9441,9441,0,4,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,485,138,2015-11-12 14:43:48,2047,2047,63,63,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,29.731222,2.199740,23.132003,0.011821,0,2,0.000000
27738,2773,0,13922,13922,0,131,0,0,108,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1084,204,2015-11-12 16:25:25,1983,384,48,63,271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,21.971784,5.596345,5.182748,0.334627,0,1,0.000000
70983,7098,0,-,0_7098_3,0,3,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2156,112,2015-11-13 03:23:51,0,2047,63,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,33.598530,6.256666,14.828533,0.258310,0,1,0.000000
74882,7488,0,6069,6069,0,2,0,0,117,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2709,171,2015-11-13 05:04:51,256,1846,63,48,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,29.535976,2.641245,21.612240,0.594716,3,7,0.428571
75829,7582,0,35721,35721,0,132,0,0,111,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1959,121,2015-11-13 05:23:06,2044,6,3,63,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,28.783225,6.723435,8.612920,0.525323,0,1,0.000000
78314,7831,0,35936,35936,0,4,0,0,106,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1321,111,2015-11-13 06:23:06,0,2047,63,0,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,25.820241,1.773467,20.499841,0.436867,1,2,0.500000
133969,13396,0,55450,55450,0,132,0,0,107,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1349,132,2015-11-14 01:33:07,2046,6,3,63,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,22.513778,4.353832,9.452281,0.333600,0,2,0.000000
145920,14592,0,38021,38021,0,0,0,0,105,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1687,132,2015-11-14 04:52:29,4,1983,63,3,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,24.052276,2.475833,16.624778,0.053220,0,2,0.000000
227648,22764,0,86659,86659,0,131,0,0,108,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1462,133,2015-11-15 02:13:48,1983,384,48,63,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,28.788919,5.225604,13.112108,0.241073,1,2,0.500000
245097,24509,1,39206,39206,0,130,0,0,208,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,2251,155,2015-11-15 07:10:28,0,1846,63,0,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,26.540676,7.093397,5.260484,0.514957,1,2,0.500000
247118,24711,0,38437,38437,0,131,0,0,105,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1763,111,2015-11-15 07:45:51,2046,4,3,63,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,24.269809,3.752581,13.012064,0.568391,1,2,0.500000
250435,25043,1,2308,2308,0,128,0,0,206,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1764,122,2015-11-15 08:54:11,384,1982,63,48,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,29.151605,1.931059,23.358429,0.487925,4,6,0.666667
258887,25888,0,-,0_25888_130,0,130,0,0,113,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,892,133,2015-11-15 11:25:16,1983,4,3,63,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,25.112577,7.270275,3.301753,0.038876,0,1,0.000000
261065,26106,0,-,0_26106_128,0,128,0,0,100,5,0,0,0.0,186,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,1210,154,2015-11-15 12:04:07,2047,0,0,63,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.666667,25.112577,7.270275,3.301753,0.134593,0,1,0.000000
293882,29388,0,108154,108154,0,2,0,0,107,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1366,181,2015-11-15 18:40:32,6,2046,63,3,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,25.967389,5.839902,8.447683,0.388838,0,1,0.000000
301500,30150,0,57712,57712,0,0,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,964,111,2015-11-15 19:57:51,390,2047,63,51,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,25.694722,4.820490,11.233253,0.174488,0,5,0.000000
307907,30790,1,-,0_30790_130,0,130,0,0,179,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,3130,122,2015-11-15 21:01:24,0,1828,63,0,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,25.112577,7.270275,3.301753,0.523146,1,1,1.000000
330874,33087,1,-,0_33087_4,0,4,0,0,221,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2002,111,2015-11-16 02:10:03,1974,0,0,63,111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,25.112577,7.270275,3.301753,0.624743,1,1,1.000000
334431,33443,0,118801,118801,0,1,0,0,141,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2644,121,2015-11-16 03:09:51,260,1572,15,51,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,22.869039,5.076665,7.639045,0.548698,0,1,0.000000
362452,36245,0,110278,110278,0,2,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,1734,132,2015-11-16 15:02:37,4,2047,63,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,27.107465,6.386980,7.946524,0.040777,1,2,0.500000
366472,36647,0,87795,87795,0,2,0,0,119,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,681,204,2015-11-16 16:21:14,1920,2047,63,48,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,32.442088,5.563974,15.750167,0.003367,1,2,0.500000
370200,37020,1,127953,127953,0,0,0,0,241,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1608,123,2015-11-16 17:32:17,1982,0,0,63,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,20.211672,7.290200,-1.658929,0.333427,1,1,1.000000
370208,37020,0,127954,127954,0,131,0,0,106,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1608,123,2015-11-16 17:32:17,1982,0,0,63,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,26.546656,6.781209,6.203030,0.333427,0,1,0.000000
371479,37147,0,88399,88399,0,132,0,0,105,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1709,132,2015-11-16 17:59:50,2046,4,3,63,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,28.398762,4.411328,15.164778,0.335135,1,2,0.500000
378604,37860,0,16945,16945,0,4,0,0,151,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,3321,191,2015-11-16 19:55:06,384,1536,11,51,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,26.269277,5.681284,9.225425,0.475711,0,2,0.000000
381501,38150,0,131145,131145,0,1,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1463,132,2015-11-16 20:29:18,4,2047,63,3,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,23.874200,7.101637,2.569289,0.519661,0,1,0.000000
396646,39664,0,53282,53282,0,129,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1690,121,2015-11-16 23:56:18,2047,6,3,63,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,32.235784,2.214255,25.593020,0.480534,1,4,0.250000
405223,40522,1,-,0_40522_3,0,3,0,0,186,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2946,121,2015-11-17 02:24:48,1952,0,0,60,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,25.112577,7.270275,3.301753,0.516683,1,1,1.000000
407067,40706,0,108169,108169,0,130,0,0,132,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,3164,132,2015-11-17 02:55:56,1590,0,0,63,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,28.599328,4.637435,14.687023,0.396095,0,2,0.000000
410292,41029,0,7228,7228,0,2,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1936,171,2015-11-17 03:51:09,0,2047,63,0,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,30.308492,4.651989,16.352525,0.395915,2,5,0.400000
435194,43519,0,real men put his mmr behind,42570,0,4,0,0,156,43,0,0,0.0,308,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,2,1745,152,2015-11-17 13:24:13,4,1982,63,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,155.000000,25.099213,3.920928,13.336428,0.250403,0,2,0.000000
458794,45879,0,149592,149592,0,4,0,0,105,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1884,132,2015-11-17 19:42:48,6,2046,63,3,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,25.112577,7.270275,3.301753,0.391170,0,1,0.000000
462803,46280,0,150624,150624,0,3,0,0,100,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,868,132,2015-11-17 20:38:55,4,2047,63,3,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,25.112577,7.270275,3.301753,0.411471,0,1,0.000000

It seems that the hero ID 0 is responsible for the null values in these rows. Since we can't fill the values without introducing bias into our models, we need to remove these matches entirely from our dataset. Let's create a list of the unique match IDs that we can use to drop the matches when we explore the Matches DataFrame.

In [35]:
# Create a list of the match IDs to be dropped
dropped_matches = players[players['hero_id'] == 0]['match_id'].tolist()
print('Matches to be removed:', len(dropped_matches))
print(dropped_matches)

Matches to be removed: 37
[720, 1032, 1108, 2134, 2134, 2773, 7098, 7488, 7582, 7831, 13396, 14592, 22764, 24509, 24711, 25043, 25888, 26106, 29388, 30150, 30790, 33087, 33443, 36245, 36647, 37020, 37020, 37147, 37860, 38150, 39664, 40522, 40706, 41029, 43519, 45879, 46280]

Let's maintain the teamfight-related features as they are for now. We can review them later after exploring the Matches DataFrame.

In [36]:
# Sanity Check
print(f'players:', '{:,} observations, {:,} features'.format(players.shape[0], players.shape[1]))

players: 500,000 observations, 71 features

### Matches DataFrame

In [37]:
# Look at the DataFrame
print(f'matches:', '{:,} observations, {:,} features'.format(matches.shape[0], matches.shape[1]))
matches.head()

matches: 50,000 observations, 13 features

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
0,0,2015-11-05 19:01:52,2375,1982,4,3,63,1,22,1,0,1,155
1,1,2015-11-05 19:51:18,2582,0,1846,63,0,221,22,0,0,2,154
2,2,2015-11-05 23:03:06,2716,256,1972,63,48,190,22,0,0,0,132
3,3,2015-11-05 23:22:03,3085,4,1924,51,3,40,22,0,0,0,191
4,4,2015-11-06 07:53:05,1887,2047,0,0,63,58,22,1,0,0,156

#### Team Aggregations

Next, we should proceed to create a new column containing the team hero picks for each player in their respective rows. This modification will provide us with valuable insight into the team composition for each match observation.

In [38]:
# Group players by match_id and separate radiant/dire heroes
match_picks = players.groupby(['match_id', 'radiant_team'], as_index=False, observed=False)['hero_id']\
                .apply(list).rename(columns={'hero_id': 'team_hero_picks'})

In [39]:
# Pivot the team_features DataFrame
team_pivoted = team_features.pivot(index='match_id', columns='radiant_team')

# Flatten MultiIndex columns
team_pivoted.columns = ['{}_{}'.format(col[0], 'radiant' if col[1] == 1 else 'dire')\
                        for col in team_pivoted.columns]

# Reset the index
team_pivoted.reset_index(inplace=True)
display(team_pivoted.head())
print('----------------------------')

# Merge results with the matches DataFrame
matches = matches.merge(team_pivoted, on=['match_id'], how='left')
display(matches.head())

,match_id,team_kda_dire,team_kda_radiant,team_denies_dire,team_denies_radiant,team_gold_dire,team_gold_radiant,team_gold_spent_dire,team_gold_spent_radiant
0,0,0.905660,7.611111,38,30,3718,10811,58620,87245
1,1,3.500000,1.555556,16,27,9085,4776,107750,69310
2,2,6.000000,1.060000,16,10,11177,2494,81620,54990
3,3,2.621212,2.328358,29,32,5954,6455,94430,76685
4,4,1.210526,5.647059,21,26,2030,14099,38980,78980

----------------------------

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster,team_kda_dire,team_kda_radiant,team_denies_dire,team_denies_radiant,team_gold_dire,team_gold_radiant,team_gold_spent_dire,team_gold_spent_radiant
0,0,2015-11-05 19:01:52,2375,1982,4,3,63,1,22,1,0,1,155,0.905660,7.611111,38,30,3718,10811,58620,87245
1,1,2015-11-05 19:51:18,2582,0,1846,63,0,221,22,0,0,2,154,3.500000,1.555556,16,27,9085,4776,107750,69310
2,2,2015-11-05 23:03:06,2716,256,1972,63,48,190,22,0,0,0,132,6.000000,1.060000,16,10,11177,2494,81620,54990
3,3,2015-11-05 23:22:03,3085,4,1924,51,3,40,22,0,0,0,191,2.621212,2.328358,29,32,5954,6455,94430,76685
4,4,2015-11-06 07:53:05,1887,2047,0,0,63,58,22,1,0,0,156,1.210526,5.647059,21,26,2030,14099,38980,78980

In [40]:
# Pivot the team_features DataFrame
picks_pivoted = match_picks.pivot(index='match_id', columns='radiant_team')

# Flatten MultiIndex columns
picks_pivoted.columns = ['{}_{}'.format(col[0], 'radiant' if col[1] == 1 else 'dire')\
                        for col in picks_pivoted.columns]

# Reset the index
picks_pivoted.reset_index(inplace=True)
display(picks_pivoted.head())
print('----------------------------')

# Expanding the lists
radiant_picks = pd.DataFrame(picks_pivoted['team_hero_picks_radiant'].tolist(), 
                             index=picks_pivoted.index, 
                             columns=[f'hero_slot_{i}' for i in range(5)])

dire_picks = pd.DataFrame(picks_pivoted['team_hero_picks_dire'].tolist(), 
                          index=picks_pivoted.index, 
                          columns=[f'hero_slot_{i+128}' for i in range(5)])

picks_pivoted = pd.concat([picks_pivoted, radiant_picks, dire_picks], axis=1)
picks_pivoted.drop(columns=['team_hero_picks_radiant', 'team_hero_picks_dire'], inplace=True)

# Merge results with the matches DataFrame
matches = matches.merge(picks_pivoted, on=['match_id'], how='left')
display(matches.head())

   match_id    team_hero_picks_dire team_hero_picks_radiant
0         0   [106, 102, 46, 7, 73]    [86, 51, 83, 11, 67]
1         1    [73, 22, 5, 67, 106]     [7, 82, 71, 39, 21]
2         2     [38, 7, 10, 12, 85]    [51, 109, 9, 41, 27]
3         3    [78, 19, 31, 40, 47]    [50, 44, 32, 26, 39]
4         4  [101, 100, 22, 67, 21]     [8, 39, 55, 87, 69]

----------------------------

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster,team_kda_dire,team_kda_radiant,team_denies_dire,team_denies_radiant,team_gold_dire,team_gold_radiant,team_gold_spent_dire,team_gold_spent_radiant,hero_slot_0,hero_slot_1,hero_slot_2,hero_slot_3,hero_slot_4,hero_slot_128,hero_slot_129,hero_slot_130,hero_slot_131,hero_slot_132
0,0,2015-11-05 19:01:52,2375,1982,4,3,63,1,22,1,0,1,155,0.905660,7.611111,38,30,3718,10811,58620,87245,86,51,83,11,67,106,102,46,7,73
1,1,2015-11-05 19:51:18,2582,0,1846,63,0,221,22,0,0,2,154,3.500000,1.555556,16,27,9085,4776,107750,69310,7,82,71,39,21,73,22,5,67,106
2,2,2015-11-05 23:03:06,2716,256,1972,63,48,190,22,0,0,0,132,6.000000,1.060000,16,10,11177,2494,81620,54990,51,109,9,41,27,38,7,10,12,85
3,3,2015-11-05 23:22:03,3085,4,1924,51,3,40,22,0,0,0,191,2.621212,2.328358,29,32,5954,6455,94430,76685,50,44,32,26,39,78,19,31,40,47
4,4,2015-11-06 07:53:05,1887,2047,0,0,63,58,22,1,0,0,156,1.210526,5.647059,21,26,2030,14099,38980,78980,8,39,55,87,69,101,100,22,67,21

#### Hero Features

In [41]:
# Create a mask from our players DataFrame
team_hero_features = players[['match_id', 'player_slot', 'radiant_team', 'hero_primary_attribute',
                              'hero_role_disabler', 'hero_role_support', 'hero_role_carry',
                              'hero_role_initiator', 'hero_role_durable', 'hero_role_pusher',
                              'hero_role_nuker', 'hero_role_escape']]

# Pivot the mask
hero_features_pivot = team_hero_features.pivot_table(
    index='match_id',
    columns='player_slot',
    values=['radiant_team', 'hero_primary_attribute', 'hero_role_disabler', 
            'hero_role_support', 'hero_role_carry', 'hero_role_initiator', 
            'hero_role_durable', 'hero_role_pusher', 'hero_role_nuker', 'hero_role_escape'],
    aggfunc='first'
)

# Flatten the multi-level columns
hero_features_pivot.columns = [f'{i}_{j}' if j!= '' else f'{i}' for i, j in hero_features_pivot.columns]
hero_features_pivot.drop(columns=['radiant_team_0', 'radiant_team_1', 'radiant_team_2', 'radiant_team_3', 'radiant_team_4', 
                                  'radiant_team_128', 'radiant_team_129', 'radiant_team_130', 'radiant_team_131', 'radiant_team_132'], 
                         inplace=True)
hero_features_pivot.reset_index(inplace=True)

# Merge results with the matches DataFrame
matches = matches.merge(hero_features_pivot, on='match_id', how='left')
display(matches.head())

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster,team_kda_dire,team_kda_radiant,team_denies_dire,team_denies_radiant,team_gold_dire,team_gold_radiant,team_gold_spent_dire,team_gold_spent_radiant,hero_slot_0,hero_slot_1,hero_slot_2,hero_slot_3,hero_slot_4,hero_slot_128,hero_slot_129,hero_slot_130,hero_slot_131,hero_slot_132,hero_primary_attribute_0,hero_primary_attribute_1,hero_primary_attribute_2,hero_primary_attribute_3,hero_primary_attribute_4,hero_primary_attribute_128,hero_primary_attribute_129,hero_primary_attribute_130,hero_primary_attribute_131,hero_primary_attribute_132,hero_role_carry_0,hero_role_carry_1,hero_role_carry_2,hero_role_carry_3,hero_role_carry_4,hero_role_carry_128,hero_role_carry_129,hero_role_carry_130,hero_role_carry_131,hero_role_carry_132,hero_role_disabler_0,hero_role_disabler_1,hero_role_disabler_2,hero_role_disabler_3,hero_role_disabler_4,hero_role_disabler_128,hero_role_disabler_129,hero_role_disabler_130,hero_role_disabler_131,hero_role_disabler_132,hero_role_durable_0,hero_role_durable_1,hero_role_durable_2,hero_role_durable_3,hero_role_durable_4,hero_role_durable_128,hero_role_durable_129,hero_role_durable_130,hero_role_durable_131,hero_role_durable_132,hero_role_escape_0,hero_role_escape_1,hero_role_escape_2,hero_role_escape_3,hero_role_escape_4,hero_role_escape_128,hero_role_escape_129,hero_role_escape_130,hero_role_escape_131,hero_role_escape_132,hero_role_initiator_0,hero_role_initiator_1,hero_role_initiator_2,hero_role_initiator_3,hero_role_initiator_4,hero_role_initiator_128,hero_role_initiator_129,hero_role_initiator_130,hero_role_initiator_131,hero_role_initiator_132,hero_role_nuker_0,hero_role_nuker_1,hero_role_nuker_2,hero_role_nuker_3,hero_role_nuker_4,hero_role_nuker_128,hero_role_nuker_129,hero_role_nuker_130,hero_role_nuker_131,hero_role_nuker_132,hero_role_pusher_0,hero_role_pusher_1,hero_role_pusher_2,hero_role_pusher_3,hero_role_pusher_4,hero_role_pusher_128,hero_role_pusher_129,hero_role_pusher_130,hero_role_pusher_131,hero_role_pusher_132,hero_role_support_0,hero_role_support_1,hero_role_support_2,hero_role_support_3,hero_role_support_4,hero_role_support_128,hero_role_support_129,hero_role_support_130,hero_role_support_131,hero_role_support_132
0,0,2015-11-05 19:01:52,2375,1982,4,3,63,1,22,1,0,1,155,0.905660,7.611111,38,30,3718,10811,58620,87245,86,51,83,11,67,106,102,46,7,73,int,all,str,agi,agi,agi,all,agi,str,str,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
1,1,2015-11-05 19:51:18,2582,0,1846,63,0,221,22,0,0,2,154,3.500000,1.555556,16,27,9085,4776,107750,69310,7,82,71,39,21,73,22,5,67,106,str,agi,str,int,all,str,int,int,agi,agi,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
2,2,2015-11-05 23:03:06,2716,256,1972,63,48,190,22,0,0,0,132,6.000000,1.060000,16,10,11177,2494,81620,54990,51,109,9,41,27,38,7,10,12,85,all,agi,all,agi,int,all,str,agi,agi,str,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,3,2015-11-05 23:22:03,3085,4,1924,51,3,40,22,0,0,0,191,2.621212,2.328358,29,32,5954,6455,94430,76685,50,44,32,26,39,78,19,31,40,47,all,agi,agi,int,int,all,str,int,all,agi,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
4,4,2015-11-06 07:53:05,1887,2047,0,0,63,58,22,1,0,0,156,1.210526,5.647059,21,26,2030,14099,38980,78980,8,39,55,87,69,101,100,22,67,21,agi,int,all,int,str,int,str,int,agi,all,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

We have successfully included each player's one-hot encoded hero roles into our DataFrame. Let's continue with the features from Teamfights.

#### Teamfights

In [42]:
# Load required file
teamfights = pd.read_csv(clean_folder + '/teamfights.csv', index_col=0)
print(f'teamfights:', '{:,} observations, {:,} features'.format(teamfights.shape[0], teamfights.shape[1]))

teamfights: 539,047 observations, 6 features

In [43]:
# Check the total matches
teamfights['match_id'].nunique()

49931

In [44]:
# Look at the head
teamfights.head()

   match_id  tf_order  start   end  last_death  deaths
0         0         1    220   252         237       3
1         0         2    429   475         460       3
2         0         3    900   936         921       3
3         0         4   1284  1328        1313       3
4         0         5   1614  1666        1651       5

We want to calculate the total number of teamfights per match in the matches DataFrame, and we can also determine the average duration of teamfights per match.

In [45]:
# Create duration feature
tf_duration = teamfights['end'] - teamfights['start']
teamfights.insert(4, 'duration', value=tf_duration)

# Selecting the agg functions for each column
agg_funcs = {
    'tf_order': 'max',
    'duration': 'mean'
}

# Aggregating features
tfs_per_match = teamfights[['match_id', 'tf_order', 'duration']].groupby('match_id', as_index=False).agg(agg_funcs)

# Rename time column to match format
tfs_per_match.rename(columns={'tf_order': 'teamfights', 'duration': 'tf_avg_duration'}, inplace=True)

tfs_per_match.head(10)

   match_id  teamfights  tf_avg_duration
0         0          12        42.583333
1         1          15        44.066667
2         2          11        45.272727
3         3          16        52.062500
4         4           6        42.666667
5         5          13        47.384615
6         6          10        44.400000
7         7          12        47.000000
8         8          10        42.500000
9         9          13        49.000000

In [46]:
# Merge results with the matches DataFrame
matches = matches.merge(tfs_per_match, on=['match_id'], how='left')
display(matches.head())

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster,team_kda_dire,team_kda_radiant,team_denies_dire,team_denies_radiant,team_gold_dire,team_gold_radiant,team_gold_spent_dire,team_gold_spent_radiant,hero_slot_0,hero_slot_1,hero_slot_2,hero_slot_3,hero_slot_4,hero_slot_128,hero_slot_129,hero_slot_130,hero_slot_131,hero_slot_132,hero_primary_attribute_0,hero_primary_attribute_1,hero_primary_attribute_2,hero_primary_attribute_3,hero_primary_attribute_4,hero_primary_attribute_128,hero_primary_attribute_129,hero_primary_attribute_130,hero_primary_attribute_131,hero_primary_attribute_132,hero_role_carry_0,hero_role_carry_1,hero_role_carry_2,hero_role_carry_3,hero_role_carry_4,hero_role_carry_128,hero_role_carry_129,hero_role_carry_130,hero_role_carry_131,hero_role_carry_132,hero_role_disabler_0,hero_role_disabler_1,hero_role_disabler_2,hero_role_disabler_3,hero_role_disabler_4,hero_role_disabler_128,hero_role_disabler_129,hero_role_disabler_130,hero_role_disabler_131,hero_role_disabler_132,hero_role_durable_0,hero_role_durable_1,hero_role_durable_2,hero_role_durable_3,hero_role_durable_4,hero_role_durable_128,hero_role_durable_129,hero_role_durable_130,hero_role_durable_131,hero_role_durable_132,hero_role_escape_0,hero_role_escape_1,hero_role_escape_2,hero_role_escape_3,hero_role_escape_4,hero_role_escape_128,hero_role_escape_129,hero_role_escape_130,hero_role_escape_131,hero_role_escape_132,hero_role_initiator_0,hero_role_initiator_1,hero_role_initiator_2,hero_role_initiator_3,hero_role_initiator_4,hero_role_initiator_128,hero_role_initiator_129,hero_role_initiator_130,hero_role_initiator_131,hero_role_initiator_132,hero_role_nuker_0,hero_role_nuker_1,hero_role_nuker_2,hero_role_nuker_3,hero_role_nuker_4,hero_role_nuker_128,hero_role_nuker_129,hero_role_nuker_130,hero_role_nuker_131,hero_role_nuker_132,hero_role_pusher_0,hero_role_pusher_1,hero_role_pusher_2,hero_role_pusher_3,hero_role_pusher_4,hero_role_pusher_128,hero_role_pusher_129,hero_role_pusher_130,hero_role_pusher_131,hero_role_pusher_132,hero_role_support_0,hero_role_support_1,hero_role_support_2,hero_role_support_3,hero_role_support_4,hero_role_support_128,hero_role_support_129,hero_role_support_130,hero_role_support_131,hero_role_support_132,teamfights,tf_avg_duration
0,0,2015-11-05 19:01:52,2375,1982,4,3,63,1,22,1,0,1,155,0.905660,7.611111,38,30,3718,10811,58620,87245,86,51,83,11,67,106,102,46,7,73,int,all,str,agi,agi,agi,all,agi,str,str,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,12.0,42.583333
1,1,2015-11-05 19:51:18,2582,0,1846,63,0,221,22,0,0,2,154,3.500000,1.555556,16,27,9085,4776,107750,69310,7,82,71,39,21,73,22,5,67,106,str,agi,str,int,all,str,int,int,agi,agi,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,15.0,44.066667
2,2,2015-11-05 23:03:06,2716,256,1972,63,48,190,22,0,0,0,132,6.000000,1.060000,16,10,11177,2494,81620,54990,51,109,9,41,27,38,7,10,12,85,all,agi,all,agi,int,all,str,agi,agi,str,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,11.0,45.272727
3,3,2015-11-05 23:22:03,3085,4,1924,51,3,40,22,0,0,0,191,2.621212,2.328358,29,32,5954,6455,94430,76685,50,44,32,26,39,78,19,31,40,47,all,agi,agi,int,int,all,str,int,all,agi,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,16.0,52.062500
4,4,2015-11-06 07:53:05,1887,2047,0,0,63,58,22,1,0,0,156,1.210526,5.647059,21,26,2030,14099,38980,78980,8,39,55,87,69,101,100,22,67,21,agi,int,all,int,str,int,str,int,agi,all,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,6.0,42.666667

#### TrueSkill

In [47]:
# Filtering trueskill features and looking at the head 
ts_df = players[['match_id', 'player_slot', 'trueskill_mu', 'trueskill_sigma', 'trueskill', 'match_quality']]
ts_df.head(20)

,match_id,player_slot,trueskill_mu,trueskill_sigma,trueskill,match_quality
0,0,0,25.112577,7.270275,3.301753,0.333641
1,0,1,26.232905,4.854238,11.670192,0.333641
2,0,2,25.112577,7.270275,3.301753,0.333641
3,0,3,27.614505,6.550771,7.962190,0.333641
4,0,4,20.221006,5.961434,2.336703,0.333641
5,0,128,26.773302,5.322094,10.807019,0.333641
6,0,129,25.112577,7.270275,3.301753,0.333641
7,0,130,32.190551,2.937140,23.379132,0.333641
8,0,131,23.139500,6.807861,2.715916,0.333641
9,0,132,34.774520,5.783084,17.425268,0.333641
10,1,0,25.112577,7.270275,3.301753,0.580920
11,1,1,29.496604,4.165835,16.999098,0.580920
12,1,2,24.239564,7.114735,2.895360,0.580920
13,1,3,18.071280,5.140566,2.649581,0.580920
14,1,4,27.241181,5.261842,11.455655,0.580920
15,1,128,27.247864,7.484124,4.795492,0.580920
16,1,129,31.356129,2.762250,23.069381,0.580920
17,1,130,25.112577,7.270275,3.301753,0.580920
18,1,131,32.333132,2.928117,23.548781,0.580920
19,1,132,25.112577,7.270275,3.301753,0.580920

In [48]:
# Group by match ID to avoid duplicates
ts_df_grouped = ts_df.groupby('match_id')['match_quality'].first().reset_index()

# Merge the match_quality to the matches DataFrame
matches = matches.merge(ts_df_grouped, on=['match_id'], how='left')
display(matches[['match_id', 'match_quality']].head())

   match_id  match_quality
0         0       0.333641
1         1       0.580920
2         2       0.402769
3         3       0.462334
4         4       0.476433

In [49]:
# Pivot the table
ts_pivot = ts_df.pivot_table(
    index='match_id',
    columns='player_slot',
    values='trueskill',
    aggfunc='first'
)

# Flatten the multi-level columns
ts_pivot.columns = [f'trueskill_{col}' for col in ts_pivot.columns]
ts_pivot.reset_index(inplace=True)

# Merge into the matches DataFrame
matches = matches.merge(ts_pivot, on='match_id', how='left')
display(matches.head())

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster,team_kda_dire,team_kda_radiant,team_denies_dire,team_denies_radiant,team_gold_dire,team_gold_radiant,team_gold_spent_dire,team_gold_spent_radiant,hero_slot_0,hero_slot_1,hero_slot_2,hero_slot_3,hero_slot_4,hero_slot_128,hero_slot_129,hero_slot_130,hero_slot_131,hero_slot_132,hero_primary_attribute_0,hero_primary_attribute_1,hero_primary_attribute_2,hero_primary_attribute_3,hero_primary_attribute_4,hero_primary_attribute_128,hero_primary_attribute_129,hero_primary_attribute_130,hero_primary_attribute_131,hero_primary_attribute_132,hero_role_carry_0,hero_role_carry_1,hero_role_carry_2,hero_role_carry_3,hero_role_carry_4,hero_role_carry_128,hero_role_carry_129,hero_role_carry_130,hero_role_carry_131,hero_role_carry_132,hero_role_disabler_0,hero_role_disabler_1,hero_role_disabler_2,hero_role_disabler_3,hero_role_disabler_4,hero_role_disabler_128,hero_role_disabler_129,hero_role_disabler_130,hero_role_disabler_131,hero_role_disabler_132,hero_role_durable_0,hero_role_durable_1,hero_role_durable_2,hero_role_durable_3,hero_role_durable_4,hero_role_durable_128,hero_role_durable_129,hero_role_durable_130,hero_role_durable_131,hero_role_durable_132,hero_role_escape_0,hero_role_escape_1,hero_role_escape_2,hero_role_escape_3,hero_role_escape_4,hero_role_escape_128,hero_role_escape_129,hero_role_escape_130,hero_role_escape_131,hero_role_escape_132,hero_role_initiator_0,hero_role_initiator_1,hero_role_initiator_2,hero_role_initiator_3,hero_role_initiator_4,hero_role_initiator_128,hero_role_initiator_129,hero_role_initiator_130,hero_role_initiator_131,hero_role_initiator_132,hero_role_nuker_0,hero_role_nuker_1,hero_role_nuker_2,hero_role_nuker_3,hero_role_nuker_4,hero_role_nuker_128,hero_role_nuker_129,hero_role_nuker_130,hero_role_nuker_131,hero_role_nuker_132,hero_role_pusher_0,hero_role_pusher_1,hero_role_pusher_2,hero_role_pusher_3,hero_role_pusher_4,hero_role_pusher_128,hero_role_pusher_129,hero_role_pusher_130,hero_role_pusher_131,hero_role_pusher_132,hero_role_support_0,hero_role_support_1,hero_role_support_2,hero_role_support_3,hero_role_support_4,hero_role_support_128,hero_role_support_129,hero_role_support_130,hero_role_support_131,hero_role_support_132,teamfights,tf_avg_duration,match_quality,trueskill_0,trueskill_1,trueskill_2,trueskill_3,trueskill_4,trueskill_128,trueskill_129,trueskill_130,trueskill_131,trueskill_132
0,0,2015-11-05 19:01:52,2375,1982,4,3,63,1,22,1,0,1,155,0.905660,7.611111,38,30,3718,10811,58620,87245,86,51,83,11,67,106,102,46,7,73,int,all,str,agi,agi,agi,all,agi,str,str,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,12.0,42.583333,0.333641,3.301753,11.670192,3.301753,7.962190,2.336703,10.807019,3.301753,23.379132,2.715916,17.425268
1,1,2015-11-05 19:51:18,2582,0,1846,63,0,221,22,0,0,2,154,3.500000,1.555556,16,27,9085,4776,107750,69310,7,82,71,39,21,73,22,5,67,106,str,agi,str,int,all,str,int,int,agi,agi,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,15.0,44.066667,0.580920,3.301753,16.999098,2.895360,2.649581,11.455655,4.795492,23.069381,3.301753,23.548781,3.301753
2,2,2015-11-05 23:03:06,2716,256,1972,63,48,190,22,0,0,0,132,6.000000,1.060000,16,10,11177,2494,81620,54990,51,109,9,41,27,38,7,10,12,85,all,agi,all,agi,int,all,str,agi,agi,str,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,11.0,45.272727,0.402769,3.301753,3.858394,3.858394,6.099669,10.246954,3.301753,21.139734,3.301753,3.301753,3.301753
3,3,2015-11-05 23:22:03,3085,4,1924,51,3,40,22,0,0,0,191,2.621212,2.328358,29,32,5954,6455,94430,76685,50,44,32,26,39,78,19,31,40,47,all,agi,agi,int,int,all,str,int,all,agi,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,16.0,52.062500,0.462334,0.386932,3.301753,3.301753,3.301753,-3.142269,4.672139,3.301753,8.500198,4.637102,3.301753
4,4,2015-11-06 07:53:05,1887,2047,0,0,63,58,22,1,0,0,156,1.210526,5.647059,21,26,2030,14099,38980,78980,8,39,55,87,69,101,100,22,67,21,agi,int,all,int,str,int,str,int,agi,all,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,6.0,42.666667,0.476433,9.539045,13.140809,6.390039,12.183661,10.246954,5.658858,5.387267,3.301753,23.106103,7.392703

#### Filling Missing Values

In [50]:
# Find features with missing values
display(matches.isna().sum().sort_values(ascending=False)\
[matches.isna().sum().sort_values(ascending=False) > 0])

tf_avg_duration               69
teamfights                    69
hero_primary_attribute_4       6
hero_role_pusher_4             6
hero_role_carry_4              6
hero_role_nuker_4              6
hero_role_escape_4             6
hero_role_disabler_4           6
hero_role_support_4            6
hero_role_initiator_4          6
hero_role_durable_4            6
hero_role_pusher_3             5
hero_role_pusher_2             5
hero_primary_attribute_2       5
hero_primary_attribute_3       5
hero_role_escape_2             5
hero_role_durable_3            5
hero_role_pusher_131           5
hero_role_durable_2            5
hero_primary_attribute_131     5
hero_role_disabler_131         5
hero_role_carry_2              5
hero_role_carry_3              5
hero_role_disabler_3           5
hero_role_durable_131          5
hero_role_disabler_2           5
hero_role_initiator_3          5
hero_role_nuker_131            5
hero_role_escape_3             5
hero_role_support_2            5
hero_role_support_3            5
hero_role_escape_131           5
hero_role_nuker_3              5
hero_role_support_131          5
hero_role_initiator_2          5
hero_role_carry_131            5
hero_role_nuker_2              5
hero_role_initiator_131        5
hero_role_disabler_130         4
hero_role_nuker_130            4
hero_role_nuker_0              4
hero_role_escape_0             4
hero_role_initiator_130        4
hero_role_durable_0            4
hero_role_initiator_0          4
hero_role_escape_130           4
hero_role_durable_130          4
hero_role_disabler_0           4
hero_role_pusher_0             4
hero_role_carry_130            4
hero_role_carry_0              4
hero_role_support_0            4
hero_primary_attribute_0       4
hero_role_support_130          4
hero_primary_attribute_130     4
hero_role_pusher_130           4
hero_role_support_132          3
hero_primary_attribute_132     3
hero_role_initiator_132        3
hero_role_escape_132           3
hero_role_carry_132            3
hero_role_nuker_132            3
hero_role_pusher_132           3
hero_role_durable_132          3
hero_role_disabler_132         3
hero_role_initiator_1          2
hero_role_initiator_128        2
hero_role_escape_1             2
hero_role_nuker_1              2
hero_role_support_128          2
hero_role_escape_128           2
hero_role_nuker_128            2
hero_role_support_1            2
hero_role_carry_1              2
hero_role_durable_128          2
hero_primary_attribute_1       2
hero_role_pusher_1             2
hero_primary_attribute_128     2
hero_role_disabler_1           2
hero_role_durable_1            2
hero_role_disabler_128         2
hero_role_carry_128            2
hero_role_pusher_128           2
hero_role_pusher_129           1
hero_role_nuker_129            1
hero_role_carry_129            1
hero_role_initiator_129        1
hero_role_disabler_129         1
hero_primary_attribute_129     1
hero_role_support_129          1
hero_role_escape_129           1
hero_role_durable_129          1
dtype: int64

In [51]:
# Look at the rows with missing teamfight values
matches[matches['teamfights'].isna()]

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster,team_kda_dire,team_kda_radiant,team_denies_dire,team_denies_radiant,team_gold_dire,team_gold_radiant,team_gold_spent_dire,team_gold_spent_radiant,hero_slot_0,hero_slot_1,hero_slot_2,hero_slot_3,hero_slot_4,hero_slot_128,hero_slot_129,hero_slot_130,hero_slot_131,hero_slot_132,hero_primary_attribute_0,hero_primary_attribute_1,hero_primary_attribute_2,hero_primary_attribute_3,hero_primary_attribute_4,hero_primary_attribute_128,hero_primary_attribute_129,hero_primary_attribute_130,hero_primary_attribute_131,hero_primary_attribute_132,hero_role_carry_0,hero_role_carry_1,hero_role_carry_2,hero_role_carry_3,hero_role_carry_4,hero_role_carry_128,hero_role_carry_129,hero_role_carry_130,hero_role_carry_131,hero_role_carry_132,hero_role_disabler_0,hero_role_disabler_1,hero_role_disabler_2,hero_role_disabler_3,hero_role_disabler_4,hero_role_disabler_128,hero_role_disabler_129,hero_role_disabler_130,hero_role_disabler_131,hero_role_disabler_132,hero_role_durable_0,hero_role_durable_1,hero_role_durable_2,hero_role_durable_3,hero_role_durable_4,hero_role_durable_128,hero_role_durable_129,hero_role_durable_130,hero_role_durable_131,hero_role_durable_132,hero_role_escape_0,hero_role_escape_1,hero_role_escape_2,hero_role_escape_3,hero_role_escape_4,hero_role_escape_128,hero_role_escape_129,hero_role_escape_130,hero_role_escape_131,hero_role_escape_132,hero_role_initiator_0,hero_role_initiator_1,hero_role_initiator_2,hero_role_initiator_3,hero_role_initiator_4,hero_role_initiator_128,hero_role_initiator_129,hero_role_initiator_130,hero_role_initiator_131,hero_role_initiator_132,hero_role_nuker_0,hero_role_nuker_1,hero_role_nuker_2,hero_role_nuker_3,hero_role_nuker_4,hero_role_nuker_128,hero_role_nuker_129,hero_role_nuker_130,hero_role_nuker_131,hero_role_nuker_132,hero_role_pusher_0,hero_role_pusher_1,hero_role_pusher_2,hero_role_pusher_3,hero_role_pusher_4,hero_role_pusher_128,hero_role_pusher_129,hero_role_pusher_130,hero_role_pusher_131,hero_role_pusher_132,hero_role_support_0,hero_role_support_1,hero_role_support_2,hero_role_support_3,hero_role_support_4,hero_role_support_128,hero_role_support_129,hero_role_support_130,hero_role_support_131,hero_role_support_132,teamfights,tf_avg_duration,match_quality,trueskill_0,trueskill_1,trueskill_2,trueskill_3,trueskill_4,trueskill_128,trueskill_129,trueskill_130,trueskill_131,trueskill_132
1221,1221,2015-11-12 11:23:25,272,2047,2047,63,63,8,22,0,0,0,171,5.000000,0.142857,14,4,3891,2134,7015,4740,85,10,21,14,2,7,61,20,106,15,str,agi,all,str,str,str,all,all,agi,agi,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,0.060841,0.633727,23.478384,7.994206,23.631038,22.468244,20.491866,24.919724,14.926128,19.172160,9.736056
1632,1632,2015-11-12 13:09:28,605,2047,2047,63,63,145,22,0,0,0,138,3.500000,0.400000,20,8,2351,2636,15360,10255,22,9,56,72,57,93,39,50,36,104,int,all,agi,agi,str,agi,int,all,int,str,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,0.035195,11.582781,3.301753,3.301753,2.958588,3.301753,4.915572,6.193910,14.054129,19.173923,11.758558
2420,2420,2015-11-12 15:27:58,681,2047,2046,63,63,143,22,1,0,0,133,0.000000,8.500000,18,16,2320,5617,10490,12550,19,74,2,26,5,18,25,10,104,101,str,all,str,int,int,str,int,agi,str,int,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,0.030676,14.758948,17.221748,8.773373,2.054592,10.027432,3.301753,3.301753,3.301753,17.386708,7.920520
2774,2774,2015-11-12 16:25:31,1411,384,2047,63,48,95,22,0,0,0,111,8.166667,0.416667,21,31,17090,7006,46980,28045,99,17,100,11,9,112,46,69,28,62,str,int,str,agi,all,all,agi,str,str,agi,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,0.139828,3.301753,11.269129,3.301753,21.348246,13.357926,22.415946,3.301753,2.044854,8.521596,14.393527
3204,3204,2015-11-12 17:36:29,1122,2047,260,51,63,175,22,1,0,0,133,0.352941,11.333333,5,30,5453,8132,11590,35425,86,49,106,27,8,7,67,29,63,62,int,str,agi,int,agi,str,agi,str,agi,agi,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,0.235813,17.276265,16.535279,-1.662855,3.301753,1.262703,6.437503,3.301753,3.301753,-1.420664,3.301753
3548,3548,2015-11-12 18:27:22,362,2047,2047,63,63,132,2,0,0,0,182,4.000000,0.250000,17,8,4530,1922,6990,7300,100,85,47,2,40,50,61,28,7,39,str,str,agi,str,all,all,all,str,str,int,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,0.008901,9.953612,17.996606,12.795343,13.005647,15.016340,3.301753,3.301753,3.301753,3.301753,1.034654
3587,3587,2015-11-12 18:33:19,289,2047,2039,63,63,0,22,1,0,0,204,0.000000,6.000000,3,16,2712,4673,3895,6245,5,69,11,14,67,7,63,42,39,30,int,str,agi,str,agi,str,agi,str,int,int,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,NaN,NaN,0.004570,1.020875,3.301753,2.013298,14.464078,10.591201,14.125489,3.301753,17.659963,3.301753,12.280876
4896,4896,2015-11-12 21:24:44,904,2046,391,51,63,0,22,1,0,0,112,1.111111,2.428571,10,18,7496,8749,11135,23885,79,62,73,110,93,21,50,2,71,36,int,agi,str,all,agi,all,all,str,str,int,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,0.011893,18.397198,3.301753,7.033719,10.073099,9.667373,3.301753,3.301753,14.413403,0.679104,17.632735
6213,6213,2015-11-13 00:41:55,148,2047,2047,63,63,0,22,1,0,0,132,0.000000,6.000000,3,4,1638,1523,3160,6275,55,75,62,93,86,19,90,57,1,7,all,int,agi,agi,int,str,int,str,agi,str,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,0.027122,21.263721,11.079367,4.579395,17.273957,18.110785,10.745818,3.301753,10.293069,20.574189,6.872508
6706,6706,2015-11-13 02:08:30,1015,2047,900,51,63,257,22,1,0,0,121,0.300000,5.666667,10,28,3978,8807,13295,31110,12,43,93,75,83,84,36,41,57,19,agi,int,agi,int,str,str,int,agi,str,str,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,0.009910,3.301753,3.301753,3.665339,3.301753,1.797714,3.301753,19.548460,3.765979,16.449575,0.349506
7274,7274,2015-11-13 04:13:54,277,2047,2047,63,63,4,22,0,0,0,171,4.500000,0.400000,17,3,1742,2941,8180,4310,31,42,22,72,57,35,102,14,21,8,int,str,int,agi,str,agi,all,str,all,agi,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.019359,10.456540,-1.876770,1.113641,17.480279,11.413472,3.301753,3.301753,3.301753,3.301753,3.301753
9273,9273,2015-11-13 13:57:36,983,1974,2039,63,63,49,22,0,0,0,123,3.333333,1.071429,6,4,2485,3207,22740,21905,83,28,90,1,73,74,99,93,68,41,str,str,int,agi,str,all,str,agi,int,agi,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,0.044910,-1.912510,-0.538739,-2.626003,7.281898,3.301753,3.301753,9.068469,3.301753,3.301753,3.301753
9569,9569,2015-11-13 15:06:09,795,0,2047,63,0,167,22,0,0,0,138,5.500000,0.416667,14,5,12712,4597,31970,8695,67,62,36,76,27,77,47,60,6,84,agi,agi,int,int,int,all,agi,str,agi,str,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.095583,-3.551726,3.301753,-0.808717,-1.139443,3.301753,19.314539,3.301753,0.257788,-1.269416,11.965182
10878,10878,2015-11-13 19:19:49,446,2038,2047,63,63,0,22,0,0,0,132,2.500000,0.500000,19,12,5360,3289,8635,5885,86,69,26,16,36,75,5,1,47,42,int,str,int,all,int,int,int,agi,agi,str,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,NaN,NaN,0.007217,8.800711,6.806304,3.301753,5.307176,8.820068,2.702601,3.490358,-0.374718,3.301753,5.928729
11218,11218,2015-11-13 20:13:21,786,1974,2047,63,63,4,22,0,0,0,171,6.000000,0.200000,14,14,4905,3228,19145,13070,66,75,21,73,57,35,8,97,23,55,all,int,all,str,str,agi,agi,all,str,all,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,0.026081,-2.335555,-0.247090,4.583428,3.813374,3.301753,0.657854,9.649220,3.216788,19.691562,3.221879
12144,12144,2015-11-13 22:20:15,1006,0,2046,63,32,43,22,0,0,0,132,4.000000,0.416667,21,2,13923,7253,33690,9585,70,106,45,2,99,27,47,9,104,10,agi,agi,int,str,str,int,agi,all,str,agi,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,0.017394,-0.411129,-0.411129,22.383103,6.362922,8.985382,18.063220,13.548631,14.755712,5.103644,15.860571
13914,13914,2015-11-14 03:02:04,63,2047,2047,63,63,0,22,0,0,0,112,4.500000,0.250000,4,0,817,1722,4600,3175,68,110,9,93,53,7,102,88,19,23,int,all,all,agi,int,str,all,all,str,str,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,NaN,NaN,0.023618,16.484509,13.324455,10.398606,3.301753,10.402753,19.102900,22.635643,3.301753,6.692030,11.126317
14428,14428,2015-11-14 04:26:22,400,2046,2047,63,63,154,22,0,0,0,111,3.000000,0.750000,21,6,2610,779,9540,12210,81,25,70,104,11,30,106,53,14,109,str,int,agi,str,agi,int,agi,int,str,agi,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,0.009385,15.009044,3.301753,3.301753,5.792459,3.301753,3.790110,19.718270,0.685010,14.926651,-0.900723
15510,15510,2015-11-14 07:41:06,1326,2046,4,3,63,147,22,1,0,0,121,0.200000,9.000000,9,11,3006,17581,20955,36365,112,16,2,43,12,104,63,106,7,74,all,all,str,int,agi,str,agi,agi,str,all,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,0.111596,5.365014,10.139822,3.366999,3.301753,7.227478,3.301753,3.301753,3.301753,3.301753,5.622057
15783,15783,2015-11-14 08:38:24,1603,0,1974,63,0,43,22,0,0,0,132,4.000000,0.642857,40,9,18407,456,45765,32785,21,43,53,68,32,112,9,46,44,60,all,int,int,int,agi,all,all,agi,agi,str,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,0.252569,2.983110,-3.757451,1.499563,-1.331789,-0.859935,18.397659,3.301753,3.301753,8.963362,6.954781
16282,16282,2015-11-14 10:41:40,1069,48,2039,63,12,123,22,0,0,0,132,11.500000,0.090909,45,11,10331,3700,37150,21105,98,36,88,11,1,48,50,39,71,21,all,int,all,agi,agi,agi,all,int,str,all,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,0.061446,0.101024,0.013037,5.287010,8.641284,12.661586,3.301753,6.283753,11.498187,3.301753,6.516046
18510,18510,2015-11-14 16:59:01,420,2047,2038,63,63,51,22,1,0,0,154,0.000000,1.000000,3,33,3755,2739,3695,13095,28,56,16,11,90,97,1,101,86,38,str,agi,all,agi,int,all,agi,int,int,all,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,0.005243,11.999960,6.542967,3.301753,15.593516,10.280263,0.499505,3.301753,3.301753,8.531341,14.182044
18518,18518,2015-11-14 17:00:39,485,2047,1975,63,63,12,22,1,0,0,156,0.500000,3.666667,7,13,777,3688,8910,12685,75,42,57,20,21,36,8,28,70,86,int,str,str,all,all,int,agi,str,agi,int,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.002855,3.301753,3.301753,2.346777,3.301753,1.798022,1.720795,3.301753,5.776797,9.589642,10.222125
19154,19154,2015-11-14 18:25:42,951,2047,54,15,63,55,2,1,0,0,123,0.384615,8.000000,7,43,2087,5609,14220,31720,58,50,95,21,84,106,68,100,15,28,int,all,agi,all,str,agi,int,str,agi,str,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,0.495783,23.282688,18.461576,15.088958,6.987150,17.989715,4.451328,3.351700,4.451328,3.301753,8.844965
19616,19616,2015-11-14 19:26:30,1149,2047,1830,63,63,209,22,1,0,0,112,1.375000,2.333333,20,23,6291,5284,21040,31775,111,80,28,40,25,30,74,98,44,16,int,all,str,all,int,int,all,all,agi,all,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,0.019384,16.981749,9.884791,3.301753,2.437446,13.101350,10.121435,13.984170,21.320430,16.749367,20.862249
21169,21169,2015-11-14 22:31:25,718,2047,1959,63,63,0,22,1,0,0,133,0.363636,12.000000,4,25,2749,4601,11710,21330,70,102,28,5,47,21,62,56,69,20,agi,all,str,int,agi,all,agi,agi,str,all,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,0.055030,14.649774,21.390299,9.174257,16.942703,3.301753,14.474369,3.301753,17.967700,15.544101,18.423956
21228,21228,2015-11-14 22:38:18,147,2047,2047,63,63,4,22,0,0,0,123,2.000000,0.000000,12,5,2367,2144,4135,2945,68,85,26,41,23,36,30,33,21,11,int,str,int,agi,str,int,int,all,all,agi,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.004521,3.301753,13.006734,4.888735,9.093691,3.301753,5.220070,6.406672,7.657973,5.581556,14.922479
21754,21754,2015-11-14 23:45:46,1098,0,2039,63,0,77,22,0,0,0,133,12.666667,0.105263,31,12,12465,2731,43580,15585,88,31,70,78,11,7,8,95,47,36,all,int,agi,all,agi,str,agi,agi,agi,int,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,0.446166,-2.342217,3.301753,1.406306,8.269921,-0.826880,6.965631,3.301753,20.067881,4.138370,3.787155

Upon reviewing the data, we can notice no discernible patterns indicating the absence of teamfights during these matches. Therefore, it would be best to exclude them from all of our DataFrames since they don't have complete information.

In [52]:
# Append match IDs to be dropped
tf_drop_matches = matches[matches['teamfights'].isna()]['match_id'].tolist()
dropped_matches = list(set(dropped_matches + tf_drop_matches))
print('Matches to be removed:', len(dropped_matches),'\n')

# Removing from the players and matches dfs
players = players.drop(players[players['match_id'].isin(dropped_matches)].index)
print(f'players:', '{:,} observations, {:,} features'.format(players.shape[0], players.shape[1]))
print('-----------------------------------------------------')
matches = matches.drop(matches[matches['match_id'].isin(dropped_matches)].index)
print(f'matches:', '{:,} observations, {:,} features'.format(matches.shape[0], matches.shape[1]))

Matches to be removed: 102

players: 498,980 observations, 71 features
-----------------------------------------------------
matches: 49,898 observations, 134 features

#### Simplified Version

For our initial round of base modeling, we plan to start with a simple DataFrame at the match level, including only the information from our TrueSkill calculations, as well as the hero role values.

In [53]:
# Create a simplified version for modelling

simplified_match_columns = [
    'match_id', 'radiant_win', 'match_quality', 
    'trueskill_0', 'trueskill_1', 'trueskill_2', 'trueskill_3', 'trueskill_4', 
    'trueskill_128', 'trueskill_129', 'trueskill_130', 'trueskill_131', 'trueskill_132',
    'hero_role_carry_0', 'hero_role_carry_1', 'hero_role_carry_2', 'hero_role_carry_3', 'hero_role_carry_4', 
    'hero_role_carry_128', 'hero_role_carry_129', 'hero_role_carry_130', 'hero_role_carry_131', 'hero_role_carry_132', 
    'hero_role_disabler_0', 'hero_role_disabler_1', 'hero_role_disabler_2', 'hero_role_disabler_3', 'hero_role_disabler_4', 
    'hero_role_disabler_128', 'hero_role_disabler_129', 'hero_role_disabler_130', 'hero_role_disabler_131', 'hero_role_disabler_132', 
    'hero_role_durable_0', 'hero_role_durable_1', 'hero_role_durable_2', 'hero_role_durable_3', 'hero_role_durable_4', 
    'hero_role_durable_128', 'hero_role_durable_129', 'hero_role_durable_130', 'hero_role_durable_131', 'hero_role_durable_132', 
    'hero_role_escape_0', 'hero_role_escape_1', 'hero_role_escape_2', 'hero_role_escape_3', 'hero_role_escape_4', 
    'hero_role_escape_128', 'hero_role_escape_129', 'hero_role_escape_130', 'hero_role_escape_131', 'hero_role_escape_132', 
    'hero_role_initiator_0', 'hero_role_initiator_1', 'hero_role_initiator_2', 'hero_role_initiator_3', 'hero_role_initiator_4', 
    'hero_role_initiator_128', 'hero_role_initiator_129', 'hero_role_initiator_130', 'hero_role_initiator_131', 'hero_role_initiator_132', 
    'hero_role_nuker_0', 'hero_role_nuker_1', 'hero_role_nuker_2', 'hero_role_nuker_3', 'hero_role_nuker_4', 
    'hero_role_nuker_128', 'hero_role_nuker_129', 'hero_role_nuker_130', 'hero_role_nuker_131', 'hero_role_nuker_132', 
    'hero_role_pusher_0', 'hero_role_pusher_1', 'hero_role_pusher_2', 'hero_role_pusher_3', 'hero_role_pusher_4', 
    'hero_role_pusher_128', 'hero_role_pusher_129', 'hero_role_pusher_130', 'hero_role_pusher_131', 'hero_role_pusher_132', 
    'hero_role_support_0', 'hero_role_support_1', 'hero_role_support_2', 'hero_role_support_3', 'hero_role_support_4', 
    'hero_role_support_128', 'hero_role_support_129', 'hero_role_support_130', 'hero_role_support_131', 'hero_role_support_132'                           
]

matches_simple = matches[simplified_match_columns]
display(matches_simple.head())
gc.collect()

,match_id,radiant_win,match_quality,trueskill_0,trueskill_1,trueskill_2,trueskill_3,trueskill_4,trueskill_128,trueskill_129,trueskill_130,trueskill_131,trueskill_132,hero_role_carry_0,hero_role_carry_1,hero_role_carry_2,hero_role_carry_3,hero_role_carry_4,hero_role_carry_128,hero_role_carry_129,hero_role_carry_130,hero_role_carry_131,hero_role_carry_132,hero_role_disabler_0,hero_role_disabler_1,hero_role_disabler_2,hero_role_disabler_3,hero_role_disabler_4,hero_role_disabler_128,hero_role_disabler_129,hero_role_disabler_130,hero_role_disabler_131,hero_role_disabler_132,hero_role_durable_0,hero_role_durable_1,hero_role_durable_2,hero_role_durable_3,hero_role_durable_4,hero_role_durable_128,hero_role_durable_129,hero_role_durable_130,hero_role_durable_131,hero_role_durable_132,hero_role_escape_0,hero_role_escape_1,hero_role_escape_2,hero_role_escape_3,hero_role_escape_4,hero_role_escape_128,hero_role_escape_129,hero_role_escape_130,hero_role_escape_131,hero_role_escape_132,hero_role_initiator_0,hero_role_initiator_1,hero_role_initiator_2,hero_role_initiator_3,hero_role_initiator_4,hero_role_initiator_128,hero_role_initiator_129,hero_role_initiator_130,hero_role_initiator_131,hero_role_initiator_132,hero_role_nuker_0,hero_role_nuker_1,hero_role_nuker_2,hero_role_nuker_3,hero_role_nuker_4,hero_role_nuker_128,hero_role_nuker_129,hero_role_nuker_130,hero_role_nuker_131,hero_role_nuker_132,hero_role_pusher_0,hero_role_pusher_1,hero_role_pusher_2,hero_role_pusher_3,hero_role_pusher_4,hero_role_pusher_128,hero_role_pusher_129,hero_role_pusher_130,hero_role_pusher_131,hero_role_pusher_132,hero_role_support_0,hero_role_support_1,hero_role_support_2,hero_role_support_3,hero_role_support_4,hero_role_support_128,hero_role_support_129,hero_role_support_130,hero_role_support_131,hero_role_support_132
0,0,1,0.333641,3.301753,11.670192,3.301753,7.962190,2.336703,10.807019,3.301753,23.379132,2.715916,17.425268,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
1,1,0,0.580920,3.301753,16.999098,2.895360,2.649581,11.455655,4.795492,23.069381,3.301753,23.548781,3.301753,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
2,2,0,0.402769,3.301753,3.858394,3.858394,6.099669,10.246954,3.301753,21.139734,3.301753,3.301753,3.301753,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,3,0,0.462334,0.386932,3.301753,3.301753,3.301753,-3.142269,4.672139,3.301753,8.500198,4.637102,3.301753,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
4,4,1,0.476433,9.539045,13.140809,6.390039,12.183661,10.246954,5.658858,5.387267,3.301753,23.106103,7.392703,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

0

### Timeseries DataFrame

<div class="alert alert-block alert-warning">
<b>Note:</b> <i>This section is still under development and will be completed once the project is ready for time series modelling.</i>.</div>

In [54]:
# Load required file
player_time = pd.read_csv(clean_folder + '/player_time.csv', index_col=0)
print(f'player_time:', '{:,} observations, {:,} features'.format(player_time.shape[0], player_time.shape[1]))

player_time: 2,209,778 observations, 32 features

In [55]:
# Melt the player_time DataFrame
player_time_melted = pd.melt(player_time, id_vars=['match_id', 'times'], 
                              value_vars=[col for col in player_time.columns if\
                                          col.startswith(('gold_t_', 'lh_t_', 'xp_t_'))],
                              var_name='metric', value_name='value')

# Look at the shape of the melted DataFrame
print(f'player_time_melted:', '{:,} observations, {:,} features'.format(player_time_melted.shape[0], player_time_melted.shape[1]))
display(player_time_melted.head())
gc.collect()

player_time_melted: 66,293,340 observations, 4 features

   match_id  times    metric  value
0         0      0  gold_t_0      0
1         0     60  gold_t_0    409
2         0    120  gold_t_0    546
3         0    180  gold_t_0    683
4         0    240  gold_t_0    956

0

In [56]:
# Create separate columns for gold, lh, and xp
player_time_melted[['metric_type', 'player_slot']] = player_time_melted['metric'].str.split('_t_', expand=True)
player_time_melted['player_slot'] = player_time_melted['player_slot'].astype(int)
display(player_time_melted.head())
gc.collect()

   match_id  times    metric  value metric_type  player_slot
0         0      0  gold_t_0      0        gold            0
1         0     60  gold_t_0    409        gold            0
2         0    120  gold_t_0    546        gold            0
3         0    180  gold_t_0    683        gold            0
4         0    240  gold_t_0    956        gold            0

13

In [57]:
# Pivot the table to create a wide format
player_time_wide = player_time_melted.pivot_table(index=['match_id', 'times', 'player_slot'], 
                                                  columns='metric_type', 
                                                  values='value',
                                                  aggfunc='sum').reset_index()

# Look at the shape of the wide DataFrame
print(f'player_time_wide:', '{:,} observations, {:,} features'.format(player_time_wide.shape[0], player_time_wide.shape[1]))
display(player_time_wide.head(50))
gc.collect()

player_time_wide: 22,097,780 observations, 6 features

metric_type  match_id  times  player_slot  gold  lh    xp
0                   0      0            0     0   0     0
1                   0      0            1     0   0     0
2                   0      0            2     0   0     0
3                   0      0            3     0   0     0
4                   0      0            4     0   0     0
5                   0      0          128     0   0     0
6                   0      0          129     0   0     0
7                   0      0          130     0   0     0
8                   0      0          131     0   0     0
9                   0      0          132     0   0     0
10                  0     60            0   409   0    63
11                  0     60            1   142   1   186
12                  0     60            2   168   0   125
13                  0     60            3   200   0   193
14                  0     60            4   194   1   125
15                  0     60          128   174   2    77
16                  0     60          129   138   1    62
17                  0     60          130   345   6   351
18                  0     60          131   100   0    77
19                  0     60          132   613   1   125
20                  0    120            0   546   0   283
21                  0    120            1   622   4   645
22                  0    120            2   330   0   376
23                  0    120            3   345   1   698
24                  0    120            4   628   5   374
25                  0    120          128   354   4   437
26                  0    120          129   673   5   543
27                  0    120          130   684  12   805
28                  0    120          131   200   0   210
29                  0    120          132   815   5   323
30                  0    180            0   683   1   314
31                  0    180            1   927   9  1202
32                  0    180            2   430   0   376
33                  0    180            3   644   6  1172
34                  0    180            4   806   7   570
35                  0    180          128   614   8   829
36                  0    180          129   895   8   842
37                  0    180          130   958  16  1135
38                  0    180          131   300   0   210
39                  0    180          132  1290   8   527
40                  0    240            0   956   1   485
41                  0    240            1  1264  11  1583
42                  0    240            2   530   0   391
43                  0    240            3   919  11  1610
44                  0    240            4  1281  10  1216
45                  0    240          128  1082   8  1318
46                  0    240          129  1087  10  1048
47                  0    240          130  1500  26  1842
48                  0    240          131   400   0   210
49                  0    240          132  1431   9   589

0

#### Ability Upgrades

# Load the files
upgrades = pd.read_csv(clean_folder + '/ability_upgrades.csv', index_col=0)
print(f'upgrades:', '{:,} observations, {:,} features'.format(upgrades.shape[0], upgrades.shape[1]))

abilities = pd.read_csv(clean_folder + '/ability_ids.csv')
print(f'abilities:', '{:,} observations, {:,} features'.format(abilities.shape[0], abilities.shape[1]))

# Look at the abilities head
abilities.head()

# Round up the time values to the nearest 60-second intervals
upgrades['time'] = (upgrades['time'] // 60) * 60

# Aggregate ability upgrades
ability_features = upgrades.groupby(['match_id', 'player_slot', 'time'])['ability'].apply(list).reset_index()

# Look at the ability features DataFrame head
display(ability_features.head())
gc.collect()

# Rename time column to match format
ability_features.rename(columns={'time': 'times', 'ability': 'ability_upgrade'}, inplace=True)

# Merge aggregated ability upgrades data
player_time_wide = player_time_wide.merge(ability_features, on=['match_id', 'player_slot', 'times'], how='left')
display(player_time_wide.head(50))
gc.collect()

#### Purchase Log

# Load the file
purchase_log = pd.read_csv(clean_folder + '/purchase_log.csv', index_col=0)
print(f'purchase_log:', '{:,} observations, {:,} features'.format(purchase_log.shape[0], purchase_log.shape[1]))

# Round up the time values to the nearest 60-second intervals
purchase_log['time'] = (purchase_log['time'] // 60) * 60

# Aggregate purchased items
item_features = purchase_log.groupby(['match_id', 'player_slot', 'time'])['item_id'].apply(list).reset_index()

# Look at the item features DataFrame head
display(item_features.head())
gc.collect()

# Rename time column to match format
item_features.rename(columns={'time': 'times', 'item_id': 'item_purchase'}, inplace=True)

# Merge aggregated purchase log data
player_time_wide = player_time_wide.merge(item_features, on=['match_id', 'player_slot', 'times'], how='left')
display(player_time_wide.head(50))
gc.collect()

#### Objectives

In [58]:
# Load the file
objectives = pd.read_csv(clean_folder + '/objectives.csv', index_col=0)
print(f'objectives:', '{:,} observations, {:,} features'.format(objectives.shape[0], objectives.shape[1]))

objectives: 716,498 observations, 6 features

In [59]:
objectives.groupby('subtype')['value'].nunique()

subtype
CHAT_MESSAGE_AEGIS             1
CHAT_MESSAGE_AEGIS_STOLEN      1
CHAT_MESSAGE_FIRSTBLOOD      322
CHAT_MESSAGE_ROSHAN_KILL       1
CHAT_MESSAGE_TOWER_DENY        4
CHAT_MESSAGE_TOWER_KILL        2
Name: value, dtype: int64

In [60]:
# Separate the objectives into multiple features
objectives['aegis'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_AEGIS', 1, 0)
objectives['aegis_stolen'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_AEGIS_STOLEN', 1, 0)
objectives['firstblood'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_FIRSTBLOOD', 1, 0)
objectives['roshan_kill'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_ROSHAN_KILL', 1, 0)
objectives['tower_deny'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_TOWER_DENY', 1, 0)
objectives['tower_kill'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_TOWER_KILL', 1, 0)

# Look at the head
objectives.head()

,match_id,player1,player2,subtype,time,value,aegis,aegis_stolen,firstblood,roshan_kill,tower_deny,tower_kill
0,0,0,129,CHAT_MESSAGE_FIRSTBLOOD,1,309,0,0,1,0,0,0
1,0,3,-1,CHAT_MESSAGE_TOWER_KILL,894,2,0,0,0,0,0,1
2,0,2,-1,CHAT_MESSAGE_ROSHAN_KILL,925,200,0,0,0,1,0,0
3,0,1,-1,CHAT_MESSAGE_AEGIS,925,0,1,0,0,0,0,0
4,0,130,-1,CHAT_MESSAGE_TOWER_KILL,1016,3,0,0,0,0,0,1

In [61]:
# Round up the time values to the nearest 60-second intervals
objectives['time'] = (objectives['time'] // 60) * 60

# Aggregate objectives
objective_features = objectives.drop(columns=['player2', 'subtype', 'value']).\
                        groupby(['match_id', 'player1', 'time']).sum().reset_index()

# Look at the objectives features DataFrame head
display(objective_features.head())

,match_id,player1,time,aegis,aegis_stolen,firstblood,roshan_kill,tower_deny,tower_kill
0,0,0,0,0,0,1,0,0,0
1,0,1,900,1,0,0,0,0,0
2,0,1,1740,1,0,0,0,0,0
3,0,1,2280,0,0,0,0,0,1
4,0,2,900,0,0,0,1,0,0

In [62]:
# Rename time, player1 and subtype column to match format
objective_features.rename(columns={'time': 'times', 'player1': 'player_slot'}, inplace=True)

# Merge aggregated objectives data
player_time_wide = player_time_wide.merge(objective_features, on=['match_id', 'player_slot', 'times'], how='left')
display(player_time_wide.head(50))
gc.collect()

,match_id,times,player_slot,gold,lh,xp,aegis,aegis_stolen,firstblood,roshan_kill,tower_deny,tower_kill
0,0,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
1,0,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,3,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,4,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,0,0,128,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,0,0,129,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,0,0,130,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,0,0,131,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,0,0,132,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,0,60,0,409,0,63,NaN,NaN,NaN,NaN,NaN,NaN
11,0,60,1,142,1,186,NaN,NaN,NaN,NaN,NaN,NaN
12,0,60,2,168,0,125,NaN,NaN,NaN,NaN,NaN,NaN
13,0,60,3,200,0,193,NaN,NaN,NaN,NaN,NaN,NaN
14,0,60,4,194,1,125,NaN,NaN,NaN,NaN,NaN,NaN
15,0,60,128,174,2,77,NaN,NaN,NaN,NaN,NaN,NaN
16,0,60,129,138,1,62,NaN,NaN,NaN,NaN,NaN,NaN
17,0,60,130,345,6,351,NaN,NaN,NaN,NaN,NaN,NaN
18,0,60,131,100,0,77,NaN,NaN,NaN,NaN,NaN,NaN
19,0,60,132,613,1,125,NaN,NaN,NaN,NaN,NaN,NaN
20,0,120,0,546,0,283,NaN,NaN,NaN,NaN,NaN,NaN
21,0,120,1,622,4,645,NaN,NaN,NaN,NaN,NaN,NaN
22,0,120,2,330,0,376,NaN,NaN,NaN,NaN,NaN,NaN
23,0,120,3,345,1,698,NaN,NaN,NaN,NaN,NaN,NaN
24,0,120,4,628,5,374,NaN,NaN,NaN,NaN,NaN,NaN
25,0,120,128,354,4,437,NaN,NaN,NaN,NaN,NaN,NaN
26,0,120,129,673,5,543,NaN,NaN,NaN,NaN,NaN,NaN
27,0,120,130,684,12,805,NaN,NaN,NaN,NaN,NaN,NaN
28,0,120,131,200,0,210,NaN,NaN,NaN,NaN,NaN,NaN
29,0,120,132,815,5,323,NaN,NaN,NaN,NaN,NaN,NaN
30,0,180,0,683,1,314,NaN,NaN,NaN,NaN,NaN,NaN
31,0,180,1,927,9,1202,NaN,NaN,NaN,NaN,NaN,NaN
32,0,180,2,430,0,376,NaN,NaN,NaN,NaN,NaN,NaN
33,0,180,3,644,6,1172,NaN,NaN,NaN,NaN,NaN,NaN
34,0,180,4,806,7,570,NaN,NaN,NaN,NaN,NaN,NaN
35,0,180,128,614,8,829,NaN,NaN,NaN,NaN,NaN,NaN
36,0,180,129,895,8,842,NaN,NaN,NaN,NaN,NaN,NaN
37,0,180,130,958,16,1135,NaN,NaN,NaN,NaN,NaN,NaN
38,0,180,131,300,0,210,NaN,NaN,NaN,NaN,NaN,NaN
39,0,180,132,1290,8,527,NaN,NaN,NaN,NaN,NaN,NaN
40,0,240,0,956,1,485,NaN,NaN,NaN,NaN,NaN,NaN
41,0,240,1,1264,11,1583,NaN,NaN,NaN,NaN,NaN,NaN
42,0,240,2,530,0,391,NaN,NaN,NaN,NaN,NaN,NaN
43,0,240,3,919,11,1610,NaN,NaN,NaN,NaN,NaN,NaN
44,0,240,4,1281,10,1216,NaN,NaN,NaN,NaN,NaN,NaN
45,0,240,128,1082,8,1318,NaN,NaN,NaN,NaN,NaN,NaN
46,0,240,129,1087,10,1048,NaN,NaN,NaN,NaN,NaN,NaN
47,0,240,130,1500,26,1842,NaN,NaN,NaN,NaN,NaN,NaN
48,0,240,131,400,0,210,NaN,NaN,NaN,NaN,NaN,NaN
49,0,240,132,1431,9,589,NaN,NaN,NaN,NaN,NaN,NaN

0

#### Teamfight Durations

In [63]:
teamfights.head()

   match_id  tf_order  start   end  duration  last_death  deaths
0         0         1    220   252        32         237       3
1         0         2    429   475        46         460       3
2         0         3    900   936        36         921       3
3         0         4   1284  1328        44        1313       3
4         0         5   1614  1666        52        1651       5

In [64]:
# Create duration feature
tf_last_death = teamfights['last_death'] - teamfights['start']
teamfights.insert(6, 'tf_last_death', value=tf_last_death)

# Round up the time values to the nearest 60-second intervals
teamfights['times'] = (teamfights['start'] // 60) * 60

tfs_features = teamfights.drop(columns=['start', 'end', 'last_death', 'deaths'])

# Look at the teamfights features DataFrame head
display(tfs_features.head())

   match_id  tf_order  duration  tf_last_death  times
0         0         1        32             17    180
1         0         2        46             31    420
2         0         3        36             21    900
3         0         4        44             29   1260
4         0         5        52             37   1560

In [65]:
tf_players.head()

,match_id,tf_id,player_slot,buybacks,damage,deaths,gold_delta,xp_end,xp_start
0,0,0,0,0,105,0,173,536,314
1,0,0,1,0,566,1,0,1583,1418
2,0,0,2,0,0,0,0,391,391
3,0,0,3,0,0,0,123,1775,1419
4,0,0,4,0,444,0,336,1267,983

In [66]:
# Calculate xp_delta on tf_players
tf_players['tf_xp_delta'] = tf_players['xp_end'] - tf_players['xp_start']
tf_players.drop(columns=['xp_end', 'xp_start'], inplace=True)

# Reset the index from tfs_features
tfs_features = tfs_features.reset_index()

# Merge tf_players with tfs_features
tfs_features = tf_players.merge(tfs_features, left_on=['match_id', 'tf_id'], right_on=['match_id', 'index'])
tfs_features.drop(columns=['index', 'tf_id', 'tf_order'], inplace=True)
display(tfs_features.head(15))

,match_id,player_slot,buybacks,damage,deaths,gold_delta,tf_xp_delta,duration,tf_last_death,times
0,0,0,0,105,0,173,222,32,17,180
1,0,1,0,566,1,0,165,32,17,180
2,0,2,0,0,0,0,0,32,17,180
3,0,3,0,0,0,123,356,32,17,180
4,0,4,0,444,0,336,284,32,17,180
5,0,128,0,477,1,249,283,32,17,180
6,0,129,0,636,1,-27,144,32,17,180
7,0,130,0,0,0,190,315,32,17,180
8,0,131,0,0,0,0,0,32,17,180
9,0,132,0,0,0,378,70,32,17,180
10,0,0,0,159,0,452,337,46,31,420
11,0,1,0,1204,0,339,528,46,31,420
12,0,2,0,220,0,398,558,46,31,420
13,0,3,0,0,0,264,603,46,31,420
14,0,4,0,492,0,476,410,46,31,420

In [67]:
# Rename duration and deaths columns to match format
tfs_features.rename(columns={
    'buybacks': 'tf_buybacks',
    'damage': 'tf_damage',
    'deaths': 'tf_deaths',
    'gold_delta': 'tf_gold_delta',
    'duration': 'tf_duration'
}, inplace=True)

# Merge aggregated objectives data
player_time_wide = player_time_wide.merge(tfs_features, on=['match_id', 'player_slot', 'times'], how='left')

# Drop the matches with incomplete teamfight data
player_time_wide = player_time_wide[~player_time_wide['match_id'].isin(dropped_matches)]

# Display the first 50 final observations
display(player_time_wide.head(50))
gc.collect()

,match_id,times,player_slot,gold,lh,xp,aegis,aegis_stolen,firstblood,roshan_kill,tower_deny,tower_kill,tf_buybacks,tf_damage,tf_deaths,tf_gold_delta,tf_xp_delta,tf_duration,tf_last_death
0,0,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,3,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,4,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,0,128,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,0,129,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,0,130,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,0,131,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0,0,132,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0,60,0,409,0,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0,60,1,142,1,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0,60,2,168,0,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0,60,3,200,0,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0,60,4,194,1,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0,60,128,174,2,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0,60,129,138,1,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0,60,130,345,6,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0,60,131,100,0,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0,60,132,613,1,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,0,120,0,546,0,283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0,120,1,622,4,645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,0,120,2,330,0,376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0,120,3,345,1,698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0,120,4,628,5,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,0,120,128,354,4,437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,0,120,129,673,5,543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,0,120,130,684,12,805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,0,120,131,200,0,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0,120,132,815,5,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,0,180,0,683,1,314,NaN,NaN,NaN,NaN,NaN,NaN,0.0,105.0,0.0,173.0,222.0,32.0,17.0
31,0,180,1,927,9,1202,NaN,NaN,NaN,NaN,NaN,NaN,0.0,566.0,1.0,0.0,165.0,32.0,17.0
32,0,180,2,430,0,376,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,32.0,17.0
33,0,180,3,644,6,1172,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,123.0,356.0,32.0,17.0
34,0,180,4,806,7,570,NaN,NaN,NaN,NaN,NaN,NaN,0.0,444.0,0.0,336.0,284.0,32.0,17.0
35,0,180,128,614,8,829,NaN,NaN,NaN,NaN,NaN,NaN,0.0,477.0,1.0,249.0,283.0,32.0,17.0
36,0,180,129,895,8,842,NaN,NaN,NaN,NaN,NaN,NaN,0.0,636.0,1.0,-27.0,144.0,32.0,17.0
37,0,180,130,958,16,1135,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,190.0,315.0,32.0,17.0
38,0,180,131,300,0,210,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,32.0,17.0
39,0,180,132,1290,8,527,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,378.0,70.0,32.0,17.0
40,0,240,0,956,1,485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,0,240,1,1264,11,1583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,0,240,2,530,0,391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,0,240,3,919,11,1610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,0,240,4,1281,10,1216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,0,240,128,1082,8,1318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,0,240,129,1087,10,1048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,0,240,130,1500,26,1842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,0,240,131,400,0,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,0,240,132,1431,9,589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

0

#### Chat Log

In [68]:
# Load the file
chat = pd.read_csv(clean_folder + '/chat.csv', index_col=0)
print(f'chat:', '{:,} observations, {:,} features'.format(objectives.shape[0], objectives.shape[1]))

chat: 716,498 observations, 12 features

In [69]:
# Look at the head
chat.head()

,match_id,player_slot,match_slot_id,account,chat,time,match_outcome
0,0,129,0_129,6k Slayer,force it,-8,0
1,0,1,0_1,Monkey,space created,5,1
2,0,1,0_1,Monkey,hah,6,1
3,0,129,0_129,6k Slayer,ez 500,9,0
4,0,4,0_4,Kira,mvp ulti,934,1

In [70]:
# Round up the time values to the nearest 60-second intervals
chat['time'] = (chat['time'] // 60) * 60

# Aggregate chat messages
chat_features = chat.groupby(['match_id', 'player_slot', 'time'])['chat'].count().reset_index()

# Look at the objectives features DataFrame head
display(chat_features.head())

   match_id  player_slot  time  chat
0         0            0  1500     1
1         0            0  1680     1
2         0            0  2340     2
3         0            1     0     2
4         0            1  1440     1

In [71]:
chat_features[chat_features['time'] < 0]

        match_id  player_slot  time  chat
13             0          129   -60     1
36             2            0   -60     2
47             2          128   -60     1
54             2          130   -60     1
56             2          131   -60     1
...          ...          ...   ...   ...
811137     49994          130  -120     1
811148     49995            3   -60     1
811163     49995          130   -60     1
811184     49998          130  -300     1
811195     49999            3   -60     1

[39459 rows x 4 columns]

In [72]:
# Rename time column to match format
chat_features.rename(columns={'time': 'times', 'chat': 'chats_sent'}, inplace=True)

# Merge aggregated objectives data
player_time_wide = player_time_wide.merge(chat_features, on=['match_id', 'player_slot', 'times'], how='left')
display(player_time_wide.head(50))
gc.collect()

,match_id,times,player_slot,gold,lh,xp,aegis,aegis_stolen,firstblood,roshan_kill,tower_deny,tower_kill,tf_buybacks,tf_damage,tf_deaths,tf_gold_delta,tf_xp_delta,tf_duration,tf_last_death,chats_sent
0,0,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,0,0,2,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,3,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,4,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,0,128,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,0,129,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
7,0,0,130,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,0,131,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0,0,132,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0,60,0,409,0,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0,60,1,142,1,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0,60,2,168,0,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0,60,3,200,0,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0,60,4,194,1,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0,60,128,174,2,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0,60,129,138,1,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0,60,130,345,6,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0,60,131,100,0,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0,60,132,613,1,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,0,120,0,546,0,283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0,120,1,622,4,645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,0,120,2,330,0,376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0,120,3,345,1,698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0,120,4,628,5,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,0,120,128,354,4,437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,0,120,129,673,5,543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,0,120,130,684,12,805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,0,120,131,200,0,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0,120,132,815,5,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,0,180,0,683,1,314,NaN,NaN,NaN,NaN,NaN,NaN,0.0,105.0,0.0,173.0,222.0,32.0,17.0,NaN
31,0,180,1,927,9,1202,NaN,NaN,NaN,NaN,NaN,NaN,0.0,566.0,1.0,0.0,165.0,32.0,17.0,NaN
32,0,180,2,430,0,376,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,32.0,17.0,NaN
33,0,180,3,644,6,1172,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,123.0,356.0,32.0,17.0,NaN
34,0,180,4,806,7,570,NaN,NaN,NaN,NaN,NaN,NaN,0.0,444.0,0.0,336.0,284.0,32.0,17.0,NaN
35,0,180,128,614,8,829,NaN,NaN,NaN,NaN,NaN,NaN,0.0,477.0,1.0,249.0,283.0,32.0,17.0,NaN
36,0,180,129,895,8,842,NaN,NaN,NaN,NaN,NaN,NaN,0.0,636.0,1.0,-27.0,144.0,32.0,17.0,NaN
37,0,180,130,958,16,1135,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,190.0,315.0,32.0,17.0,NaN
38,0,180,131,300,0,210,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,32.0,17.0,NaN
39,0,180,132,1290,8,527,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,378.0,70.0,32.0,17.0,NaN
40,0,240,0,956,1,485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,0,240,1,1264,11,1583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,0,240,2,530,0,391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,0,240,3,919,11,1610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,0,240,4,1281,10,1216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,0,240,128,1082,8,1318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,0,240,129,1087,10,1048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,0,240,130,1500,26,1842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,0,240,131,400,0,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,0,240,132,1431,9,589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

0

#### Match Outcome

In [73]:
# Merge the match outcomes
player_time_wide = player_time_wide.merge(matches[['match_id', 'radiant_win']], on='match_id', how='left')

#### Filling Missing Values

In [74]:
# Remove the matches from dropped_matches
player_time_wide = player_time_wide.drop(player_time_wide[player_time_wide['match_id'].isin(dropped_matches)].index)
print(f'player_time_wide:', '{:,} observations, {:,} features'.format(player_time_wide.shape[0], player_time_wide.shape[1]))

player_time_wide: 22,200,460 observations, 21 features

In [75]:
# Find features with missing values
display(player_time_wide.isna().sum().sort_values(ascending=False)\
[player_time_wide.isna().sum().sort_values(ascending=False) > 0])

tower_deny       21512572
aegis            21512572
aegis_stolen     21512572
firstblood       21512572
roshan_kill      21512572
tower_kill       21512572
chats_sent       21425209
tf_deaths        16825020
tf_last_death    16825020
tf_duration      16825020
tf_xp_delta      16825020
tf_gold_delta    16825020
tf_buybacks      16825020
tf_damage        16825020
dtype: int64

In [76]:
# Fill null values with 0
player_time_wide = player_time_wide.fillna(0)

# Sanity Check
display(player_time_wide.isna().sum().sort_values(ascending=False)\
[player_time_wide.isna().sum().sort_values(ascending=False) > 0])
gc.collect()

Series([], dtype: int64)

0

In [77]:
# Getting all the columns that may have true float values
float_columns = player_time_wide.select_dtypes(include='float').columns

def is_integer_series(series):
    # Check if all non-null values are integers
    return np.all(series.dropna().apply(lambda x: float(x).is_integer()))

for col in float_columns:
    if is_integer_series(player_time_wide[col]):
        player_time_wide[col] = player_time_wide[col].astype(np.int64)
    else:
        print(f'{col} holds real float numbers')

# Sanity check
player_time_wide.select_dtypes(include='float').columns
gc.collect()

0

---

## Saving all DataFrames

# Rename columns before merging
players_merge = players.drop(columns=['gold_per_min', 'xp_per_min', 'tf_buybacks', 
                                      'tf_deaths', 'tf_avg_gold_delta', 'tf_avg_xp_delta'])
player_time_wide.rename(columns={'gold': 'gold_per_min', 'lh': 'lh_per_min', 'xp': 'xp_per_min'}, inplace=True)

# Merge the player_time_wide with players df
dask_players = dd.from_pandas(players_merge, npartitions=4)  
dask_player_time = dd.from_pandas(player_time_wide, npartitions=8)  

merged_dask = dask_players.merge(dask_player_time, on=['match_id', 'player_slot'], how='left')
final_df = merged_dask.compute()

# Look at the initial shape of the final DataFrame
print(f'final_df:', '{:,} observations, {:,} features'.format(final_df.shape[0], final_df.shape[1]))
final_df = final_df.sort_values(by=['match_id', 'player_slot']).reset_index()
display(final_df.head(50))
gc.collect()

In [79]:
# Save the final DataFrames to a CSV file
matches_simple.to_csv('../Data/Merged/matches_simple.csv', index=False)
print(f'matches_simple:', '{:,} observations, {:,} features'.format(matches_simple.shape[0], matches_simple.shape[1]))

matches.to_csv('../Data/Merged/matches.csv', index=False)
print(f'matches:', '{:,} observations, {:,} features'.format(matches.shape[0], matches.shape[1]))

players.to_csv('../Data/Merged/players.csv', index=False)
print(f'players:', '{:,} observations, {:,} features'.format(players.shape[0], players.shape[1]))

player_time_wide.to_csv('../Data/Merged/timeseries.csv', index=False)
print(f'timeseries:', '{:,} observations, {:,} features'.format(player_time_wide.shape[0], player_time_wide.shape[1]))

'''
final_df.to_csv('../Data/Merged/final_df.csv', index=False)
print(f'final_df:', '{:,} observations, {:,} features'.format(final_df.shape[0], final_df.shape[1]))
'''

matches_simple: 49,898 observations, 93 features
matches: 49,898 observations, 134 features
players: 498,980 observations, 71 features
timeseries: 22,200,460 observations, 21 features

"\nfinal_df.to_csv('../Data/Merged/final_df.csv', index=False)\nprint(f'final_df:', '{:,} observations, {:,} features'.format(final_df.shape[0], final_df.shape[1]))\n"