# Data Preprocessing

Before we start conducting a detailed Exploratory Data Analysis (EDA), we need to build our final DataFrame by merging all the potentially valuable features for predicting fair matchmaking. This will include consolidating data from all the previously cleaned files and creating new features as needed.

---

## Initial Setup

In [21]:
# ---------------- Suppress all future warnings ---------------- #
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

# ---------------- Basic Data Science Libraries ---------------- #
import numpy as np # Linear algebra
import pandas as pd # Data processing
import dask.dataframe as dd # Data processing for large DataFrames

# ---------------- System Libraries ---------------- #
import os # Miscellaneous operating system interfaces
import gc # Garbage collector interface
import nbimporter # Use functions from other Jupyter Notebooks'
from subprocess import check_output # Saves results written to the current directory as output

# ---------------- Plotting Libraries ---------------- #
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# ---------------- TrueSkill Library ---------------- #
import trueskill
trueskill.setup(draw_probability=0)
import itertools
import math

# Function obtained from the documentation found in https://trueskill.org/
def win_probability(team1, team2):
    delta_mu = sum(r.mu for r in team1) - sum(r.mu for r in team2)
    sum_sigma = sum(r.sigma ** 2 for r in itertools.chain(team1, team2))
    size = len(team1) + len(team2)
    ts = trueskill.global_env()
    BETA = ts.beta
    denom = math.sqrt(size * (BETA * BETA) + sum_sigma)
    return ts.cdf(delta_mu / denom)

# Function to obtain a conservative skill rating
def conservative_trueskill_rating(mu, sigma):
    conservative_skill_rating = mu - (3 * sigma)
    return conservative_skill_rating

# ---------------- Define Clean and Raw Directories ---------------- #
clean_folder = '../Data/Clean'
raw_folder = '../Data/Raw'

# ---------------- Set new DataFrame limiters ---------------- #
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# ---------------- Print files in my clean data folder ---------------- #
print(check_output(['ls', '../Data/Clean']).decode('utf8'))

ability_ids.csv
ability_upgrades.csv
chat.csv
eng_chat.csv
hero_ids.csv
item_ids.csv
matches.csv
mmr.csv
objectives.csv
patch_dates.csv
player_time.csv
players.csv
positions.csv
prev_outcomes.csv
purchase_log.csv
regions.csv
teamfights.csv
teamfights_players.csv
test_players.csv
trueskill.csv

---

## Feature Selection

Let's begin with our most crucial files in the dataset: matches.csv and players.csv. These contain the most information for each player per game.

In [2]:
# Load required files
players = pd.read_csv(clean_folder + '/players.csv', index_col=0)
print(f'players:', '{:,} observations, {:,} features'.format(players.shape[0], players.shape[1]))

matches = pd.read_csv(clean_folder + '/matches.csv', index_col=0)
print(f'matches:', '{:,} observations, {:,} features'.format(matches.shape[0], matches.shape[1]))

players: 500,000 observations, 73 features
matches: 50,000 observations, 13 features

It is challenging to consider adding more features from other files when our players' DataFrame already has 73 features. To simplify the process of creating fair matchmaking, we should reduce the number of features by removing those with a high number of null values, as well as those that have little impact on the match outcome.

In [3]:
# List unwanted features from the players DataFrame
features_to_drop = [
    'unit_order_none', 'unit_order_move_to_position', 'unit_order_move_to_target', 
    'unit_order_attack_move', 'unit_order_attack_target', 'unit_order_cast_position', 
    'unit_order_cast_target', 'unit_order_cast_target_tree', 'unit_order_cast_no_target', 
    'unit_order_cast_toggle', 'unit_order_hold_position', 'unit_order_train_ability', 
    'unit_order_drop_item', 'unit_order_give_item', 'unit_order_pickup_item', 
    'unit_order_pickup_rune', 'unit_order_purchase_item', 'unit_order_sell_item', 
    'unit_order_disassemble_item', 'unit_order_move_item', 'unit_order_cast_toggle_auto', 
    'unit_order_stop', 'unit_order_buyback', 'unit_order_glyph', 
    'unit_order_eject_item_from_stash', 'unit_order_cast_rune', 'unit_order_ping_ability', 
    'unit_order_move_to_direction', 'gold_abandon', 'gold_sell', 
    'gold_destroying_structure', 'gold_killing_couriers', 'match_slot_id'
]

# Drop the features
players = players.drop(columns=features_to_drop)
players.shape

(500000, 40)

Now that we have 40 features in our players' DataFrame, let's group together the features that can provide more insight into the overall team performance.

In [4]:
# Player Performance Features
player_features = ['kills', 'deaths', 'assists', 'denies', 'gold', 'gold_spent']

# Define categorical features
players['cluster'] = players['cluster'].astype('category')
players['hero_id'] = players['hero_id'].astype('category')
players['player_slot'] = players['player_slot'].astype('category')

# Display player features
players[player_features].head()

   kills  deaths  assists  denies  gold  gold_spent
0      9       3       18       1  3261       10960
1     13       3       18       9  2954       17760
2      0       4       15       1   110       12195
3      8       4       19       6  1179       22505
4     20       3       17      13  3307       23825

In [5]:
# Match Features
match_features = ['match_id', 'start_time', 'tower_status_radiant', 
                  'tower_status_dire', 'barracks_status_dire', 
                  'barracks_status_radiant', 'first_blood_time']
matches['start_time'] = pd.to_datetime(matches['start_time'], unit='s')
matches[match_features].head()

,match_id,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time
0,0,2015-11-05 19:01:52,1982,4,3,63,1
1,1,2015-11-05 19:51:18,0,1846,63,0,221
2,2,2015-11-05 23:03:06,256,1972,63,48,190
3,3,2015-11-05 23:22:03,4,1924,51,3,40
4,4,2015-11-06 07:53:05,2047,0,0,63,58

In [6]:
# Merge the match features to the players DataFrame
players = players.merge(matches[match_features], on='match_id', how='left')
display(players.head(20))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time
0,0,1,Double T,0,86,0,3261,10960,347,362,9,3,18,1,30,76.73560,8690,218,143,180,37,73,56,108,0,16,0,8840,5440,0,83,50,-957,0,5145,1087,400,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
1,0,1,Monkey,1,51,1,2954,17760,494,659,13,3,18,9,109,87.41640,23747,0,423,46,63,119,102,24,108,22,0,14331,8440,2683,671,395,-1137,0,6676,4317,937,16,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
2,0,1,Trash!!!,0,83,2,110,12195,350,385,0,4,15,1,58,0.00000,4217,1595,399,48,60,59,108,65,0,17,0,6692,8112,0,453,259,-1436,-1015,2418,3697,400,2,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
3,0,1,2,2,11,3,1179,22505,599,605,8,4,19,6,271,0.00000,14832,2714,6055,63,147,154,164,79,160,21,0,8583,14230,894,293,100,-2156,0,4104,10432,400,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
4,0,1,Kira,3,67,4,3307,23825,613,762,20,3,17,13,245,0.00000,33740,243,1833,114,92,147,0,137,63,24,0,15814,14325,0,62,0,-1437,-1056,7467,9220,400,1,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
5,0,0,4,4,106,128,476,12285,397,524,5,6,8,5,162,0.00000,10725,0,112,145,73,149,48,212,0,19,0,8502,12259,0,1,0,-2394,-2240,5281,6193,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
6,0,0,6k Slayer,0,102,129,317,10355,303,369,4,13,5,2,107,0.00000,15028,764,0,50,11,102,36,185,81,16,0,5201,9417,0,1,0,-3287,0,3396,4356,0,18,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
7,0,0,ｔｏｍｉａ～♥,5,46,130,2390,13395,452,517,4,8,6,31,208,0.00000,10230,0,2438,41,63,36,147,168,21,19,0,6853,13396,0,244,107,-3682,0,4350,8797,0,6,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
8,0,0,-,0,7,131,475,5035,189,223,1,14,8,0,27,67.02770,4774,0,0,36,0,0,46,0,180,12,0,4798,4038,0,27,0,-3286,-39,2127,1089,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
9,0,0,u didnt see who highest here?,6,73,132,60,17550,496,456,1,11,6,0,147,60.97480,6398,292,0,63,9,116,65,229,79,18,0,6659,10471,0,933,5679,-4039,-1063,2685,7011,0,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1
10,1,0,-,0,7,0,76,12160,218,206,3,4,9,0,36,37.92430,4075,0,0,0,0,0,0,0,0,12,0,3857,4652,298,94,66,-1046,0,2574,1479,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
11,1,0,Apin's,7,82,1,9,19625,581,756,9,10,8,9,343,0.00000,13888,0,1679,48,0,176,96,1,108,25,0,2820,6588,298,22842,193,-4910,-238,4776,14199,559,4,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
12,1,0,Double T,0,71,2,1240,10220,339,352,5,13,11,3,76,99.99160,7788,0,81,172,181,63,116,9,73,16,0,9305,5868,0,3,0,-4067,-1112,6712,2606,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
13,1,0,stormX---,8,39,3,2400,14395,460,544,12,15,9,8,169,30.22340,19920,0,123,116,127,63,46,100,0,21,0,10970,11419,0,1038,598,-4995,-425,7194,6915,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
14,1,0,Buk lau,4,21,4,1051,12910,365,436,6,11,12,7,131,47.50440,12913,0,537,50,36,41,168,108,21,18,0,8191,9666,298,634,432,-4519,0,4237,5585,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
15,1,1,DA BOSS,9,73,128,1277,20275,600,509,2,12,24,2,220,86.26950,14130,0,1765,178,137,1,24,129,48,20,0,7883,12923,596,522,6428,-4608,-320,2808,8070,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
16,1,1,-,0,22,129,847,21840,487,517,8,5,17,0,193,1.00076,19218,0,988,201,1,190,48,65,235,20,0,6284,15942,0,65,0,-1555,0,3478,9091,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
17,1,1,Titus,0,5,130,389,19165,488,583,14,8,9,0,101,2.20195,11398,0,971,254,102,0,116,108,48,21,0,15399,8827,596,304,120,-2332,-1392,8495,4006,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
18,1,1,5,5,67,131,4055,24165,631,755,16,5,21,11,226,0.00000,28505,0,6149,158,50,147,196,114,46,25,0,17504,14008,596,417,208,-1315,0,9257,8430,510,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221
19,1,1,D o r a,0,106,132,2517,22305,585,753,10,7,12,3,250,0.00000,20065,0,1275,48,0,1,141,145,145,25,0,14566,17677,0,176,71,-2333,0,6248,9965,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221

2019

---

## Feature Engineering

### Players DataFrame

#### Team Features

To fully grasp the extent of each player's impact on the team, it is essential to calculate the ratio of each player's individual contribution to the overall team statistics for every match. This involves extracting specific performance metrics and consolidating them for each team to obtain a comprehensive understanding of player involvement.

##### Overall Team Performance

In [7]:
# Aggregate team stats
team_stats = players.groupby(['match_id', 'player_slot'])[player_features].sum().reset_index()
team_stats['radiant_team'] = team_stats['player_slot'].apply(lambda x: 1 if x < 5 else 0)

# Aggregating them by team
team_features = team_stats.groupby(['match_id', 'radiant_team'], observed=False)[player_features].sum().reset_index()

# Rename columns for merge
team_features.rename(columns={'kills': 'team_kills', 
                              'deaths': 'team_deaths', 
                              'assists': 'team_assists', 
                              'denies': 'team_denies', 
                              'gold': 'team_gold', 
                              'gold_spent': 'team_gold_spent'}, inplace=True)

display(team_stats.head(10))
display(team_features.head(10))

,match_id,player_slot,kills,deaths,assists,denies,gold,gold_spent,radiant_team
0,0,0,9,3,18,1,3261,10960,1
1,0,1,13,3,18,9,2954,17760,1
2,0,2,0,4,15,1,110,12195,1
3,0,3,8,4,19,6,1179,22505,1
4,0,4,20,3,17,13,3307,23825,1
5,0,128,5,6,8,5,476,12285,0
6,0,129,4,13,5,2,317,10355,0
7,0,130,4,8,6,31,2390,13395,0
8,0,131,1,14,8,0,475,5035,0
9,0,132,1,11,6,0,60,17550,0

,match_id,radiant_team,team_kills,team_deaths,team_assists,team_denies,team_gold,team_gold_spent
0,0,0,15,52,33,38,3718,58620
1,0,1,50,17,87,30,10811,87245
2,1,0,50,37,83,16,9085,107750
3,1,1,35,53,49,27,4776,69310
4,2,0,48,22,90,16,11177,81620
5,2,1,22,49,31,10,2494,54990
6,3,0,63,65,110,29,5954,94430
7,3,1,64,66,92,32,6455,76685
8,4,0,16,37,30,21,2030,38980
9,4,1,37,16,59,26,14099,78980

##### KDA Scores

KDA Scores can be calculated using the following formula: 
<center>$\frac{kills + assists}{deaths +1}$</center>

In [8]:
# Calculate KDA Scores
kda_score = (team_stats['kills'] + team_stats['assists']) / (team_stats['deaths'] + 1)
team_stats.insert(2, column='kda', value=kda_score)
team_stats.drop(columns=['kills', 'deaths', 'assists'], inplace=True)

team_kda_score = (team_features['team_kills'] + team_features['team_assists']) / (team_features['team_deaths'] + 1)
team_features.insert(2, column='team_kda', value=team_kda_score)
team_features.drop(columns=['team_kills', 'team_deaths', 'team_assists'], inplace=True)

display(team_stats.head(10))
display(team_features.head(10))

   match_id player_slot       kda  denies  gold  gold_spent  radiant_team
0         0           0  6.750000       1  3261       10960             1
1         0           1  7.750000       9  2954       17760             1
2         0           2  3.000000       1   110       12195             1
3         0           3  5.400000       6  1179       22505             1
4         0           4  9.250000      13  3307       23825             1
5         0         128  1.857143       5   476       12285             0
6         0         129  0.642857       2   317       10355             0
7         0         130  1.111111      31  2390       13395             0
8         0         131  0.600000       0   475        5035             0
9         0         132  0.583333       0    60       17550             0

   match_id  radiant_team  team_kda  team_denies  team_gold  team_gold_spent
0         0             0  0.905660           38       3718            58620
1         0             1  7.611111           30      10811            87245
2         1             0  3.500000           16       9085           107750
3         1             1  1.555556           27       4776            69310
4         2             0  6.000000           16      11177            81620
5         2             1  1.060000           10       2494            54990
6         3             0  2.621212           29       5954            94430
7         3             1  2.328358           32       6455            76685
8         4             0  1.210526           21       2030            38980
9         4             1  5.647059           26      14099            78980

Now let's calculate the ratios for each player.

In [9]:
# Calculate participation ratios
team_stats = team_stats.merge(team_features, on=['match_id', 'radiant_team'], how='left')
for col in team_stats.columns:
    if col.startswith('team_'):
        player_col = col.split('team_')
        team_stats[col] = team_stats[player_col[1]] / team_stats[col]

display(team_stats.head(10))

,match_id,player_slot,kda,denies,gold,gold_spent,radiant_team,team_kda,team_denies,team_gold,team_gold_spent
0,0,0,6.750000,1,3261,10960,1,0.886861,0.033333,0.301637,0.125623
1,0,1,7.750000,9,2954,17760,1,1.018248,0.300000,0.273240,0.203565
2,0,2,3.000000,1,110,12195,1,0.394161,0.033333,0.010175,0.139779
3,0,3,5.400000,6,1179,22505,1,0.709489,0.200000,0.109056,0.257952
4,0,4,9.250000,13,3307,23825,1,1.215328,0.433333,0.305892,0.273082
5,0,128,1.857143,5,476,12285,0,2.050595,0.131579,0.128026,0.209570
6,0,129,0.642857,2,317,10355,0,0.709821,0.052632,0.085261,0.176646
7,0,130,1.111111,31,2390,13395,0,1.226852,0.815789,0.642819,0.228506
8,0,131,0.600000,0,475,5035,0,0.662500,0.000000,0.127757,0.085892
9,0,132,0.583333,0,60,17550,0,0.644097,0.000000,0.016138,0.299386

Finally, we are able to proceed with merging the team participation ratios into our players' DataFrame.

In [10]:
# Merging to the players DataFrame
players = players.merge(team_stats.drop(columns=['denies', 'gold', 'gold_spent']), 
                        on=['match_id', 'player_slot'], how='left')

# Define radiant_team as categorical
players['radiant_team'] = players['radiant_team'].astype('category')

# Sanity check
display(players.head(20))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,kda,radiant_team,team_kda,team_denies,team_gold,team_gold_spent
0,0,1,Double T,0,86,0,3261,10960,347,362,9,3,18,1,30,76.73560,8690,218,143,180,37,73,56,108,0,16,0,8840,5440,0,83,50,-957,0,5145,1087,400,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,6.750000,1,0.886861,0.033333,0.301637,0.125623
1,0,1,Monkey,1,51,1,2954,17760,494,659,13,3,18,9,109,87.41640,23747,0,423,46,63,119,102,24,108,22,0,14331,8440,2683,671,395,-1137,0,6676,4317,937,16,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,7.750000,1,1.018248,0.300000,0.273240,0.203565
2,0,1,Trash!!!,0,83,2,110,12195,350,385,0,4,15,1,58,0.00000,4217,1595,399,48,60,59,108,65,0,17,0,6692,8112,0,453,259,-1436,-1015,2418,3697,400,2,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,3.000000,1,0.394161,0.033333,0.010175,0.139779
3,0,1,2,2,11,3,1179,22505,599,605,8,4,19,6,271,0.00000,14832,2714,6055,63,147,154,164,79,160,21,0,8583,14230,894,293,100,-2156,0,4104,10432,400,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,5.400000,1,0.709489,0.200000,0.109056,0.257952
4,0,1,Kira,3,67,4,3307,23825,613,762,20,3,17,13,245,0.00000,33740,243,1833,114,92,147,0,137,63,24,0,15814,14325,0,62,0,-1437,-1056,7467,9220,400,1,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,9.250000,1,1.215328,0.433333,0.305892,0.273082
5,0,0,4,4,106,128,476,12285,397,524,5,6,8,5,162,0.00000,10725,0,112,145,73,149,48,212,0,19,0,8502,12259,0,1,0,-2394,-2240,5281,6193,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,1.857143,0,2.050595,0.131579,0.128026,0.209570
6,0,0,6k Slayer,0,102,129,317,10355,303,369,4,13,5,2,107,0.00000,15028,764,0,50,11,102,36,185,81,16,0,5201,9417,0,1,0,-3287,0,3396,4356,0,18,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,0.642857,0,0.709821,0.052632,0.085261,0.176646
7,0,0,ｔｏｍｉａ～♥,5,46,130,2390,13395,452,517,4,8,6,31,208,0.00000,10230,0,2438,41,63,36,147,168,21,19,0,6853,13396,0,244,107,-3682,0,4350,8797,0,6,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,1.111111,0,1.226852,0.815789,0.642819,0.228506
8,0,0,-,0,7,131,475,5035,189,223,1,14,8,0,27,67.02770,4774,0,0,36,0,0,46,0,180,12,0,4798,4038,0,27,0,-3286,-39,2127,1089,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,0.600000,0,0.662500,0.000000,0.127757,0.085892
9,0,0,u didnt see who highest here?,6,73,132,60,17550,496,456,1,11,6,0,147,60.97480,6398,292,0,63,9,116,65,229,79,18,0,6659,10471,0,933,5679,-4039,-1063,2685,7011,0,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,0.583333,0,0.644097,0.000000,0.016138,0.299386
10,1,0,-,0,7,0,76,12160,218,206,3,4,9,0,36,37.92430,4075,0,0,0,0,0,0,0,0,12,0,3857,4652,298,94,66,-1046,0,2574,1479,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,2.400000,1,1.542857,0.000000,0.015913,0.175444
11,1,0,Apin's,7,82,1,9,19625,581,756,9,10,8,9,343,0.00000,13888,0,1679,48,0,176,96,1,108,25,0,2820,6588,298,22842,193,-4910,-238,4776,14199,559,4,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,1.545455,1,0.993506,0.333333,0.001884,0.283148
12,1,0,Double T,0,71,2,1240,10220,339,352,5,13,11,3,76,99.99160,7788,0,81,172,181,63,116,9,73,16,0,9305,5868,0,3,0,-4067,-1112,6712,2606,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,1.142857,1,0.734694,0.111111,0.259631,0.147453
13,1,0,stormX---,8,39,3,2400,14395,460,544,12,15,9,8,169,30.22340,19920,0,123,116,127,63,46,100,0,21,0,10970,11419,0,1038,598,-4995,-425,7194,6915,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,1.312500,1,0.843750,0.296296,0.502513,0.207690
14,1,0,Buk lau,4,21,4,1051,12910,365,436,6,11,12,7,131,47.50440,12913,0,537,50,36,41,168,108,21,18,0,8191,9666,298,634,432,-4519,0,4237,5585,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,1.500000,1,0.964286,0.259259,0.220059,0.186265
15,1,1,DA BOSS,9,73,128,1277,20275,600,509,2,12,24,2,220,86.26950,14130,0,1765,178,137,1,24,129,48,20,0,7883,12923,596,522,6428,-4608,-320,2808,8070,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,2.000000,0,0.571429,0.125000,0.140561,0.188167
16,1,1,-,0,22,129,847,21840,487,517,8,5,17,0,193,1.00076,19218,0,988,201,1,190,48,65,235,20,0,6284,15942,0,65,0,-1555,0,3478,9091,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,4.166667,0,1.190476,0.000000,0.093231,0.202691
17,1,1,Titus,0,5,130,389,19165,488,583,14,8,9,0,101,2.20195,11398,0,971,254,102,0,116,108,48,21,0,15399,8827,596,304,120,-2332,-1392,8495,4006,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,2.555556,0,0.730159,0.000000,0.042818,0.177865
18,1,1,5,5,67,131,4055,24165,631,755,16,5,21,11,226,0.00000,28505,0,6149,158,50,147,196,114,46,25,0,17504,14008,596,417,208,-1315,0,9257,8430,510,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,6.166667,0,1.761905,0.687500,0.446340,0.224269
19,1,1,D o r a,0,106,132,2517,22305,585,753,10,7,12,3,250,0.00000,20065,0,1275,48,0,1,141,145,145,25,0,14566,17677,0,176,71,-2333,0,6248,9965,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,2.750000,0,0.785714,0.187500,0.277050,0.207007

0

#### Team Picks

Next, we should proceed to create a new column containing the team hero picks for each player in their respective rows. This modification will provide us with valuable insight into the team composition for each match observation.

In [11]:
# Group players by match_id and separate radiant/dire heroes
match_picks = players.groupby(['match_id', 'radiant_team'], as_index=False, observed=False)['hero_id']\
                .apply(list).rename(columns={'hero_id': 'team_hero_picks'})
display(match_picks.head(10))

   match_id radiant_team         team_hero_picks
0         0            0   [106, 102, 46, 7, 73]
1         0            1    [86, 51, 83, 11, 67]
2         1            0    [73, 22, 5, 67, 106]
3         1            1     [7, 82, 71, 39, 21]
4         2            0     [38, 7, 10, 12, 85]
5         2            1    [51, 109, 9, 41, 27]
6         3            0    [78, 19, 31, 40, 47]
7         3            1    [50, 44, 32, 26, 39]
8         4            0  [101, 100, 22, 67, 21]
9         4            1     [8, 39, 55, 87, 69]

In [12]:
# Merging to the players DataFrame
players = players.merge(match_picks, on=['match_id', 'radiant_team'], how='left')
display(players.head(20))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,kda,radiant_team,team_kda,team_denies,team_gold,team_gold_spent,team_hero_picks
0,0,1,Double T,0,86,0,3261,10960,347,362,9,3,18,1,30,76.73560,8690,218,143,180,37,73,56,108,0,16,0,8840,5440,0,83,50,-957,0,5145,1087,400,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,6.750000,1,0.886861,0.033333,0.301637,0.125623,"[86, 51, 83, 11, 67]"
1,0,1,Monkey,1,51,1,2954,17760,494,659,13,3,18,9,109,87.41640,23747,0,423,46,63,119,102,24,108,22,0,14331,8440,2683,671,395,-1137,0,6676,4317,937,16,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,7.750000,1,1.018248,0.300000,0.273240,0.203565,"[86, 51, 83, 11, 67]"
2,0,1,Trash!!!,0,83,2,110,12195,350,385,0,4,15,1,58,0.00000,4217,1595,399,48,60,59,108,65,0,17,0,6692,8112,0,453,259,-1436,-1015,2418,3697,400,2,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,3.000000,1,0.394161,0.033333,0.010175,0.139779,"[86, 51, 83, 11, 67]"
3,0,1,2,2,11,3,1179,22505,599,605,8,4,19,6,271,0.00000,14832,2714,6055,63,147,154,164,79,160,21,0,8583,14230,894,293,100,-2156,0,4104,10432,400,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,5.400000,1,0.709489,0.200000,0.109056,0.257952,"[86, 51, 83, 11, 67]"
4,0,1,Kira,3,67,4,3307,23825,613,762,20,3,17,13,245,0.00000,33740,243,1833,114,92,147,0,137,63,24,0,15814,14325,0,62,0,-1437,-1056,7467,9220,400,1,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,9.250000,1,1.215328,0.433333,0.305892,0.273082,"[86, 51, 83, 11, 67]"
5,0,0,4,4,106,128,476,12285,397,524,5,6,8,5,162,0.00000,10725,0,112,145,73,149,48,212,0,19,0,8502,12259,0,1,0,-2394,-2240,5281,6193,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,1.857143,0,2.050595,0.131579,0.128026,0.209570,"[106, 102, 46, 7, 73]"
6,0,0,6k Slayer,0,102,129,317,10355,303,369,4,13,5,2,107,0.00000,15028,764,0,50,11,102,36,185,81,16,0,5201,9417,0,1,0,-3287,0,3396,4356,0,18,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,0.642857,0,0.709821,0.052632,0.085261,0.176646,"[106, 102, 46, 7, 73]"
7,0,0,ｔｏｍｉａ～♥,5,46,130,2390,13395,452,517,4,8,6,31,208,0.00000,10230,0,2438,41,63,36,147,168,21,19,0,6853,13396,0,244,107,-3682,0,4350,8797,0,6,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,1.111111,0,1.226852,0.815789,0.642819,0.228506,"[106, 102, 46, 7, 73]"
8,0,0,-,0,7,131,475,5035,189,223,1,14,8,0,27,67.02770,4774,0,0,36,0,0,46,0,180,12,0,4798,4038,0,27,0,-3286,-39,2127,1089,0,0,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,0.600000,0,0.662500,0.000000,0.127757,0.085892,"[106, 102, 46, 7, 73]"
9,0,0,u didnt see who highest here?,6,73,132,60,17550,496,456,1,11,6,0,147,60.97480,6398,292,0,63,9,116,65,229,79,18,0,6659,10471,0,933,5679,-4039,-1063,2685,7011,0,4,2375,155,2015-11-05 19:01:52,1982,4,3,63,1,0.583333,0,0.644097,0.000000,0.016138,0.299386,"[106, 102, 46, 7, 73]"
10,1,0,-,0,7,0,76,12160,218,206,3,4,9,0,36,37.92430,4075,0,0,0,0,0,0,0,0,12,0,3857,4652,298,94,66,-1046,0,2574,1479,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,2.400000,1,1.542857,0.000000,0.015913,0.175444,"[7, 82, 71, 39, 21]"
11,1,0,Apin's,7,82,1,9,19625,581,756,9,10,8,9,343,0.00000,13888,0,1679,48,0,176,96,1,108,25,0,2820,6588,298,22842,193,-4910,-238,4776,14199,559,4,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,1.545455,1,0.993506,0.333333,0.001884,0.283148,"[7, 82, 71, 39, 21]"
12,1,0,Double T,0,71,2,1240,10220,339,352,5,13,11,3,76,99.99160,7788,0,81,172,181,63,116,9,73,16,0,9305,5868,0,3,0,-4067,-1112,6712,2606,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,1.142857,1,0.734694,0.111111,0.259631,0.147453,"[7, 82, 71, 39, 21]"
13,1,0,stormX---,8,39,3,2400,14395,460,544,12,15,9,8,169,30.22340,19920,0,123,116,127,63,46,100,0,21,0,10970,11419,0,1038,598,-4995,-425,7194,6915,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,1.312500,1,0.843750,0.296296,0.502513,0.207690,"[7, 82, 71, 39, 21]"
14,1,0,Buk lau,4,21,4,1051,12910,365,436,6,11,12,7,131,47.50440,12913,0,537,50,36,41,168,108,21,18,0,8191,9666,298,634,432,-4519,0,4237,5585,200,2,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,1.500000,1,0.964286,0.259259,0.220059,0.186265,"[7, 82, 71, 39, 21]"
15,1,1,DA BOSS,9,73,128,1277,20275,600,509,2,12,24,2,220,86.26950,14130,0,1765,178,137,1,24,129,48,20,0,7883,12923,596,522,6428,-4608,-320,2808,8070,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,2.000000,0,0.571429,0.125000,0.140561,0.188167,"[73, 22, 5, 67, 106]"
16,1,1,-,0,22,129,847,21840,487,517,8,5,17,0,193,1.00076,19218,0,988,201,1,190,48,65,235,20,0,6284,15942,0,65,0,-1555,0,3478,9091,200,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,4.166667,0,1.190476,0.000000,0.093231,0.202691,"[73, 22, 5, 67, 106]"
17,1,1,Titus,0,5,130,389,19165,488,583,14,8,9,0,101,2.20195,11398,0,971,254,102,0,116,108,48,21,0,15399,8827,596,304,120,-2332,-1392,8495,4006,200,1,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,2.555556,0,0.730159,0.000000,0.042818,0.177865,"[73, 22, 5, 67, 106]"
18,1,1,5,5,67,131,4055,24165,631,755,16,5,21,11,226,0.00000,28505,0,6149,158,50,147,196,114,46,25,0,17504,14008,596,417,208,-1315,0,9257,8430,510,0,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,6.166667,0,1.761905,0.687500,0.446340,0.224269,"[73, 22, 5, 67, 106]"
19,1,1,D o r a,0,106,132,2517,22305,585,753,10,7,12,3,250,0.00000,20065,0,1275,48,0,1,141,145,145,25,0,14566,17677,0,176,71,-2333,0,6248,9965,200,3,2582,154,2015-11-05 19:51:18,0,1846,63,0,221,2.750000,0,0.785714,0.187500,0.277050,0.207007,"[73, 22, 5, 67, 106]"

0

#### Teamfights

Team fights are a great way to assess each team's performance and coordination. Engineering features that help us analyze the dynamics and results of team fights can provide valuable insights into player performance, team synergy, and the influence of team fights on the overall match result.

In [13]:
# Load required files
tf_players = pd.read_csv(clean_folder + '/teamfights_players.csv', index_col=0)
print(f'tf_players:', '{:,} observations, {:,} features'.format(tf_players.shape[0], tf_players.shape[1]))

tf_players: 5,390,470 observations, 9 features

In [14]:
# Teamfight Participation
def count_values_not_zero(series):
    return (series > 0).sum()

player_teamfights = tf_players.groupby(['match_id', 'player_slot'])['damage'].agg(count_values_not_zero).reset_index(name='teamfights')

# Teamfight Performance
tf_player_damage = tf_players.groupby(['match_id', 'player_slot'])['damage'].sum().reset_index(name='tf_damage_dealt')
tf_player_buybacks = tf_players.groupby(['match_id', 'player_slot'])['buybacks'].sum().reset_index(name='tf_buybacks')
tf_player_deaths = tf_players.groupby(['match_id', 'player_slot'])['deaths'].sum().reset_index(name='tf_deaths')

# Teamfight Impact
tf_player_gold_delta = tf_players.groupby(['match_id', 'player_slot'])['gold_delta'].mean().reset_index(name='tf_avg_gold_delta')
tf_player_xp_delta = tf_players.groupby(['match_id', 'player_slot']).apply(lambda x: (x['xp_end'] - x['xp_start']).mean()).reset_index(name='tf_avg_xp_delta')

# Merge all features in a single DataFrame
player_teamfights = player_teamfights.merge(tf_player_damage, on=['match_id', 'player_slot'], how='left')
player_teamfights = player_teamfights.merge(tf_player_buybacks, on=['match_id', 'player_slot'], how='left')
player_teamfights = player_teamfights.merge(tf_player_deaths, on=['match_id', 'player_slot'], how='left')
player_teamfights = player_teamfights.merge(tf_player_gold_delta, on=['match_id', 'player_slot'], how='left')
player_teamfights = player_teamfights.merge(tf_player_xp_delta, on=['match_id', 'player_slot'], how='left')


# Display the head and shape of player_teamfights
display(player_teamfights.head(20))
print(f'player_teamfights:', '{:,} observations, {:,} features'.format(player_teamfights.shape[0], player_teamfights.shape[1]))

,match_id,player_slot,teamfights,tf_damage_dealt,tf_buybacks,tf_deaths,tf_avg_gold_delta,tf_avg_xp_delta
0,0,0,10,6099,0,2,329.166667,538.333333
1,0,1,10,13663,0,4,409.833333,1112.250000
2,0,2,7,1155,1,3,123.666667,495.166667
3,0,3,9,15201,0,4,317.333333,795.750000
4,0,4,12,30774,1,2,460.583333,1189.416667
5,0,128,10,23616,2,5,86.750000,731.666667
6,0,129,9,12807,0,4,211.583333,516.750000
7,0,130,8,15988,0,5,193.000000,610.250000
8,0,131,10,5718,1,9,-29.833333,401.750000
9,0,132,10,9786,1,9,-65.750000,639.500000
10,1,0,10,6264,0,4,145.266667,296.800000
11,1,1,15,64805,0,43,148.266667,696.933333
12,1,2,12,9215,1,8,135.066667,626.600000
13,1,3,11,21740,0,8,277.466667,693.133333
14,1,4,12,9786,0,5,181.133333,567.933333
15,1,128,12,17147,1,8,125.600000,519.800000
16,1,129,10,14173,0,3,296.466667,543.466667
17,1,130,11,8165,1,5,328.266667,864.800000
18,1,131,14,37046,0,3,602.666667,1103.266667
19,1,132,9,25600,0,4,404.533333,972.333333

player_teamfights: 499,310 observations, 8 features

It's odd that we are missing 690 observations in this new DataFrame. It's possible that these players did not engage in any teamfights, either by avoiding them entirely or due to thrown matches.

In [15]:
# Look for original match_ids
print('Total matches in original:', tf_players['match_id'].nunique())

Total matches in original: 49931

After verifying that there are no random missing values, instead of disregarding specific matches, let's merge these new features into our players' DataFrame and then examine the observations with null values. We will investigate the teamfight missing values after exploring the matches DataFrame.

In [16]:
# Merging to the players' DataFrame
players = players.drop(columns=['kills', 'deaths', 'assists'])\
                .merge(player_teamfights, on=['match_id', 'player_slot'], how='left')
display(players[players['teamfights'].isna()].sample(50))
gc.collect()

,match_id,match_outcome,account,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,item_0,item_1,item_2,item_3,item_4,item_5,level,leaver_status,xp_hero,xp_creep,xp_roshan,xp_other,gold_other,gold_death,gold_buyback,gold_killing_heros,gold_killing_creeps,gold_killing_roshan,messages_sent,time_played,cluster,start_time,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,kda,radiant_team,team_kda,team_denies,team_gold,team_gold_spent,team_hero_picks,teamfights,tf_damage_dealt,tf_buybacks,tf_deaths,tf_avg_gold_delta,tf_avg_xp_delta
384595,38459,0,[uNs]NiceDay,131998,42,128,2,800,364,310,4,23,4.065670,772,0,0,11,182,44,16,34,0,5,1,202,1282,0,0,0,0,0,295,958,0,1,286,138,2015-11-16 21:13:36,2047,2047,63,63,71,1.000000,0,3.000000,0.571429,0.000643,0.149254,"[42, 75, 39, 64, 98]",NaN,NaN,NaN,NaN,NaN,NaN
373964,37396,1,Ziko,129004,5,4,902,3705,292,175,1,14,0.433295,1068,0,662,214,44,43,73,46,19,6,0,230,2130,0,26,0,0,0,296,530,0,1,815,133,2015-11-16 18:46:39,2047,1798,59,63,44,1.000000,1,0.285714,0.047619,0.112778,0.149818,"[55, 44, 25, 50, 5]",NaN,NaN,NaN,NaN,NaN,NaN
162829,16282,1,bolu0beyi,66755,21,132,1341,8845,517,420,9,77,4.532230,5592,0,2365,50,166,168,16,16,88,11,0,923,6030,0,542,428,0,0,548,3004,0,1,1069,132,2015-11-14 10:41:40,48,2039,63,12,123,3.000000,0,0.260870,0.200000,0.129804,0.238089,"[48, 50, 39, 71, 21]",NaN,NaN,NaN,NaN,NaN,NaN
108787,10878,1,15176,15176,1,130,1372,1900,358,284,7,38,0.000000,328,0,437,56,11,16,182,29,0,6,0,61,2044,0,12,0,0,0,35,1571,0,0,446,132,2015-11-13 19:19:49,2038,2047,63,63,0,1.000000,0,0.400000,0.368421,0.255970,0.220035,"[75, 5, 1, 47, 42]",NaN,NaN,NaN,NaN,NaN,NaN
185186,18518,0,-,0,8,129,769,3930,519,325,5,27,0.000000,1598,0,0,50,11,71,36,46,0,7,1,0,2637,0,0,0,-119,0,0,1115,0,0,485,156,2015-11-14 17:00:39,2047,1975,63,63,12,0.000000,0,0.000000,0.714286,0.989704,0.441077,"[36, 8, 28, 70, 86]",NaN,NaN,NaN,NaN,NaN,NaN
92736,9273,1,322,0,99,129,589,6610,402,389,4,53,0.000000,8816,0,626,0,34,63,125,127,0,11,0,2143,4189,0,56,0,-29,0,2144,2167,0,10,983,123,2015-11-13 13:57:36,1974,2039,63,63,49,5.000000,0,1.500000,0.666667,0.237022,0.290677,"[74, 99, 93, 68, 41]",NaN,NaN,NaN,NaN,NaN,NaN
16329,1632,1,gissi18,8326,104,132,391,3300,305,363,0,55,0.000000,531,0,0,1,11,182,16,17,0,8,0,0,3503,0,170,158,0,0,0,1912,0,4,605,138,2015-11-12 13:09:28,2047,2047,63,63,145,0.000000,0,0.000000,0.000000,0.166312,0.214844,"[93, 39, 50, 36, 104]",NaN,NaN,NaN,NaN,NaN,NaN
12210,1221,0,6341,6341,85,0,1,625,100,71,0,0,0.000000,147,0,0,42,216,44,16,16,216,2,3,0,326,0,0,0,-29,0,0,0,0,0,272,171,2015-11-12 11:23:25,2047,2047,63,63,8,0.000000,1,0.000000,0.000000,0.000469,0.131857,"[85, 10, 21, 14, 2]",NaN,NaN,NaN,NaN,NaN,NaN
314385,31438,1,63251,63251,104,128,179,625,180,187,0,2,0.000000,0,0,0,44,182,12,16,16,0,1,0,0,186,0,0,0,0,0,0,79,0,0,59,123,2015-11-15 22:10:50,2047,2047,63,63,0,0.000000,0,0.000000,0.000000,0.091842,0.182749,"[104, 21, 9, 46, 100]",NaN,NaN,NaN,NaN,NaN,NaN
35877,3587,0,the king i was,16344,42,130,0,1065,325,139,3,15,0.000000,0,0,0,16,44,11,16,20,29,3,1,0,658,0,16,0,0,0,0,618,0,4,289,204,2015-11-12 18:33:19,2047,2039,63,63,0,0.000000,0,NaN,1.000000,0.000000,0.273427,"[7, 63, 42, 39, 30]",NaN,NaN,NaN,NaN,NaN,NaN
449083,44908,1,17951,17951,28,3,470,1385,258,246,0,15,5.498600,1148,0,0,34,16,39,29,216,181,4,0,115,1014,0,0,0,0,0,99,623,0,0,274,133,2015-11-17 17:15:47,2047,2047,63,63,101,1.000000,1,0.166667,0.000000,0.334996,0.159562,"[18, 3, 92, 28, 11]",NaN,NaN,NaN,NaN,NaN,NaN
326965,32696,0,117131,117131,63,128,3758,740,511,41,0,2,0.000000,39,0,0,12,20,44,16,16,46,2,1,0,320,0,0,0,-59,0,0,90,0,0,461,204,2015-11-16 01:06:28,2047,2038,63,63,74,0.000000,0,0.000000,0.000000,0.997876,0.154812,"[63, 47, 2, 102, 75]",NaN,NaN,NaN,NaN,NaN,NaN
314388,31438,1,36382,36382,46,131,515,585,479,487,1,6,0.000000,304,0,0,241,241,16,75,16,0,2,0,32,351,0,100,100,0,0,28,247,0,0,59,123,2015-11-15 22:10:50,2047,2047,63,63,0,1.000000,0,0.142857,0.333333,0.264238,0.171053,"[104, 21, 9, 46, 100]",NaN,NaN,NaN,NaN,NaN,NaN
35481,3548,0,Dragnipur,8953,85,1,0,585,106,25,0,1,0.000000,23,0,0,44,39,16,16,38,182,1,3,0,154,0,0,0,0,0,0,37,0,3,362,182,2015-11-12 18:27:22,2047,2047,63,63,132,0.000000,1,0.000000,0.000000,0.000000,0.080137,"[100, 85, 47, 2, 40]",NaN,NaN,NaN,NaN,NaN,NaN
35872,3587,1,JhonnyWallkeer,18058,11,2,1312,2100,577,381,6,22,0.000000,2518,0,405,75,36,41,241,29,0,5,0,312,1417,0,112,100,0,0,893,919,0,5,289,204,2015-11-12 18:33:19,2047,2039,63,63,0,3.000000,1,0.500000,0.375000,0.280762,0.336269,"[5, 69, 11, 14, 67]",NaN,NaN,NaN,NaN,NaN,NaN
449084,44908,1,53% winrate slayer,147030,11,4,223,2370,430,504,13,26,0.000000,1275,0,0,75,16,16,41,241,29,6,0,240,1966,0,172,159,0,0,331,1079,0,4,274,133,2015-11-17 17:15:47,2047,2047,63,63,101,1.000000,1,0.166667,0.650000,0.158945,0.273041,"[18, 3, 92, 28, 11]",NaN,NaN,NaN,NaN,NaN,NaN
482596,48259,0,My name is ツ (¯'•.¸_,0,48,129,1418,12055,748,322,3,17,4.432420,3457,0,0,147,152,164,46,63,0,10,0,2243,3300,0,0,0,-119,0,1756,709,0,1,1030,171,2015-11-18 01:20:24,2047,256,48,63,5,1.000000,0,1.000000,0.428571,0.997187,0.507900,"[73, 48, 93, 101, 7]",NaN,NaN,NaN,NaN,NaN,NaN
282094,28209,0,?????? ????,104610,71,4,0,625,122,9,0,0,1.233020,116,0,0,44,71,0,0,0,0,1,1,27,31,0,0,0,0,0,73,0,0,5,355,133,2015-11-15 16:25:32,1974,2047,63,63,3,1.000000,1,0.400000,0.000000,0.000000,0.207297,"[35, 38, 2, 73, 71]",NaN,NaN,NaN,NaN,NaN,NaN
467475,46747,1,lixed,24545,47,128,1056,9135,523,399,11,95,0.000000,4112,254,3043,79,212,63,154,46,30,11,0,986,6035,0,270,154,0,0,892,3695,0,11,1095,204,2015-11-17 21:31:35,390,2046,63,51,280,5.000000,0,0.322581,0.282051,0.105632,0.288398,"[47, 25, 112, 100, 28]",NaN,NaN,NaN,NaN,NaN,NaN
121449,12144,1,21446,21446,10,132,5801,4585,575,398,7,78,0.899714,1487,0,2563,36,181,212,63,46,56,11,0,330,6304,0,64,20,0,0,646,3199,0,0,1006,132,2015-11-13 22:20:15,0,2046,63,32,43,3.000000,0,0.750000,0.333333,0.416649,0.136094,"[27, 47, 9, 104, 10]",NaN,NaN,NaN,NaN,NaN,NaN
185108,18510,0,11578,11578,86,131,1,850,245,17,0,1,0.000000,0,0,0,44,39,38,188,20,42,1,2,0,123,0,0,0,0,0,0,23,0,0,420,154,2015-11-14 16:59:01,2047,2038,63,63,51,0.000000,0,NaN,0.000000,0.000266,0.230041,"[97, 1, 101, 86, 38]",NaN,NaN,NaN,NaN,NaN,NaN
476135,47613,1,[K]etoprofeno-50mg,0,99,128,3399,8985,417,326,0,57,0.000000,2548,0,3472,88,63,16,242,127,0,12,0,2595,6195,0,108,0,-299,0,1498,2192,200,12,1634,121,2015-11-17 23:28:26,0,2047,63,0,167,3.500000,0,0.262500,0.000000,0.262877,0.178646,"[99, 26, 17, 28, 36]",NaN,NaN,NaN,NaN,NaN,NaN
144284,14428,0,60832,60832,11,4,1,1225,205,254,2,17,0.000000,552,0,0,16,16,75,44,46,34,5,3,0,1696,0,0,0,-268,0,0,705,0,0,400,111,2015-11-14 04:26:22,2046,2047,63,63,154,0.333333,1,0.444444,0.333333,0.001284,0.100328,"[81, 25, 70, 104, 11]",NaN,NaN,NaN,NaN,NaN,NaN
386065,38606,1,Danger-Sendo,129615,28,128,3151,6975,458,422,5,45,39.256900,6194,0,653,1,214,216,102,36,0,12,0,3427,4005,894,352,78,0,0,2439,1806,200,6,1231,154,2015-11-16 21:31:09,388,2039,63,51,144,13.000000,0,1.950000,0.100000,0.199078,0.171481,"[28, 1, 30, 102, 46]",NaN,NaN,NaN,NaN,NaN,NaN
384596,38459,0,KIHb,131999,75,129,3101,995,654,128,1,0,0.000000,914,0,0,20,0,0,15,0,0,3,1,0,616,0,0,0,-59,0,0,0,0,1,286,138,2015-11-16 21:13:36,2047,2047,63,63,71,0.500000,0,1.500000,0.142857,0.997427,0.185634,"[42, 75, 39, 64, 98]",NaN,NaN,NaN,NaN,NaN,NaN
409591,40959,1,ҠSƐFtilaizer!,115122,74,1,426,3170,418,401,2,29,1.333010,6308,0,216,77,44,65,29,0,0,7,0,405,2519,0,100,100,-209,0,774,1363,0,6,451,132,2015-11-17 03:38:10,2047,1983,63,63,49,1.500000,1,0.300000,0.250000,0.080866,0.283923,"[41, 74, 27, 7, 9]",NaN,NaN,NaN,NaN,NaN,NaN
476139,47613,1,killzone,0,36,132,4036,10695,517,410,2,79,9.314400,6599,2601,1541,79,29,117,204,0,0,14,0,3638,6826,596,132,0,0,0,2853,2976,200,1,1634,121,2015-11-17 23:28:26,0,2047,63,0,167,14.000000,0,1.050000,0.500000,0.312142,0.212645,"[99, 26, 17, 28, 36]",NaN,NaN,NaN,NaN,NaN,NaN
306331,30633,0,111846,111846,67,1,1,600,124,44,0,5,0.000000,104,0,0,0,0,0,0,0,0,2,2,0,371,0,0,0,0,0,0,208,0,0,500,123,2015-11-15 20:43:24,2046,2047,63,63,95,0.000000,1,NaN,0.000000,0.000481,0.078227,"[86, 67, 102, 39, 2]",NaN,NaN,NaN,NaN,NaN,NaN
48969,4896,0,nobi,24523,36,132,1,3300,239,179,2,14,0.000000,1789,312,220,36,19,15,0,16,63,7,1,708,1986,0,8,0,0,0,1012,635,0,3,904,112,2015-11-12 21:24:44,2046,391,51,63,0,4.000000,0,3.600000,0.200000,0.000133,0.296363,"[21, 50, 2, 71, 36]",NaN,NaN,NaN,NaN,NaN,NaN
409599,40959,0,55792,55792,11,132,0,560,126,38,4,5,0.000000,0,0,0,241,241,75,0,0,0,2,3,0,287,0,0,0,-59,-133,0,203,0,0,451,132,2015-11-17 03:38:10,2047,1983,63,63,49,0.000000,0,0.000000,0.800000,0.000000,0.179200,"[55, 10, 1, 5, 11]",NaN,NaN,NaN,NaN,NaN,NaN
291722,29172,0,Marksman,45293,48,2,1,2485,255,285,4,21,0.633203,167,0,0,6,212,29,44,0,0,7,1,0,2758,0,0,0,0,0,0,849,0,1,579,155,2015-11-15 18:16:33,2047,2047,63,63,369,0.000000,1,NaN,0.222222,0.000491,0.251518,"[27, 100, 48, 104, 101]",NaN,NaN,NaN,NaN,NaN,NaN
32041,3204,1,-,0,49,1,2655,6175,438,266,3,67,5.798580,2424,0,1965,152,36,63,11,212,0,9,0,1254,3560,0,174,100,0,0,994,2667,0,0,1122,133,2015-11-12 17:36:29,2047,260,51,63,175,5.000000,1,0.441176,0.100000,0.326488,0.174312,"[86, 49, 106, 27, 8]",NaN,NaN,NaN,NaN,NaN,NaN
373968,37396,0,Mungo Jerry,129007,26,131,1,1185,106,98,1,2,1.532940,179,0,0,0,0,0,0,0,0,4,3,0,1340,0,0,0,0,0,0,90,0,7,815,133,2015-11-16 18:46:39,2047,1798,59,63,44,0.000000,0,0.000000,0.166667,0.000778,0.085807,"[15, 107, 21, 26, 11]",NaN,NaN,NaN,NaN,NaN,NaN
449080,44908,1,-,0,18,0,331,2050,340,278,3,20,5.931880,1094,0,0,29,0,25,13,20,11,4,0,100,1073,0,102,100,0,0,373,625,0,0,274,133,2015-11-17 17:15:47,2047,2047,63,63,101,1.000000,1,0.166667,0.150000,0.235923,0.236175,"[18, 3, 92, 28, 11]",NaN,NaN,NaN,NaN,NaN,NaN
48964,4896,1,f_[o]r,24520,93,4,788,5300,390,301,13,32,0.000000,5419,0,775,71,181,0,63,0,152,9,0,1028,3486,0,31,0,-269,-430,1096,1267,0,3,904,112,2015-11-12 21:24:44,2046,391,51,63,0,3.000000,1,1.235294,0.722222,0.090067,0.221897,"[79, 62, 73, 110, 93]",NaN,NaN,NaN,NaN,NaN,NaN
157831,15783,0,40095,40095,43,1,207,12565,523,502,4,78,10.106700,10657,0,479,50,41,100,116,77,127,15,0,5332,8105,0,8,-100,-1674,-333,3664,3221,0,0,1603,132,2015-11-14 08:38:24,0,1974,63,0,43,0.857143,1,1.333333,0.444444,0.453947,0.383255,"[21, 43, 53, 68, 32]",NaN,NaN,NaN,NaN,NaN,NaN
258886,25888,0,Mr.Anderson,0,101,129,1,3210,289,170,1,5,0.000000,3917,0,118,180,92,0,46,0,36,6,1,982,1551,0,6,0,-328,0,1589,182,0,3,892,133,2015-11-15 11:25:16,1983,4,3,63,60,1.333333,0,0.833333,0.166667,0.000410,0.244385,"[100, 101, 0, 74, 72]",NaN,NaN,NaN,NaN,NaN,NaN
217547,21754,1,IceFraud,36576,95,130,3303,8960,635,405,10,105,-0.000049,1940,0,7090,212,164,50,154,0,12,11,0,1160,5665,447,151,50,0,0,490,4030,200,1,1098,133,2015-11-14 23:45:46,0,2039,63,0,77,4.000000,0,0.315789,0.322581,0.264982,0.205599,"[7, 8, 95, 47, 36]",NaN,NaN,NaN,NaN,NaN,NaN
493336,49333,1,zero to 100,93967,46,129,2474,12675,698,573,3,116,0.000000,7613,0,3389,1,41,63,36,154,168,15,0,3709,7892,0,488,720,-179,0,2478,5214,0,22,1264,112,2015-11-18 04:21:16,256,1855,63,48,23,5.000000,0,0.600000,0.085714,0.235171,0.237827,"[26, 46, 41, 15, 107]",NaN,NaN,NaN,NaN,NaN,NaN
282092,28209,0,104608,104608,2,2,0,535,264,84,2,6,0.000000,243,0,0,182,16,16,44,39,0,3,1,27,474,0,0,0,0,0,339,236,0,0,355,133,2015-11-15 16:25:32,1974,2047,63,63,3,1.000000,1,0.400000,0.666667,0.000000,0.177446,"[35, 38, 2, 73, 71]",NaN,NaN,NaN,NaN,NaN,NaN
405302,40530,1,118982,118982,54,2,1610,8395,467,430,6,105,0.000000,2136,0,196,151,0,63,154,0,0,12,0,816,7381,0,34,0,0,0,739,3961,0,0,1145,204,2015-11-17 02:25:05,2047,452,51,63,0,3.000000,1,0.107143,0.461538,0.326970,0.191798,"[51, 32, 54, 9, 46]",NaN,NaN,NaN,NaN,NaN,NaN
423619,42361,0,Road to Al-Qaeda,2525,93,132,1423,21635,496,612,3,285,2.408250,12608,0,1836,63,24,143,135,152,98,23,0,9152,19016,0,272,149,-1795,0,5538,10755,0,9,2784,138,2015-11-17 08:29:14,1958,0,0,63,79,2.666667,0,0.872727,0.136364,0.356284,0.275781,"[31, 78, 25, 112, 93]",NaN,NaN,NaN,NaN,NaN,NaN
488798,48879,0,12205,12205,62,131,509,2340,177,176,0,11,0.200000,3361,0,0,181,46,0,36,214,0,6,1,403,1977,0,80,62,-327,0,562,465,0,0,838,133,2015-11-18 03:04:44,2047,390,51,63,88,0.500000,0,1.333333,0.000000,0.223442,0.175610,"[11, 7, 42, 62, 87]",NaN,NaN,NaN,NaN,NaN,NaN
92731,9273,0,42126,42126,28,1,1,7450,466,270,0,27,23.394100,5072,0,6,46,63,182,21,1,36,9,1,1793,2633,0,0,0,-388,0,1347,1157,0,0,983,123,2015-11-13 13:57:36,1974,2039,63,63,49,2.000000,1,1.866667,0.000000,0.000312,0.340105,"[83, 28, 90, 1, 73]",NaN,NaN,NaN,NaN,NaN,NaN
35879,3587,0,Mortal,18061,30,132,2712,605,558,24,0,0,0.000000,143,0,0,44,39,38,0,0,0,1,1,0,40,0,76,54,0,0,0,0,0,6,289,204,2015-11-12 18:33:19,2047,2039,63,63,0,0.000000,0,NaN,0.000000,1.000000,0.155327,"[7, 63, 42, 39, 30]",NaN,NaN,NaN,NaN,NaN,NaN
185104,18510,1,74643,74643,90,4,229,2065,223,168,0,4,0.000000,661,0,179,27,0,0,0,29,43,4,0,65,1120,0,0,0,0,0,376,171,0,0,420,154,2015-11-14 16:59:01,2047,2038,63,63,51,1.000000,1,1.000000,0.000000,0.083607,0.157694,"[28, 56, 16, 11, 90]",NaN,NaN,NaN,NaN,NaN,NaN
306336,30633,1,110667,110667,112,129,877,1980,243,190,0,5,16.129400,2516,0,44,29,46,0,94,16,0,5,0,338,1250,0,0,0,0,0,832,205,0,0,500,123,2015-11-15 20:43:24,2046,2047,63,63,95,4.000000,0,0.307692,0.000000,0.161540,0.178058,"[95, 112, 8, 97, 68]",NaN,NaN,NaN,NaN,NaN,NaN
217542,21754,0,+Цар Душан Силни+,0,70,2,201,3165,159,102,0,29,0.000000,616,0,0,11,182,16,16,26,29,5,0,0,1867,0,0,0,-297,0,0,924,0,3,1098,133,2015-11-14 23:45:46,0,2039,63,0,77,0.000000,1,0.000000,0.000000,0.073599,0.203080,"[88, 31, 70, 78, 11]",NaN,NaN,NaN,NaN,NaN,NaN
380187,38018,1,Flacer,54206,8,130,1576,3035,353,171,2,21,0.000000,376,0,748,0,50,0,0,0,0,5,0,61,1876,0,44,0,-238,-290,45,906,0,4,692,133,2015-11-16 20:15:03,390,2047,63,51,155,0.000000,0,0.000000,0.181818,0.138306,0.200661,"[50, 85, 8, 15, 47]",NaN,NaN,NaN,NaN,NaN,NaN
326964,32696,1,29794,29794,74,4,854,3135,437,455,14,47,0.000000,1517,0,702,50,77,46,44,0,0,8,0,160,3319,0,25,0,0,0,295,1979,0,0,461,204,2015-11-16 01:06:28,2047,2038,63,63,74,1.000000,1,0.400000,0.666667,0.221588,0.282815,"[36, 9, 101, 41, 74]",NaN,NaN,NaN,NaN,NaN,NaN

0

It seems that some of these players have a leaver status, and others have very poor stats overall, suggesting that these matches may have been thrown. However, others seem to have decent stats across the board, indicating that the data could have been corrupted before manipulation. Let's check how many null values we have from our engineered features so far.

#### TrueSkill

We must consistently evaluate each player's skill level as they engage in matches to ensure a fair matchmaking process. Our data cleanup notebook includes a file with TrueSkill ratings for each player based on previous match results. However, it's important to note that some players in our current dataset may not be included in the TrueSkill file, which is a potential factor that needs to be addressed.

In [17]:
# Load required files
trueskill_df = pd.read_csv(clean_folder + '/trueskill.csv')
print(f'trueskill:', '{:,} observations, {:,} features'.format(trueskill_df.shape[0], trueskill_df.shape[1]))

trueskill: 834,226 observations, 6 features

In [18]:
trueskill_df.head()

,account_id,total_wins,total_matches,trueskill_mu,trueskill_sigma,conservative_skill_estimate
0,236579,14,24,27.868035,5.212361,12.230953
1,-343,1,1,26.544163,8.065475,2.347736
2,-1217,1,1,26.521103,8.114989,2.176136
3,-1227,1,1,27.248025,8.092217,2.971375
4,-1284,0,1,22.931016,8.092224,-1.345657

In [22]:
# Instantiate the ratings dictionary
ts_init_ratings = {}

# Get the list of unique account IDs from the players DataFrame
account_ids = players['account_id'].unique().tolist()
account_ids.remove(0) # Remove anon accounts with value 0

# Read the mu and sigma from the file and append them to ts_ratings
for account in account_ids:
    account_row = trueskill_df[trueskill_df['account_id'] == account]
    if not account_row.empty:
        ts_mu = trueskill_df[trueskill_df['account_id'] == account]['trueskill_mu'].values[0]
        ts_sigma = trueskill_df[trueskill_df['account_id'] == account]['trueskill_sigma'].values[0]
        ts_init_ratings[account] = trueskill.Rating(mu=ts_mu, sigma=ts_sigma)
    else:
        ts_init_ratings[account] = trueskill.Rating()

print('Total account IDs in players DF:', len(account_ids))
print('Total keys in initial ratings dictionary:', len(ts_init_ratings))

Total account IDs in players DF: 158360
Total keys in initial ratings dictionary: 158360

In [23]:
trueskill_df[trueskill_df['account_id'] == 9][['trueskill_mu', 'trueskill_sigma']].values[0]

array([27.24786409,  7.48412389])

In [24]:
ts_init_ratings[9]

trueskill.Rating(mu=27.248, sigma=7.484)

In [25]:
team1 = [ts_init_ratings[9],ts_init_ratings[10],ts_init_ratings[1],ts_init_ratings[2],ts_init_ratings[5]]
team2 = [ts_init_ratings[8],ts_init_ratings[7],ts_init_ratings[6],ts_init_ratings[3],ts_init_ratings[4]]

win_probability(team1, team2)

0.6533004626640428

In [ ]:
# Rename the conservative_skill_estimate to trueskill
trueskill.rename(columns={'conservative_skill_estimate': 'trueskill'}, inplace=True)

# Merging to the players' DataFrame
players = players.merge(trueskill_df[['account_id', 'trueskill']], on='account_id', how='left')
display(players.sample(50))
gc.collect()

#### Filling Missing Values

In [ ]:
# Find features with missing values
display(players.isna().sum().sort_values(ascending=False)\
[players.isna().sum().sort_values(ascending=False) > 0 ])

In [ ]:
# Explore team missing values
print('Team KDA:')
display(players[(players['team_kda'].isna()) & (players['kda'] != 0)][['match_id', 'player_slot', 'kda']])
print('\n------------------------------------\nTeam Denies')
display(players[(players['team_denies'].isna()) & (players['denies'] != 0)][['match_id', 'player_slot', 'denies']])

Based on the results, the null values in the team features can be interpreted as representing a 0. This is because these particular observations and the rest of the team's players had a 0 in their original columns. In this context, we should treat the null values as 0.

In [ ]:
# Fill missing team_deaths and team_kda values
players['team_kda'].fillna(0, inplace=True)
players['team_denies'].fillna(0, inplace=True)

# Find features with missing values
display(players.isna().sum().sort_values(ascending=False)\
[players.isna().sum().sort_values(ascending=False) > 0])

There are many null values in our trueskill column. We can assume these values were either 0 or the account ID was hidden (with a value of 0). Let's explore this assumption.

In [ ]:
print('Displayed Account IDs:')
display(players[(players['trueskill'].isna()) & (players['account_id'] != 0)][['match_id', 'player_slot', 'account_id', 'trueskill']])
account_ids_null_trueskill = players[(players['trueskill'].isna()) & (players['account_id'] != 0)]['account_id']
print('\n------------------------------------\nTrueskill Dataset')
display(trueskill[trueskill['account_id'].isin(account_ids_null_trueskill)])

It seems that some of these scores were

### Matches DataFrame

#### Team Aggregations

In [ ]:
# Pivot the team_features DataFrame
team_pivoted = team_features.pivot(index='match_id', columns='radiant_team')

# Flatten MultiIndex columns
team_pivoted.columns = ['{}_{}'.format(col[0], 'radiant' if col[1] == 1 else 'dire')\
                        for col in team_pivoted.columns]

# Reset the index
team_pivoted.reset_index(inplace=True)
display(team_pivoted.head())
print('----------------------------')

# Merge results with the matches DataFrame
matches = matches.drop(columns=['negative_votes', 'positive_votes'])\
            .merge(team_pivoted, on=['match_id'], how='left')
display(matches.head())

In [ ]:
# Pivot the team_features DataFrame
picks_pivoted = match_picks.pivot(index='match_id', columns='radiant_team')

# Flatten MultiIndex columns
picks_pivoted.columns = ['{}_{}'.format(col[0], 'radiant' if col[1] == 1 else 'dire')\
                        for col in picks_pivoted.columns]

# Reset the index
picks_pivoted.reset_index(inplace=True)
display(picks_pivoted.head())
print('----------------------------')

# Expanding the lists
radiant_picks = pd.DataFrame(picks_pivoted['team_hero_picks_radiant'].tolist(), 
                             index=picks_pivoted.index, 
                             columns=[f'hero_slot_{i}' for i in range(5)])

dire_picks = pd.DataFrame(picks_pivoted['team_hero_picks_dire'].tolist(), 
                          index=picks_pivoted.index, 
                          columns=[f'hero_slot_{i+128}' for i in range(5)])

picks_pivoted = pd.concat([picks_pivoted, radiant_picks, dire_picks], axis=1)
picks_pivoted.drop(columns=['team_hero_picks_radiant', 'team_hero_picks_dire'], inplace=True)

# Merge results with the matches DataFrame
matches = matches.merge(picks_pivoted, on=['match_id'], how='left')
display(matches.head())

#### Teamfights

In [ ]:
# Load required file
teamfights = pd.read_csv(clean_folder + '/teamfights.csv', index_col=0)
print(f'teamfights:', '{:,} observations, {:,} features'.format(teamfights.shape[0], teamfights.shape[1]))

In [ ]:
# Check the total matches
teamfights['match_id'].nunique()

In [ ]:
# Look at the head
teamfights.head()

We want to calculate the total number of teamfights per match in the matches DataFrame, and we can also determine the average duration of teamfights per match.

In [ ]:
# Create duration feature
tf_duration = teamfights['end'] - teamfights['start']
teamfights.insert(4, 'duration', value=tf_duration)

# Selecting the agg functions for each column
agg_funcs = {
    'tf_order': 'max',
    'duration': 'mean'
}

# Aggregating features
tfs_per_match = teamfights[['match_id', 'tf_order', 'duration']].groupby('match_id', as_index=False).agg(agg_funcs)

# Rename time column to match format
tfs_per_match.rename(columns={'tf_order': 'teamfights', 'duration': 'tf_avg_duration'}, inplace=True)

tfs_per_match.head(10)

In [ ]:
# Merge results with the matches DataFrame
matches = matches.merge(tfs_per_match, on=['match_id'], how='left')
display(matches.head())

#### Filling Missing Values

In [ ]:
# Find features with missing values
display(matches.isna().sum().sort_values(ascending=False)\
[matches.isna().sum().sort_values(ascending=False) > 0])

In [ ]:
# Look at the rows with missing values
matches[matches['teamfights'].isna()]

Upon reviewing the data, we can notice that there are no discernible patterns indicating the absence of teamfights during these matches. Therefore, it would be best to exclude them from all of our DataFrames since they don't have complete information.

In [ ]:
# Create a list of the match IDs to be dropped
dropped_matches = matches[matches['teamfights'].isna()]['match_id'].tolist()

# Removing from the players and matches dfs
players.dropna(inplace=True)
print(f'players:', '{:,} observations, {:,} features'.format(players.shape[0], players.shape[1]))
print('-----------------------------------------------------')
matches.dropna(inplace=True)
print(f'matches:', '{:,} observations, {:,} features'.format(matches.shape[0], matches.shape[1]))

### Temporal Features

In [ ]:
# Load required file
player_time = pd.read_csv(clean_folder + '/player_time.csv', index_col=0)
print(f'player_time:', '{:,} observations, {:,} features'.format(player_time.shape[0], player_time.shape[1]))

In [ ]:
# Melt the player_time DataFrame
player_time_melted = pd.melt(player_time, id_vars=['match_id', 'times'], 
                              value_vars=[col for col in player_time.columns if\
                                          col.startswith(('gold_t_', 'lh_t_', 'xp_t_'))],
                              var_name='metric', value_name='value')

# Look at the shape of the melted DataFrame
print(f'player_time_melted:', '{:,} observations, {:,} features'.format(player_time_melted.shape[0], player_time_melted.shape[1]))
display(player_time_melted.head())
gc.collect()

In [ ]:
# Create separate columns for gold, lh, and xp
player_time_melted[['metric_type', 'player_slot']] = player_time_melted['metric'].str.split('_t_', expand=True)
player_time_melted['player_slot'] = player_time_melted['player_slot'].astype(int)
display(player_time_melted.head())
gc.collect()

In [ ]:
# Pivot the table to create a wide format
player_time_wide = player_time_melted.pivot_table(index=['match_id', 'times', 'player_slot'], 
                                                  columns='metric_type', 
                                                  values='value',
                                                  aggfunc='sum').reset_index()

# Look at the shape of the wide DataFrame
print(f'player_time_wide:', '{:,} observations, {:,} features'.format(player_time_wide.shape[0], player_time_wide.shape[1]))
display(player_time_wide.head(50))
gc.collect()

#### Ability Upgrades

# Load the file
upgrades = pd.read_csv(clean_folder + '/ability_upgrades.csv', index_col=0)
print(f'upgrades:', '{:,} observations, {:,} features'.format(upgrades.shape[0], upgrades.shape[1]))

# Round up the time values to the nearest 60-second intervals
upgrades['time'] = (upgrades['time'] // 60) * 60

# Aggregate ability upgrades
ability_features = upgrades.groupby(['match_id', 'player_slot', 'time'])['ability'].apply(list).reset_index()

# Look at the ability features DataFrame head
display(ability_features.head())
gc.collect()

# Rename time column to match format
ability_features.rename(columns={'time': 'times', 'ability': 'ability_upgrade'}, inplace=True)

# Merge aggregated ability upgrades data
player_time_wide = player_time_wide.merge(ability_features, on=['match_id', 'player_slot', 'times'], how='left')
display(player_time_wide.head(50))
gc.collect()

#### Purchase Log

# Load the file
purchase_log = pd.read_csv(clean_folder + '/purchase_log.csv', index_col=0)
print(f'purchase_log:', '{:,} observations, {:,} features'.format(purchase_log.shape[0], purchase_log.shape[1]))

# Round up the time values to the nearest 60-second intervals
purchase_log['time'] = (purchase_log['time'] // 60) * 60

# Aggregate purchased items
item_features = purchase_log.groupby(['match_id', 'player_slot', 'time'])['item_id'].apply(list).reset_index()

# Look at the item features DataFrame head
display(item_features.head())
gc.collect()

# Rename time column to match format
item_features.rename(columns={'time': 'times', 'item_id': 'item_purchase'}, inplace=True)

# Merge aggregated purchase log data
player_time_wide = player_time_wide.merge(item_features, on=['match_id', 'player_slot', 'times'], how='left')
display(player_time_wide.head(50))
gc.collect()

#### Objectives

In [ ]:
# Load the file
objectives = pd.read_csv(clean_folder + '/objectives.csv', index_col=0)
print(f'objectives:', '{:,} observations, {:,} features'.format(objectives.shape[0], objectives.shape[1]))

In [ ]:
objectives.groupby('subtype')['value'].nunique()

In [ ]:
# Separate the objectives into multiple features
objectives['aegis'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_AEGIS', 1, 0)
objectives['aegis_stolen'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_AEGIS_STOLEN', 1, 0)
objectives['firstblood'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_FIRSTBLOOD', 1, 0)
objectives['roshan_kill'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_ROSHAN_KILL', 1, 0)
objectives['tower_deny'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_TOWER_DENY', 1, 0)
objectives['tower_kill'] = np.where(objectives['subtype'] == 'CHAT_MESSAGE_TOWER_KILL', 1, 0)

# Look at the head
objectives.head()

In [ ]:
# Round up the time values to the nearest 60-second intervals
objectives['time'] = (objectives['time'] // 60) * 60

# Aggregate objectives
objective_features = objectives.drop(columns=['player2', 'subtype', 'value']).\
                        groupby(['match_id', 'player1', 'time']).sum().reset_index()

# Look at the objectives features DataFrame head
display(objective_features.head())

In [ ]:
# Rename time, player1 and subtype column to match format
objective_features.rename(columns={'time': 'times', 'player1': 'player_slot'}, inplace=True)

# Merge aggregated objectives data
player_time_wide = player_time_wide.merge(objective_features, on=['match_id', 'player_slot', 'times'], how='left')
display(player_time_wide.head(50))
gc.collect()

#### Teamfight Durations

In [ ]:
teamfights.head()

In [ ]:
# Create duration feature
tf_last_death = teamfights['last_death'] - teamfights['start']
teamfights.insert(6, 'tf_last_death', value=tf_last_death)

# Round up the time values to the nearest 60-second intervals
teamfights['times'] = (teamfights['start'] // 60) * 60

tfs_features = teamfights.drop(columns=['start', 'end', 'last_death', 'deaths'])

# Look at the teamfights features DataFrame head
display(tfs_features.head())

In [ ]:
tf_players.head()

In [ ]:
# Calculate xp_delta on tf_players
tf_players['tf_xp_delta'] = tf_players['xp_end'] - tf_players['xp_start']
tf_players.drop(columns=['xp_end', 'xp_start'], inplace=True)

# Reset the index from tfs_features
tfs_features = tfs_features.reset_index()

# Merge tf_players with tfs_features
tfs_features = tf_players.merge(tfs_features, left_on=['match_id', 'tf_id'], right_on=['match_id', 'index'])
tfs_features.drop(columns=['index', 'tf_id', 'tf_order'], inplace=True)
display(tfs_features.head(15))

In [ ]:
# Rename duration and deaths columns to match format
tfs_features.rename(columns={
    'buybacks': 'tf_buybacks',
    'damage': 'tf_damage',
    'deaths': 'tf_deaths',
    'gold_delta': 'tf_gold_delta',
    'duration': 'tf_duration'
}, inplace=True)

# Merge aggregated objectives data
player_time_wide = player_time_wide.merge(tfs_features, on=['match_id', 'player_slot', 'times'], how='left')

# Drop the matches with incomplete teamfight data
player_time_wide = player_time_wide[~player_time_wide['match_id'].isin(dropped_matches)]

# Display the first 50 final observations
display(player_time_wide.head(50))
gc.collect()

#### Chat Log

In [ ]:
# Load the file
chat = pd.read_csv(clean_folder + '/chat.csv', index_col=0)
print(f'chat:', '{:,} observations, {:,} features'.format(objectives.shape[0], objectives.shape[1]))

In [ ]:
# Look at the head
chat.head()

In [ ]:
# Round up the time values to the nearest 60-second intervals
chat['time'] = (chat['time'] // 60) * 60

# Aggregate chat messages
chat_features = chat.groupby(['match_id', 'player_slot', 'time'])['chat'].count().reset_index()

# Look at the objectives features DataFrame head
display(chat_features.head())

In [ ]:
chat_features[chat_features['time'] < 0]

In [ ]:
# Rename time column to match format
chat_features.rename(columns={'time': 'times', 'chat': 'chats_sent'}, inplace=True)

# Merge aggregated objectives data
player_time_wide = player_time_wide.merge(chat_features, on=['match_id', 'player_slot', 'times'], how='left')
display(player_time_wide.head(50))
gc.collect()

#### Filling Missing Values

In [ ]:
# Find features with missing values
display(player_time_wide.isna().sum().sort_values(ascending=False)\
[player_time_wide.isna().sum().sort_values(ascending=False) > 0])

In [ ]:
# Replacing from the players and matches dfs
players.dropna(inplace=True)
print(f'players:', '{:,} observations, {:,} features'.format(players.shape[0], players.shape[1]))

---

## Merging all DataFrames

In [ ]:
# Rename columns before merging
players_merge = players.drop(columns=['gold_per_min', 'xp_per_min', 'tf_buybacks', 
                                      'tf_deaths', 'tf_avg_gold_delta', 'tf_avg_xp_delta'])
player_time_wide.rename(columns={'gold': 'gold_per_min', 'lh': 'lh_per_min', 'xp': 'xp_per_min'}, inplace=True)

# Merge the player_time_wide with players df
dask_players = dd.from_pandas(players_merge, npartitions=4)  
dask_player_time = dd.from_pandas(player_time_wide, npartitions=8)  

merged_dask = dask_players.merge(dask_player_time, on=['match_id', 'player_slot'], how='left')
final_df = merged_dask.compute()

# Look at the initial shape of the final DataFrame
print(f'final_df:', '{:,} observations, {:,} features'.format(final_df.shape[0], final_df.shape[1]))
final_df = final_df.sort_values(by=['match_id', 'player_slot']).reset_index()
display(final_df.head(50))
gc.collect()

In [ ]:
# Save the final DataFrames to a CSV file
matches.to_csv('../Data/Merged/matches.csv', index=False)
print(f'matches:', '{:,} observations, {:,} features'.format(matches.shape[0], matches.shape[1]))

players.to_csv('../Data/Merged/players.csv', index=False)
print(f'players:', '{:,} observations, {:,} features'.format(players.shape[0], players.shape[1]))

player_time_wide.to_csv('../Data/Merged/timeseries.csv', index=False)
print(f'timeseries:', '{:,} observations, {:,} features'.format(player_time_wide.shape[0], player_time_wide.shape[1]))

final_df.to_csv('../Data/Merged/final_df.csv', index=False)
print(f'final_df:', '{:,} observations, {:,} features'.format(final_df.shape[0], final_df.shape[1]))